<style id="antiClickjack">body {
    display: none !important;
}</style> <script type="text/javascript">if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }</script> <div class="container"> <div class="row"> <div class="panel panel-info"> <div class="panel-heading">Contact Us</div> <div class="panel-body"> Coming soon </div> </div> </div> </div>