<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <!--Body content-->
            <div ng-show="accountType=='provider'">
                <h3><div msg="" key="manage.providers.title"></div></h3>
                <p><div msg="" key="manage.providers.message"></div></p>
            </div>
            <div ng-show="accountType=='authorizedVendor'">
                <h3><div msg="" key="manage.authorizedVendor.title"></div></h3>
                <p><div msg="" key="manage.authorizedVendor.message"></div></p>
            </div>
            <div ng-show="accountType=='supervisor'">
                <h3><div msg="" key="manage.supervisor.title"></div></h3>
                <p><div msg="" key="manage.supervisor.message"></div></p>
            </div>
            <div class="gridStyle" ng-grid="gridOptions" style="border: 1px solid rgb(212,212,212); width: 800px; height: 400px; font-size: 0.8em;"></div>     
        </div>
    </div>
</div>