<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="container">

    <div style="margin-top: 20px;margin-bottom: 20px" layout="row">
        <md-toolbar  flex="100" class="ig-menu-bar">
            <div class="md-toolbar-tools">
                <h2 flex md-truncate><span msg key="manage.author.title"></span></h2>
            </div>
        </md-toolbar>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div msg key="registration.submittedContent"></div>
        </div>
    </div>


    <!--<div class="row">-->
        <!--<div class="col-md-10">-->
            <!--&lt;!&ndash;Body content&ndash;&gt;-->
            <!--<h3 class="page-header">-->
                <!--<div msg key="registration.submittedTitle"></div>-->
            <!--</h3>-->
           <!---->
        <!--</div>-->
    <!--</div>-->
</div>
