<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10" ng-show="displayForm">
        <!--Body content-->
        <h3><div msg key="registerResetPassword.titleRegister" ng-show="isFirstSetup"></div></h3>
        <h3><div msg key="registerResetPassword.titleReset" ng-hide="isFirstSetup"></div></h3>
        <form name="registerResetPasswordForm" class="form-horizontal" novalidate >
            
            <div class="control-group">
                <label class="control-label" for="inputPassword"><div msg key='registerResetPassword.password'></div></label>
                <div class="controls">
                    <input type="password" class="input-xlarge immediate-help" name="inputPassword" id="inputPassword" ng-model='user.password' ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ehrr-password-validate required></input>
                    <div class="input-help">
                        <h4><div msg key='registration.password.error'></div></h4>
                        <ul>
                            <li ng-class="pwdHasUpperCaseLetter"><div msg key='registration.password.error.upperCaseletter'></div></li>
                            <li ng-class="pwdHasLowerCaseLetter"><div msg key='registration.password.error.lowerCaseletter'></div></li>
                            <li ng-class="pwdHasNumber"><div msg key='registration.password.error.number'></div></li>
                            <li ng-class="pwdValidLength"><div msg key='registration.password.error.length'></div></strong></li>
                        </ul>
                    </div>
                    
                    <span class="valid" ng-show="registerResetPasswordForm.inputPassword.$valid"><img alt="check OK" src="images/check.png"/></span><br>
                </div>
            </div>
             <div class="control-group">
                <label class="control-label" for="inputPasswordConfirm"><div msg key='registerResetPassword.passwordConfirm'></div></label>
                <div class="controls">
                    <input type="password" class="input-xlarge immediate-help" name="inputPasswordConfirm" id="inputPasswordConfirm" ng-model='user.passwordConfirm' ehrr-check-password="inputPassword"  required>
                    <div class="input-help"></input>
                        <h4><div msg key='registration.passwordConfirm.error'></div></h4>
                    </div>
                    <span class="valid" ng-show="registerResetPasswordForm.inputPasswordConfirm.$valid"><img alt="check OK" src="images/check.png"/></span><br>
                </div>
            </div>
            <div class="control-group" ng-show="isFirstSetup">
                <div class="controls">
                     <button class="btn" ng-click='confirmRegistration()' ng-disabled='!registerResetPasswordForm.$valid'><div msg key="registerResetPassword.setButton"></div></button>
                </div>
            </div>
            <div class="control-group" ng-hide="isFirstSetup">
                <div class="controls">
                     <button class="btn" ng-click='changePassword()' ng-disabled='!registerResetPasswordForm.$valid'><div msg key="registerResetPassword.changePwdButton"></div></button>
                </div>
            </div>
        </form>
    </div>
     <div class="span10" ng-show="!displayForm">
        <p>
            <div msg key='registerResetPassword.errorMessage'></div></h4>
        </p>
  </div>
</div>
