<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="container">
    <div style="margin-top: 20px;margin-buttom: 20px" layout="row">
        <md-toolbar  flex="100" class="ig-menu-bar">
            <div class="md-toolbar-tools">
                <h2 flex md-truncate><i class="fa fa-user fa-fw"></i>  <span msg key="registration.titleMessage"></span></h2>
            </div>
        </md-toolbar>

    </div>

<div class="row">
<div class="col-md-10">
<form name="addAccountForm" class="form-horizontal" novalidate>
<div class="form-group control-group"
     ng-class="{'has-success has-feedback': addAccountForm.inputFullName.$valid, 'igl-has-error has-feedback': !addAccountForm.inputFullName.$valid}">
    <label class="control-label col-md-5" for="inputFullName">
        <span msg key='registration.fullname'></span> *
    </label>
    <div class="controls col-md-5">
        <input type="text" class="form-control immediate-help account-input focus" name="inputFullName"
               id="inputFullName" ng-model='account.fullName' ig-check-full-name required>

        <div class="input-help">
            <h4>
                <div msg key='registration.fullname.error'></div>
            </h4>
            <ul>
                <li ng-class="fullNameUnique">
                    <div msg key='registration.fullname.error.notUnique'></div>
                </li>
                <li ng-class="fullNameValid">
                    <div msg key='registration.fullname.error.valid'></div>
                </li>
            </ul>
        </div>
        <!--<span class="valid" ng-show="addAccountForm.inputEmail.$valid"><i class="fa fa-check success"></i></span><br>-->
    </div>

</div>

<div class="form-group control-group"
     ng-class="{'has-success has-feedback': addAccountForm.inputEmail.$valid, 'igl-has-error has-feedback': !addAccountForm.inputEmail.$valid}">
    <label class="control-label col-md-5" for="inputEmail">
               <span msg key='registration.email'></span> *

    </label>

    <div class="controls col-md-5">
        <input type="email" class="form-control immediate-help account-input" name="inputEmail"
               id="inputEmail" ng-model='account.email' ig-check-email required>

        <div class="input-help">
            <h4>
                <div msg key='registration.email.error'></div>
            </h4>
            <ul>
                <li ng-class="emailUnique">
                    <div msg key='registration.email.error.notUnique'></div>
                </li>
                <li ng-class="emailValid">
                    <div msg key='registration.email.error.valid'></div>
                </li>
            </ul>
        </div>
        <!--<span class="valid" ng-show="addAccountForm.inputEmail.$valid"><i class="fa fa-check success"></i></span><br>-->
    </div>
</div>

<div class="form-group control-group"
     ng-class="{'has-success has-feedback': addAccountForm.inputTitle.$valid, 'igl-has-error has-feedback': !addAccountForm.inputTitle.$valid}">
    <label class="control-label col-md-5" for="inputTitle">
        Title
    </label>

    <div class="controls col-md-5">
        <input type="text" class="form-control immediate-help account-input" name="inputTitle"
               id="inputTitle" ng-model='account.title'>
    </div>
</div>

<div class="form-group control-group"
     ng-class="{'has-success has-feedback': addAccountForm.inputEmployer.$valid, 'igl-has-error has-feedback': !addAccountForm.inputEmployer.$valid}">
    <label class="control-label col-md-5" for="inputEmployer">
        Organization
    </label>

    <div class="controls col-md-5">
        <input type="text" class="form-control immediate-help account-input" name="inputEmployer"
               id="inputEmployer" ng-model='account.employer'>

    </div>
</div>

<div class="form-group control-group"
     ng-class="{'has-success has-feedback': addAccountForm.inputUsername.$valid, 'igl-has-error has-feedback': !addAccountForm.inputUsername.$valid}">
    <label class="control-label col-md-5" for="inputUsername">
        <span msg key='registration.username'></span> *
    </label>

    <div class="controls col-md-5">
        <input type="text" class="form-control immediate-help account-input" name="inputUsername"
               id="inputUsername" ng-model='account.username' ng-minlength="4" ng-maxlength="20"
               ng-pattern="/^[A-z][A-z0-9]*$/" ig-check-username required>

        <div class="input-help">
            <h4>
                <div msg key='registration.username.error'></div>
            </h4>
            <ul>
                <li ng-class="usernameUnique">
                    <div msg key='registration.username.error.usernameExist'></div>
                </li>
                <li ng-class="usernameValidLength">
                    <div msg key='registration.username.error.length'></div>
                </li>
            </ul>
        </div>
        <!--<span class="valid" ng-show="addAccountForm.inputUsername.$valid"><img alt="check OK" src="images/check.png"/></span><br>-->
        <!--<span class="valid" ng-show="addAccountForm.inputUsername.$valid"><i class="fa fa-check success"></i></span><br>-->
    </div>
</div>
<div class="form-group control-group"
     ng-class="{'has-success has-feedback': addAccountForm.inputPassword.$valid, 'igl-has-error has-feedback': !addAccountForm.inputPassword.$valid}">
    <label class="control-label col-md-5" for="inputPassword">
        <span msg key='registration.password'></span> *
    </label>

    <div class="controls col-md-5">
        <input type="password" class="form-control immediate-help account-input" name="inputPassword"
               id="inputPassword" ng-model='account.password' ng-minlength="7" ng-maxlength="20"
               ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ig-password-validate required>


        <div class="input-help">
            <h4>
                <div msg key='registration.password.error'></div>
            </h4>
            <ul>
                <li ng-class="pwdHasUpperCaseLetter">
                    <div msg key='registration.password.error.upperCaseletter'></div>
                </li>
                <li ng-class="pwdHasLowerCaseLetter">
                    <div msg key='registration.password.error.lowerCaseletter'></div>
                </li>
                <li ng-class="pwdHasNumber">
                    <div msg key='registration.password.error.number'></div>
                </li>
                <li ng-class="pwdValidLength">
                    <div msg key='registration.password.error.length'></div>
                </li>
            </ul>
        </div>

        <!--<span class="valid" ng-show="addAccountForm.inputPassword.$valid"><i class="fa fa-check success"></i></span><br>-->
    </div>
</div>
<div class="form-group control-group"
     ng-class="{'has-success has-feedback': addAccountForm.inputPasswordConfirm.$valid, 'igl-has-error has-feedback': !addAccountForm.inputPasswordConfirm.$valid}">
    <label class="control-label col-md-5" for="inputPasswordConfirm">
        <span msg key='registration.passwordConfirm'></span> *
    </label>

    <div class="controls col-md-5">
        <input type="password" class="form-control immediate-help account-input"
               name="inputPasswordConfirm" id="inputPasswordConfirm" ng-model='account.passwordConfirm'
               ig-check-password="inputPassword" required>

        <div class="input-help">
            <h4>
                <div msg key='registration.passwordConfirm.error'></div>
            </h4>
        </div>
        <!--<span class="valid" ng-show="addAccountForm.inputPasswordConfirm.$valid"><i class="fa fa-check success"></i></span><br>-->
    </div>
</div>

<div class="form-group control-group">
    <div class="col-md-offset-5 col-md-5">
        <label class="control-label">
            <div msg key="registration.agreement.title"></div>
        </label>

        <div class="controls">
                 <textarea msg key="registration.agreement.content" disabled rows="12"
                          style="text-align:left;width:700px;border:solid 1px gray;">
                </textarea>
                <br/>
                <br/>
                 <label>
                    <input type="checkbox" ng-model="agreed" required>
                    <span msg key="registration.agreement.acceptanceTitle"></span>
                </label>
          </div>
    </div>
</div>

    <div class="form-group">
        <div class="col-md-offset-5 col-md-5">
            <button class="btn btn-raised btn-primary" id="createAccountButton" ng-click='registerAccount()'
                    ng-disabled='!addAccountForm.$valid || registered'>
                <div msg key="registration.createButton"></div>
            </button>
        </div>
    </div>
</form>
</div>
</div>
</div>
