<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ng-controller="UserAccountCtrl" ng-init="initAccount()">
    <div class="container" style="margin-top: 20px"  ng-show="isAuthenticated() && !isPending()">
        <accordion close-others="true">
            <accordion-group is-open="accordi.account" panel-class="panel-info">
                <accordion-heading>
                    <i class="fa"
                       ng-class="{'fa-caret-down': accordi.account, 'fa-caret-right': !accordi.account}"></i>
                    <i class="fa fa-user"></i>&nbsp;<span msg
                                                          key="navbar.account"></span></a>
                </accordion-heading>
                <!--<div class="panel panel-info">-->
                <!--<div class="panel-body">-->
                <div id="account" class="accountMgt">
                    <div ng-include="'views/account/userProfile.html'"></div>
                </div>
                <!--</div>-->
                <!--</div>-->
            </accordion-group>

            <accordion-group is-open="accordi.accounts" panel-class="panel-info" ng-show="isAdmin()">
                <accordion-heading>
                    <i class="fa"
                       ng-class="{'fa-caret-down': accordi.accounts, 'fa-caret-right': !accordi.accounts}"></i>
                    <i class="fa fa-cog"></i>&nbsp;<span msg key="navbar.manage"></span>
                </accordion-heading>
                <!--<div class="panel panel-info">-->
                <!--<div class="panel-body">-->
                <div id="accounts" class="accountMgt">
                    <div ng-include="'views/account/accountsList.html'"></div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="container" style="margin-top: 20px"  ng-show="isPending()">
        <div class="row">
            <div class="col-md-12">
                <div ng-class="'alert alert-warning'" id="ehralert">
                    <div msg key-expr="msg().text"></div>
                </div>
            </div>
        </div>
    </div>
</div>
