*.classpath
*.settings*
*target*
*.project*
*.classpath*
.metadata
Servers
.idea
*.iml
*bower-components*
*node_modules*
*.tmp*
**/*DS_Store
**/WebContent/**
**/logs/**
/bin
igamt-lite-service/DTL_20160824_160325.html
igamt-lite-service/IG_20160824_160346.xml
igamt-lite-service/IG_20160826_110551.xml
igamt-lite-service/SGT_20160824_160316.xml
igamt-lite-service/SGT_20160824_160320.docx
igamt-lite-service/SGT_20160824_160321.html
igamt-lite-service/TBL_20160824_160322.docx
igamt-lite-service/TBL_20160824_160323.html
