*.classpath
*.settings*
*target*
*.project*
*.classpath*
.metadata
Servers
.idea
*.iml
*bower-components*
*node_modules*
*.tmp*
**/*DS_Store
**/WebContent/**
**/logs/**
/bin
igamt-lite-service/IG_*.xml
igamt-lite-service/IG_*.html
igamt-lite-service/IG_*.docx
igamt-lite-service/SGT_*.xml
igamt-lite-service/SGT_*.html
igamt-lite-service/SGT_*.docx
igamt-lite-service/DT_*.xml
igamt-lite-service/DT_*.html
igamt-lite-service/DT_*.docx
igamt-lite-service/TBL_*.xml
igamt-lite-service/TBL_*.html
igamt-lite-service/TBL_*.docx
igamt-lite-service/DTL_*.xml
igamt-lite-service/DTL_*.html
igamt-lite-service/DTL_*.docx
data/db/
igamt-lite-acmgt/bin
igamt-lite-resource/bin
plugins.0500cd7b.js
scripts.7e4951a9.js
editDatatypeInLibrary.html
index-1.html
*webapp/*
*webapp/* >> .gitignorewebapp/WEB-INF/web.xml
*webapp/WEB-INF/web.xml
igamt-lite-service/export_all_report20170327_165622_all_xml.txt
igamt-lite-service/export_report20170327_165600_all_user_html.txt
igamt-lite-service/export_report20170327_165602_all_user_html.txt
igamt-lite-service/export_report20170327_165609_all_user_xml.txt
igamt-lite-service/testComponentDatatypes_20170327_165553.txt
igamt-lite-service/testMessages_20170327_165550.txt
igamt-lite-service/testSegment_20170327_165018.txt
igamt-lite-service/testSegmentContent_20170327_165044.txt
