<div style="overflow: scroll;">
  <p-treeTable [value]="tree" (onNodeExpand)="loadNode($event)" tableStyleClass="table-condensed table-stripped table-bordered">


    <p-column field="obj.name" header="Name" [style]="{'width':'350px'}">
      <ng-template let-col let-node="rowData" pTemplate="body">
        <display-badge [type]="node.data.obj.type"></display-badge> {{node.data.obj.position}} {{node.data.obj.name}}
      </ng-template>
    </p-column>

    <p-column field="obj" header="Usage" [style]="{'width':'100px'}" >
      <ng-template let-col let-node="rowData" pTemplate="body" >
        <div>
          <p-dropdown [options]="usages" [(ngModel)]="node.data.obj.usage" appendTo="body" [style]="{'width' : '100%'}"></p-dropdown>
        </div>
      </ng-template>
    </p-column>

    <p-column header="Cardinality" [style]="{'width':'100px'}">
      <ng-template let-col let-node="rowData" pTemplate="body">
        <input [(ngModel)]="node.data.obj.min" type="number" style="width:45%;border-width:0px 0px 1px 0px"/>
        <input [(ngModel)]="node.data.obj.max" type="text" style="width:45%;border-width:0px 0px 1px 0px"/>
      </ng-template>
    </p-column>

    <p-column header="Length" [style]="{'width':'150px'}">
      <ng-template let-col let-node="rowData" pTemplate="body">
        <input [(ngModel)]="node.data.obj.minLength" type="text" style="width:40%;border-width:0px 0px 1px 0px"/>
        <input [(ngModel)]="node.data.obj.maxLength" type="text" style="width:40%;border-width:0px 0px 1px 0px"/>
        <i class="fa fa-times" style="width:20%;"></i>
      </ng-template>
    </p-column>

    <p-column header="Conf. Length" [style]="{'width':'120px'}" >
      <ng-template let-col let-node="rowData" pTemplate="body">
        <ng-container *ngIf="node.data.obj.confLength != 'NA'">
          <input  [(ngModel)]="node.data.obj.confLength" type="text" style="width: 80%;border-width:0px 0px 1px 0px"/>
          <i class="fa fa-times" style="width:20%;"></i>
        </ng-container>
        <ng-container *ngIf="node.data.obj.confLength === 'NA'">
          <ng-container *ngTemplateOutlet="na"></ng-container>
        </ng-container>
      </ng-template>
    </p-column>

    <p-column header="Datatype" [style]="{'width':'100px'}">
      <ng-template let-col let-node="rowData" pTemplate="body">
        <display-label [elm]="node.data.obj.datatype"></display-label>
      </ng-template>
    </p-column>
    <p-column header="ValueSet / SingleCode">
      <ng-template let-col let-node="rowData" pTemplate="body">
      </ng-template>
    </p-column>
    <p-column header="Constant Value">
      <ng-template let-col let-node="rowData" pTemplate="body">
      </ng-template>
    </p-column>
    <p-column header="Predicate">
      <ng-template let-col let-node="rowData" pTemplate="body">
      </ng-template>
    </p-column>
    <p-column header="Text Definition">
      <ng-template let-col let-node="rowData" pTemplate="body">
      </ng-template>
    </p-column>
    <p-column header="Comment">
      <ng-template let-col let-node="rowData" pTemplate="body">
      </ng-template>
    </p-column>
  </p-treeTable>

</div>

<ng-template #na>
  <div class="x-empty" >
  </div>
</ng-template>
