  
  <div class="row" style="margin-top:20px;">
		<div class="col-md-2" style="margin:25px;">
			<accordion>
			<div accordion-group="" ng-init="isOpen1=true"
				class="panel panel-default" is-open="isOpen1">
				<accordion-heading style="color:white !important;">
				<i class="pull-left fa" style="color: black;"
					ng-class="{'fa-chevron-down': isOpen1, 'fa-chevron-right': !isOpen1}"></i>
				Export Configuration </accordion-heading>
				<div style="margin-bottom: 25px;">
				</div>
          <div class="configBox"> </div>
			</div>
			
		</div>
  
  
  <div class="col-md-9">
  
  <tabset style="width:100%" ng-init ="init()">
                <tab style="width:24%">
                   <tab-heading> IG Style</tab-heading>
                        <div style="width:100%" ng-include="'views/edit/exportConfig/IGStyle.html'"></div>
                </tab>
                <tab style="width:24%">
                     <tab-heading> Profile Style</tab-heading>
                        <div style="width:100%"  ng-include="'views/edit/exportConfig/ProfileStyle.html'"></div>

                </tab>
                <tab style="width:24%">
                     <tab-heading>Table Style</tab-heading>
                        <div style="width:100%" ng-include="'views/edit/exportConfig/TableStyle.html'"></div>

                </tab>
                <tab style="width:24%">
                     <tab-heading>Delta Style</tab-heading>
                Coming Soon
                </tab>


<tabset>  
    
    </div>
  </div>