<div class="login-required-page" ng-show="!isAuthenticated()" style="font-size: 18px;text-align: center;margin:auto; width:90%; height:90%">
    <p>Please <a href="" ng-click="loginReq()"><i class="fa fa-sign-in"></i>&nbsp;login</a> to access this page. You can also
        <a href="#/registration"><i class="fa fa-chevron-circle-right"></i>&nbsp;register</a></p>
</div>


<section ng-if="isAuthenticated()">

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab>
      <md-tab-label>
        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>Export Styles
      </md-tab-label>
      <md-tab-body>
        <div ng-include="'views/edit/exportConfig/editExportConfiguration.html'" onLoad="init()"></div>
      </md-tab-body>
    </md-tab>

    <md-tab>
      <md-tab-label>
        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>Export Fonts
      </md-tab-label>
      <md-tab-body>
        <div ng-include="'views/edit/exportConfig/exportFont.html'" onLoad="initExportFont()"></div>
      </md-tab-body>
    </md-tab>
    
    <md-tab>
      <md-tab-label>
        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>Datatype Library
      </md-tab-label>
      <md-tab-body>
        <div ng-include="'views/edit/exportConfig/exportDatatypeLibraryConfiguration.html'" onLoad="init()"></div>
      </md-tab-body>
    </md-tab>


</md-tabs>
</section>
