<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ng-controller="MasterDatatypeLibraryCtl" ng-init="initDatatypeLibrary()">
    <div ng-show="loading" style="text-align: center">
        <img class="ajax-loading" ng-src="images/ajax.gif" alt="loading..."/>
    </div>
    <div ng-show="!loading">
    <div class="page-header">
        <h3> Master Data Type Library</h3>
    </div>
    <button type="button" class="btn btn-primary btn-sm"
            ng-click="openStandardDataypes()"><i class="fa fa-plus"></i>
        Select HL7 Standard Data Types
    </button>
    <div class="container" style="max-width: 100%; overflow-x: scroll; max-height: 200px; overflow-y: scroll;white-space:nowrap;">
        <table tt-table tt-params="datatypeLibrary" ng-if="datatypeLibrary" class="table table-striped table-bordered">
<thead>
            <tr class="row">
               <td class="col-lg-1">Published</td>
               <td class="col-lg-2">Label</td> 
               <td class="col-lg-9">Description</td>
            </tr>
</thead>
            <tbody></tbody>
        </table>
     <button type="button" class="btn btn-primary btn-sm"
             ng-click="save()"><i class="fa fa-plus"></i>
         Save
     </button>
    </div>
    </div>
</div>
<script type="text/ng-template" id="dataTypeNode.html">
	<tr class="row" tt-node" is-branch="node.type === 'datatype'">
        <td class="col-lg-1"><input type="checkbox" ng-bind="node.selected" ng-model="bool" ng-change="trackSelections(bool, node)"></input><span ng-bind="node.selection" style="margin-left : 7px;"></span></td>
        <td class="col-lg-2" ng-bind="node.label"></td>
        <td class="col-lg-9" ng-bind="node.description"></td>
    </tr>
</script>

<script type="text/ng-template" id="standardDatatypeDlg.html">
<style>
.modal-dialog {
  left : 50%;
  width : 900px;
  margin-left : -450px;
}
</style>
    <div class="modal-dialog">
    <div class="modal-header">
        <h3 class="modal-title">HL7 Standard Data Type Library</h3>
    </div>
    <div class="container modal-body">
    <form>
        <div class="container" style="max-width: 100%; overflow-x: scroll; max-height: 200px; overflow-y: scroll;white-space:nowrap;">
            <table tt-table tt-params="datatypeLibrary" ng-if="datatypeLibrary" class="table table-striped table-bordered">
				<thead>
                <tr class="row">
                   <td class="col-lg-1">Master</td>
                   <td class="col-lg-2">Label</td> 
                   <td class="col-lg-4">Description</td>
                </tr>
				</thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="okDisabled" type="button" ng-click="ok()">Ok</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
</script>