<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<div class="container" ng-init="init()">


	<br /> <br />

	<div class="row">
		<div class="col-md-3">
			<accordion>
			<div accordion-group="" ng-init="isOpen2=true"
				class="panel panel-default" is-open="isOpen2">
				<accordion-heading style="color:black !important;">
				<i class="pull-left fa" style="color: black;"
					ng-class="{'fa-chevron-down':isOpen2, 'fa-chevron-right': !isOpen2}"></i>
				User Guides

					<i class="pull-right fa fa-info" aria-hidden="true" title="How to use IGAMT ?"></i>


				</accordion-heading>
				<div style="margin-bottom: 25px;">
					<i ng-if="isAdmin()" class="fa fa-plus pull-right"
						aria-hidden="true" ng-click="addDocumentation('userGuide')"
						style="margin-top: 5px; margin-right: 10px; cursor: pointer; font-size: 17px"></i>
				</div>

				<ul class="nav nav-pills nav-stacked"
					style="margin-left: 5px !important;">

					<li ng-repeat="documentation in UserGuides"
						ng-click="editDocumentation(documentation)"
						ng-class="{'current':activeId==documentation.id}"><a>{{documentation.title}}</a></li>

				</ul>
			</div>


				<div accordion-group class="panel panel-default" is-open="isOpen3">
					<accordion-heading style="color:black !important;">
						<i class="pull-left fa" style="color: black;"
						   ng-class="{'fa-chevron-down': isOpen3, 'fa-chevron-right': !isOpen3}"></i>

						FAQs 					<i class="pull-right fa fa-info" aria-hidden="true" title="Frequently Asked Questions"></i>
					</accordion-heading>

					<div style="margin-bottom: 25px;">
						<i ng-if="isAdmin()" class="fa fa-plus pull-right"
						   aria-hidden="true" ng-click="addDocumentation('FAQ')"
						   style="margin-top: 5px; margin-right: 10px; cursor: pointer; font-size: 17px"></i>
					</div>

					<ul class="nav nav-pills nav-stacked"
						style="margin-left: 5px !important;">

						<li ng-repeat="documentation in FAQs"
							ng-click="editDocumentation(documentation)"
							ng-class="{'current':activeId==documentation.id}"><a>{{documentation.title}}</a></li>

					</ul>
				</div>

				<div accordion-group="" ng-init="isOpen1=true"
				class="panel panel-default" is-open="isOpen1">
				<accordion-heading style="color:white !important;">
				<i class="pull-left fa" style="color: black;"
					ng-class="{'fa-chevron-down': isOpen1, 'fa-chevron-right': !isOpen1}"></i>
					IGAMT Implementation Decisions <i class="pull-right fa fa-info" aria-hidden="true" title="Implementation decisions made by the developers and stakeholders of IGAMT"></i> </accordion-heading>
				<div style="margin-bottom: 25px;">
					<i ng-if="isAdmin()" class="fa fa-plus pull-right"
						aria-hidden="true" ng-click="addDocumentation('decision')"
						style="margin-top: 5px; margin-right: 10px; cursor: pointer; font-size: 17px"></i>
				</div>

				<ul class="nav nav-pills nav-stacked"
					style="margin-left: 5px !important;">

					<li ng-repeat="documentation in decisions"
						ng-click="editDocumentation(documentation)"
						ng-class="{'current':activeId==documentation.id}"><a>{{documentation.title}}</a></li>

				</ul>
			</div>

			<div accordion-group class="panel panel-default" is-open="isOpen5">
				<accordion-heading style="color:black !important;">
				<i class="pull-left fa" style="color: black;"
					ng-class="{'fa-chevron-down': isOpen5, 'fa-chevron-right': !isOpen5}"></i>
				Releases Notes <i class="pull-right fa fa-info" aria-hidden="true" title="Notes for each release of IGAMT"></i> </accordion-heading>

							<div style="margin-bottom: 25px;">
					<i ng-if="isAdmin()" class="fa fa-plus pull-right"
						aria-hidden="true" ng-click="addDocumentation('releaseNote')"
						style="margin-top: 5px; margin-right: 10px; cursor: pointer; font-size: 17px"></i>
				</div>

				<ul class="nav nav-pills nav-stacked"
					style="margin-left: 5px !important;">

					<li ng-repeat="documentation in releaseNotes"
						ng-click="editDocumentation(documentation)"
						ng-class="{'current':activeId==documentation.id}"><a>{{documentation.title}}</a></li>

				</ul>
			</div>
				<div accordion-group class="panel panel-default" is-open="isOpen4" ng-if="isAuthenticated()">
				<accordion-heading style="color:black !important;">
				<i class="pull-left fa" style="color: black;"
					ng-class="{'fa-chevron-down': isOpen4, 'fa-chevron-right': !isOpen4}"></i>My Notes <i class="pull-right fa fa-info" aria-hidden="true" title="Your general notes. This is visible only to you"></i></accordion-heading>

							<div style="margin-bottom: 25px;">
					<i ng-if="isAdmin()" class="fa fa-plus pull-right"
						aria-hidden="true" ng-click="addDocumentation('UserNote')"
						style="margin-top: 5px; margin-right: 10px; cursor: pointer; font-size: 17px"></i>
				</div>

				<ul class="nav nav-pills nav-stacked"
					style="margin-left: 5px !important;">
					<li ng-repeat="documentation in usersNotes"
						ng-click="editDocumentation(documentation)"
						ng-class="{'current':activeId==documentation.id}"><a>{{documentation.title}}</a></li>

				</ul>
			</div>
				<div accordion-group class="panel panel-default" is-open="isOpen6">
					<accordion-heading style="color:black !important;">
						<i class="pull-left fa" style="color: black;"
						   ng-class="{'fa-chevron-down': isOpen6, 'fa-chevron-right': !isOpen6}"></i> Glossary <i class="pull-right fa fa-info" aria-hidden="true" title="Glossary"></i></accordion-heading>

					<div style="margin-bottom: 25px;">
						<i ng-if="isAdmin()" class="fa fa-plus pull-right"
						   aria-hidden="true" ng-click="addDocumentation('glossary')"
						   style="margin-top: 5px; margin-right: 10px; cursor: pointer; font-size: 17px"></i>
					</div>

					<ul class="nav nav-pills nav-stacked"
						style="margin-left: 5px !important;">
						<li ng-repeat="documentation in glossary"
							ng-click="editDocumentation(documentation)"
							ng-class="{'current':activeId==documentation.id}"><a>{{documentation.title}}</a></li>

					</ul>
				</div>
			</accordion>
		</div>
		<div class="col-md-8" ng-if="documentation"
			style="border-left: 1px solid #eeeeee; min-height: 80px;">
			<div class="" style="margin-bottom: 20px">
				<span class="header4">{{documentation.title}}</span> <span
					class="pull-right"> <i class="fa fa-pencil"
					aria-hidden="true" ng-click="edit()" ng-if="!editMode&&isAdmin()" style="font-size:23px;"></i> <i
					ng-if="isAdmin()" class="fa fa-trash-o" style="color:red;font-size:23px;"
					aria-hidden="true" ng-click="confirmDeleteDocumentation(documentation)"></i></span>
					<br/>
					<span ng-if="!newOne">
					 <i class="fa fa-calendar" aria-hidden="true"></i>
					Updated {{documentation.dateUpdated |date:dateFormat}} <span ng-if="documentation.type!=='UserNote'"> <i class="fa fa-user" aria-hidden="true"></i> {{documentation.username}}</span></span>
			</div>
			<div class="fr-view" ng-if="!editMode&&!newOne">
				<div froala-view="documentation.content"></div>


			</div>

			<div ng-show="editMode||newOne" ng-controller="EditAreaCtrl"
				ng-init="init">
				<form name="editForm" id="editForm">
					<div class="row" style="margin-left: 0px; margin-right: 10px">

						<md-content layout-padding>

						<label  class="input-left igamt-label">Title*</label>

						<md-input-container class=" md-block igamt-input-block" flex-gt-sm>
							<input type="text" name="title" required id="title"
								   class="form-control" ng-model="documentation.title"/>
						</md-input-container>

							<label  class="input-left igamt-label">Content*</label>
							<md-input-container class="md-block igamt-input-block" flex-gt-sm style="margin-top:20px" >
                                                         <textarea froala="froalaEditorOptions"
																  ng-model="documentation.content" id="content" name="content"
																  ng-change="setDirty()"></textarea>
							</md-input-container>

						</md-content>

						<div class="row" style="margin-left: 0px; margin-right: 10px">
						<div class="pull-right">
							<button title="Cancel Changes" type="button"
								class="btn btn-raised btn-sm btn-warning"
								ng-disabled="editForm.$invalid ||!editForm.$dirty"
								ng-click="resetDocumentation(documentation)">
								<span><i class="fa fa-times fa-fw"></i> Reset</span>
							</button>
							<button title="Save Changes" type="submit"
								class="btn btn-raised btn-sm btn-success"
								ng-disabled="editForm.$invalid || !editForm.$dirty"
								ng-click="saveDocumentation(documentation)">
								<span><i class="fa fa-check fa-fw"></i> Save</span>
							</button>
						</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

