<div class="container" ng-controller="EditProfileCtrl" ng-show="settings.step == 1">
    <div class="page-header">
        Edit Profile: {{profile.metaData.name}}
    </div>

    <div>
        <button title="Cancel Edit" type="button" class="pull-right btn btn-xs btn-primary"
                ng-click="applyChanges()">
            <span><i class="fa fa-check-square fa-lg"></i>&nbsp; Apply</span>
        </button>

        &nbsp; &nbsp;
        <button title="Delete" type="button" class="pull-right btn btn-xs btn-danger"
                ng-click="delete()">
            <span> <i class="fa a-trash-o fa-lg"></i>&nbsp; Delete</span>
        </button>

        &nbsp; &nbsp;

        <button title="Cancel Edit" type="button" class="pull-right btn btn-xs btn-warning"
                ng-click="cancel()">
            <span><i class="fa fa-times fa-lg"></i>&nbsp; Cancel</span>
        </button>

    </div>


    <tabset>
        <tab>
            <tab-heading>
                <span class="badge">1</span>
                <i class="glyphicon glyphicon-envelope"></i>
                Profile Information
            </tab-heading>
            <div class="row">
                <div class="col-sm-6">
                    <form name="infoForm" ng-submit="saveInformation()" novalidate>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" ng-model="profile.metaData.name">
                        </div>

                        <div class="form-group">
                            <label>Organization Name</label>
                            <input type="text" name="orgName" class="form-control" ng-model="profile.metaData.orgName">
                        </div>

                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control"
                                    ng-model="profile.metaData.status"
                                    ng-options="status for status in statuses">
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Topics</label>
                            <input type="text" name="topics" class="form-control" ng-model="profile.metaData.topics">
                        </div>

                        <div class="form-group">
                            <label>Type</label>
                            <input type="text" disabled name="type" class="form-control" ng-model="profile.type">
                        </div>

                        <div class="form-group">
                            <label>HL7Version</label>
                            <select class="form-control"
                                    ng-model="profile.hl7Version"
                                    ng-options="hl7Version for hl7Version in hl7Versions">
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Schema version</label>
                            <select class="form-control"
                                    ng-model="profile.schemaVersion"
                                    ng-options="schemaVersion for schemaVersion in schemaVersions">
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Encodings</label>
                        </div>

                        <button type="button" ng-click="reset()" class="btn btn-danger">Reset</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                <span class="badge">2</span>
                <i class="glyphicon glyphicon-transfer"></i>
                Profile Definition
            </tab-heading>


        </tab>


    </tabset>


</div>