<div class="container">
    <hr/>
    <div class="row" id="cf-validator-footer">
        <!--<div class="cf-validator-footeritem">-->
            <!--<a href="http://www.nist.gov" target="_blank"><img class="cf-validator-footerImage" class="img-responsive" src="images/nist_logo.gif" alt="The NIST Logo" title="The NIST Logo" /></a>-->
        <!--</div>-->
        <div class="cf-validator-footeritem">
            <a href="http://www.nist.gov" target="_blank"><img class="footerImage" src="images/nist_logo.gif" alt="The NIST Logo" title="The NIST Logo" /></a>
            <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
                <tr>
                    <td width="135" align="center" valign="top">
                        <script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=igl.nist.gov&amp;size=M&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script><br />
                        <a href="http://www.symantec.com/ssl-certificates" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">ABOUT SSL CERTIFICATES</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="cf-validator-footeritem cf-validator-footerTextItem">
            <p>The National Institute of Standards and Technology (NIST) is an agency of the U.S. Department of Commerce.</p>
            <p class="links">
                <a href="http://nist.gov/public_affairs/privacy.cfm">Privacy policy / security notice / accessibility statement</a> /
                <a href="http://nist.gov/public_affairs/disclaimer.cfm">Disclaimer</a> /
                <br />
            </p>
            <p class="dateCreated"><strong>Date created:</strong> Jan 13, 2015 |  <strong>Last updated:</strong>  |  <strong>Version:</strong>  beta-0.1</p>
            <!--<div class="footeritem">-->
                <!--<a href="http://www.healthit.gov" target="_blank"><img class="footerImage" src="images/onc_cert_logo.gif" alt="The ONC Logo" title="The ONC Logo" /></a>-->
            <!--</div>-->
        </div>
    </div>
</div>