<style id="antiClickjack">
    body {
        display: none !important;
    }
</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--</button>-->

            <span class="navbar-brand">
                <button type="button" ng-click="toggleNavigation()"  class="btn btn-raised btn-lg btn-default btn-nav-bars"  ps-push='true' ps-open="checkedNavigation" ps-container='appcontainer'><i class="fa fa-bars"></i>
                </button>
                <span href="#" id="apptitle">
                    <span msg key="app.title"></span>
                    <span class="badge" style="background-color: lightslategray; font-size:14px"> {{appInfo.version}}</span>
                </span>
            </span>
</div>

        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
            <p class="navbar-text navbar-right">
                          <span ng-if="activeWhen(path()=='/home')">
                             <span class="badge" style="" msg key="navbar.home"></span>
                         </span>
                <span ng-if="activeWhen(path()=='/ig')">
                    <span msg key="navbar.igs"></span>
                </span>
                <span ng-if="activeWhen(path()=='/compare')">
                    <span msg key="navbar.compare"></span>
                </span>
                <span ng-if="activeWhen(path()=='/doc')">
                    <span msg key="navbar.documentation"></span>
                </span>
                <span ng-if="activeWhen(path()=='/about')">
                    <span msg key="navbar.about"></span>
                </span>
                <span ng-if="activeWhen(path()=='/datatypeLibrary')">
                    <span msg key="navbar.datatypeLibrary"></span>
                </span>

</p>

              </div>

        </div>


    </div>
</nav>