<!-- <!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="brand" id="appheader">
        <a style="display: inline-block; text-shadow:none" href="#">
            <div id="apptitle"><div msg key="app.title"></div></div>
            <div id="appsubtitle"><div msg key="app.subtitle"></div></div>
        </a>
        <div id="userInfo" ng-show="isAuthenticated()">
            <div>
                <span>Logged as:</span>
                <span class="userInfoValue" ng-bind="getUsername()"></span>
            </div>
            <div>
                <span>Role: </span>
                <span class="userInfoValue" ng-bind="getRoleAsString()"></span>
            </div>
        </div>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <!--<li ng-class="{'active':isActive('/home')}"><a href="#/home"><i class="glyphicon glyphicon-home"></i>Home</a></li>-->
            <li ng-class="activeWhen(path()=='/home')">
                <a href="#/home"><i class="fa fa-home"></i>&nbsp;<span msg key="navbar.home"></span></a>
            </li>
            <li ng-class="activeWhen(path()=='/ig')"><a href="#/ig"><i class="fa fa-book"></i>&nbsp;<span msg class="msg" key="navbar.igs"></span></a></li>
            <li ng-class="activeWhen(path()=='/doc')"><a href="#/doc"><i class="fa fa-file-text"></i>&nbsp;<span msg class="msg" key="navbar.documentation"></span></a></li>
            <li ng-class="activeWhen(path()=='/about')"><a href="#/about"><i class="fa fa-info-circle"></i>&nbsp;About</a></li>
            <!--<li ng-class="activeWhen(path()=='/contact')"><a href="#/contact"><i class="glyphicon glyphicon-earphone"></i>Contact Us</a></li>-->
            <li ng-class="activeWhen(path()=='/registration')" ng-show="!isAuthenticated()">
                <a href="#/registration"><i class="fa fa-chevron-circle-right"></i>&nbsp;<span msg key="navbar.registration"></span></a>
            </li>
            <li ng-class="activeWhen(path()=='/account')" ng-show="isAuthenticated()">
                <a href="#/account"><i class="fa fa-user"></i>&nbsp;<span msg key="navbar.account"></span></a>
            </li>
            <li ng-class="activeWhen(path()=='/forgotten')" ng-show="!isAuthenticated()">
                <a href="#/forgotten"><div msg key="navbar.forgotten"></div></a>
            </li>

            <li class="dropdown" ng-class="activeIfInList(path(), ['/authors'])" ng-show="isSupervisor() || isAdmin()">
                <a id="reportsmenu" role="button" class="dropdown-toggle" href="#" ng-click="isManageOpen=!isManageOpen"><span msg class="msg" key="navbar.manage"></span><b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="reportsmenu">
                    <li><a tabindex="-1" href="#/authors" ng-click="isManageOpen=false"><span msg key="navbar.manage.authors"></span></a></li>
                    <li ng-show="isAdmin()"><a tabindex="-1" href="#/supervisors" ng-click="isManageOpen=false"><span msg key="navbar.manage.supervisors"></span></a></li>
                </ul>


            </li>
            <li ng-class="activeWhen(path()=='/admin')" ng-show="">
                <a href="#/admin"><div msg key="navbar.admin"></div></a>
            </li>
            <li><div ng-show='showSpinner()'><img src="images/ajax-loader.gif" class="loading"/></div></li>


            <!--<li ng-class="activeWhen(path()=='/registerUser')" ng-show="isAdmin()">-->
                <!--<a href="#/registerUser"><div msg key="navbar.registerUser"></div></a>-->
            <!--</li>-->
        </ul>
        <ul class="nav nav-pills pull-right" ng-show="false">
            <li ng-class="activeWhen(language()=='en')">
                <a ng-click="setLanguage('en')"><div msg class="msg" key="navbar.lang.english"></div></a>
            </li>
        </ul>

        <p class="navbar-text pull-right" style="margin-right: 5em" ng-show="isAuthenticated()">
            <a href="" ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;<span msg class="msg" key="navbar.logout"></span></a>
        </p>
        <p class="navbar-text pull-right" style="margin-right: 5em" ng-show="!isAuthenticated()">
            <a href="" ng-click="loginReq()"><i class="fa fa-sign-in"></i>&nbsp;<span msg class="msg" key="navbar.login"></span></a>
        </p>
        <!--<p class="navbar-text pull-right" ng-class="activeWhen(path()=='/issue')" style="margin-right: 3em">-->
            <!--<a href="#/issue"><i class="fa fa-question"></i><span msg class="msg" key="navbar.issue"></span></a>-->
        <!--</p>-->
    </div>
</div>