<!-- <!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="brand" id="appheader">
        <a style="display: inline-block; text-shadow:none" href="#">
            <div id="apptitle">IGAMT-LITE<span style='color:white; font-size:12px'> Beta</span></div>
            <div id="appsubtitle">Implementation Guide Authoring Tool - Lite</div>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{'active':isActive('/home')}"><a href="#/home"><i class="glyphicon glyphicon-home"></i>Home</a></li>
            <li ng-class="{'active':isActive('/profiles')}"><a href="#/profiles"><i class="glyphicon glyphicon-play-circle"></i>Profile</a></li>
            <li ng-class="{'active':isActive('/doc')}"><a href="#/doc"><i class="glyphicon glyphicon-book"></i>Documentation</a></li>
            <li ng-class="{'active':isActive('/about')}"><a href="#/about">About</a></li>
            <li ng-class="{'active':isActive('/contact')}"><a href="#/contact"><i class="glyphicon glyphicon-earphone"></i>Contact Us</a></li>
        </ul>
    </div>
</div>