<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="igamt-home">
    <div  style="margin-bottom: 20px">
        <!--<div class="row">-->
        <!--<div class="panel panel-info">-->
        <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
        <!--<div class="panel-heading">-->
        <!--<i class="glyphicon glyphicon-list"></i><b> Welcome to the Implementation Guide Authoring and-->
        <!--Management Tool (IGAMT)</b>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px">
                <div clas="page-header">
                    <div class="header5">
                        <span class="pull-left">
                        Welcome to the Implementation Guide Authoring and
                        Management Tool (IGAMT)
                        </span>
                        <span class="pull-right">
                                <button title="Login" ng-show="!isAuthenticated()" type="button" class="btn btn-raised btn-md btn-success"
                                        ng-click="loginReq()">
                                    <span><i
                                            class="fa fa-user"></i> Login</span>
                                </button>
                                </span>
                    </div>
                </div>
             </div>
</div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary home-page-panel">
                    <div class="panel-heading" style="background-color:#4FC3F7; border:1px #4FC3F7;">
                        <span style="font-size: 14px; font-weight: bold">Have a Question?</span>
                    </div>
                    <div class="panel-body">
                        <div class="home-page-panel-content">
                            <p style="text-align: left;">A Google Group <a class="point"
                                                                           ng-href="https://groups.google.com/forum/#!forum/nist-igamt"
                                                                           target="_blank">NIST-IGAMT</a>
                                has been established for discussion/questions about the tool. No
                                membership is required. A Google account is required for posting.</p>
                            <ul>
                                <li>Site: <a class="point" target="_blank"
                                             ng-href="https://groups.google.com/forum/#!forum/nist-igamt">https://groups.google.com/forum/#!forum/nist-igamt</a>
                                </li>
                                <li>Email: nist-igamt@googlegroups.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary home-page-panel">
                    <div class="panel-heading" style="background-color:#4FC3F7; border:1px #4FC3F7;">
                        <span style="font-size: 14px; font-weight: bold">Supported Browsers</span>
                    </div>
                    <div class="panel-body">
                        <div class="home-page-panel-content">
                            <p style="text-align: left">The following browsers are supported:
                            <ul>
                                <li>Chrome <span style="color:red">(Recommended)</span></li>
                                <li>Firefox <span style="color:red"></span></li>
                                <li>Safari</li>
                            </ul>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Three columns of text below the carousel -->
    <div class="row" style="text-align: center; margin-top: 20px">
        <div class="col-md-3" style="width:25%">
            <a style="border:0px" class="btn  btn-default" href="#/registration" role="button">
                <p>
                            <span style="margin-top:5px" class="btn btn-raised btn-info btn-lg" role="button"><i
                                    class="fa fa-user fa-fw"></i>&nbsp; Create an Account</span>
                </p>
            </a>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-3" style="width:25%">
            <a style="border:0px" class="btn  btn-default" href="#/ig" role="button">
                <p><span style="margin-top:5px" class="btn btn-raised btn-info btn-lg" role="button"><i
                        class="fa fa-book fa-fw"></i>&nbsp;IG Documents</span>
                </p>
            </a>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-3" style="width:25%">
            <a style="border:0px" style="border:0px" class="btn  btn-default" href="#/issue" role="button">
                <p><span style="margin-top:5px" class="btn btn-raised btn-info btn-lg" role="button"><i
                        class="fa fa-question fa-fw"></i>&nbsp;Issue</span>
                </p>
            </a>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-3" style="width:25%">
            <a style="border:0px" class="btn btn-default" href="#/about" role="button">
                <p><span style="margin-top:5px" class="btn btn-raised btn-info btn-lg" role="button"><i
                        class="fa fa-info fa-fw"></i>&nbsp;About</span>
                </p>
            </a>
        </div>
    </div>
    <!-- /.row -->
</div>


<br/>
<br/>
<br/>

