<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="container" ng-controller="IGDocumentListCtrl" ng-init="initIGDocuments()">

<div class="row" ng-show="isAuthenticated()">
    <!--<div class="row">-->
    <div ng-show="!isPending()">
        <div class="page-header">
            <h3> Hello, <span ng-bind="getFullName()"></span></h3>
        </div>

        <button type="button" class="btn btn-primary btn-sm"
                ng-click="hl7Versions('btn')" ng-controller="HL7VersionsDlgCtrl"><i class="fa fa-plus"></i>
            Create New IG Document
        </button>

        <accordion close-others="false">
            <accordion-group is-open="accordi.igList" panel-class="panel-info">
                <accordion-heading>
                    <i class="fa"
                       ng-class="{'fa-caret-down': accordi.igList, 'fa-caret-right': !accordi.igList}"></i>
                    <i class="fa fa-file-text-o fa-fw"></i> IG Documents List
                </accordion-heading>
                <!--<div class="panel panel-info">-->
                <!--<div class="panel-body">-->
                <div ng-include="'views/edit/listIG.html'"></div>
                <!--</div>-->
                <!--</div>-->
            </accordion-group>

            <accordion-group is-open="accordi.igDetails" panel-class="panel-info">
                <accordion-heading>
                    <i class="fa"
                       ng-class="{'fa-caret-down': accordi.igDetails, 'fa-caret-right': !accordi.igDetails}"></i>
                    <i class="fa fa-pencil fa-fw"></i>Edit IG Document
                </accordion-heading>
                <!--<div class="panel panel-info">-->
                <!--<div class="panel-body">-->
                <div ng-include="'views/edit/editIG.html'"></div>
                <!--</div>-->
                <!--</div>-->

            </accordion-group>
        </accordion>

        <!--<tabset>-->
        <!--<tab select="selectIgTab(0)" active="igTabs[0]">-->
        <!--<tab-heading>-->
        <!--&lt;!&ndash;<span class="badge">1</span>&ndash;&gt;-->


        <!--</tab-heading>-->

        <!--</tab>-->

        <!--<tab select="selectIgTab(1)" active="igTabs[1]">-->
        <!--<tab-heading>-->
        <!--&lt;!&ndash;<span class="badge">1</span>&ndash;&gt;-->
        <!--<i class="fa fa-pencil fa-fw"></i>-->
        <!--Edit Implementation Guide-->
        <!--</tab-heading>-->

        <!--</tab>-->

        <!--</tabset>-->

    </div>

    <div style="font-size: 18px;text-align: center" ng-show="isPending()">
        <div msg key='account.pendingSection'></div>
    </div>

</div>


<div ng-show="!isAuthenticated()" style="font-size: 18px;text-align: center">
    <p>Please <a href="" ng-click="loginReq()"><i class="fa fa-sign-in"></i>&nbsp;login</a> to access this page. You
        can also <a href="#/registration"><i class="fa fa-chevron-circle-right"></i>&nbsp;register</a></p>
</div>

<script type="text/ng-template" id="hl7VersionsDlg.html">
    <div class="modal-header">
        <h3 class="modal-title">HL7 Versions</h3>
    </div>
    <div class="modal-body">
        <label for="versionSelect"> Select HL7 Version: </label>
        <select ng-show="!igdocument" id="versionSelect" class="form-control input-sm" name="versionSelect"
                ng-options="option for option in hl7Versions" ng-model="hl7Version"
                ng-change="loadIGDocumentsByVersion()">
        </select>
       		<span ng-show="igdocument" name="versionSelect">{{igdocument.profile.metaData.hl7Version}}
			</span>
    </div>
    <form>
        <div style="max-width: 100%; overflow-x: scroll; max-height: 200px; overflow-y: scroll;white-space:nowrap;">
            <table class="igdocument-list table table-striped table-bordered">
                <tr class="tbl-header">
                    <th>&nbsp;</th>
                    <th>Struct Id</th>
                    <th>Version</th>
                    <th>Type</th>
                    <th>Event</th>
                    <th>Description</th>
                </tr>
                <tbody ng-repeat="m in messagesByVersion | orderBy: 'this[2]'">
                <tr>
                    <td><input type="checkbox" ng-model="bool" ng-change="trackSelections(bool, m[0])"></td>
                    <td>{{m[2]}}</td>
                    <td></td>
                    <td></td>
                    <td>{{m[1]}}</td>
                    <td>{{m[3]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="ConfirmIGDocumentDeleteCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Confirmation
        </h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the igdocument ? This operation is irreversible</p>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-sm" ng-disabled="loading" ng-click="cancel()"><span><i
                class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
        </button>
        <button class="btn btn-danger btn-sm" ng-disabled="loading" ng-click="delete()"><span><i
                class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
        </button>
        <div ng-show="loading" style="text-align:center;padding-top:20px; padding-bottom:20px">
            <img class="ajax-loading" ng-src="images/ajax-loader.gif" alt="loading..."/>
        </div>
    </div>
    </div>
</script>


<script type="text/ng-template" id="ConfirmIGDocumentCloseCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Close Confirmation
        </h3>
    </div>
    <div class="modal-body">
        <p>You currently have unsaved changes. Are you sure you want to close the igdocument ? All unsaved changes will
            be lost</p>


    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-sm" ng-disabled="loading" ng-click="cancel()"><span><i
                class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
        </button>
        <button class="btn btn-warning btn-sm" ng-disabled="loading" ng-click="discardChangesAndClose()"><span><i
                class="fa fa-times-circle fa-fw">&nbsp; </i>Discard Changes And Close</span>
        </button>
        <button class="btn btn-primary btn-sm" ng-disabled="loading" ng-click="saveChangesAndClose()"><span><i
                class="fa fa-check-circle fa-fw">&nbsp; </i>Apply Changes And Close</span>
        </button>

        <div ng-show="loading" style="text-align:center;padding-top:20px; padding-bottom:20px">
            <img class="ajax-loading" ng-src="images/ajax-loader.gif" alt="loading..."/>
        </div>
    </div>
</script>


<script type="text/ng-template" id="SelectMessagesOpenCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Select Message to export
        </h3>
    </div>
    <div class="modal-body">
        <div style="max-width: 100%; overflow-x: scroll; max-height: 200px; overflow-y: scroll;white-space:nowrap;">
            <table class="igdocument-list table table-striped table-bordered">
                <tr class="tbl-header">
                    <th>&nbsp;</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                <tbody ng-repeat="message in igdocumentToSelect.profile.messages.children">
                <tr>
                    <td><input type="checkbox" ng-model="bool"  ng-change="trackSelections(bool, message.id)"></td>
                    <td>{{message.identifier}}</td>
                    <td>{{message.name}}</td>
                    <td>{{message.description}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" ng-disabled="loading" ng-click="exportAsZIPforSelectedMessages()"><span><i class="fa fa-file-text fa-fw">&nbsp; </i>Export XMLs (ZIP Archive)</span></button>
		<button class="btn btn-primary btn-sm" ng-disabled="loading" ng-click="exportAsZIPDisplayforSelectedMessages()"><span><i class="fa fa-file-text fa-fw">&nbsp; </i>Export XMLs (ZIP Archive, Display Version)</span></button>
		<button class="btn btn-default btn-sm" ng-disabled="loading" ng-click="cancel()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Close</span></button>
        <div ng-show="loading" style="text-align:center;padding-top:20px; padding-bottom:20px">
            <img class="ajax-loading" ng-src="images/ajax-loader.gif" alt="loading..."/>
        </div>
    </div>
</script>

<script type="text/ng-template" id="ConfirmIGDocumentOpenCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Open Confirmation
        </h3>
    </div>
    <div class="modal-body">
        <p>You currently have an open IG document with unsaved changes. Are you sure you want to open the IG document ?
            All
            unsaved changes will be lost</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-sm" ng-disabled="loading" ng-click="cancel()"><span><i
                class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
        </button>
        <button class="btn btn-warning btn-sm" ng-disabled="loading" ng-click="discardChangesAndOpen()"><span><i
                class="fa fa-times-circle fa-fw">&nbsp; </i>Discard Changes And Open</span>
        </button>
        <button class="btn btn-primary btn-sm" ng-disabled="loading" ng-click="saveChangesAndOpen()"><span><i
                class="fa fa-check-circle fa-fw">&nbsp; </i>Apply Changes And Open</span>
        </button>

        <div ng-show="loading" style="text-align:center;padding-top:20px; padding-bottom:20px">
            <img class="ajax-loading" ng-src="images/ajax-loader.gif" alt="loading..."/>
        </div>
    </div>
</script>


<script type="text/ng-template" id="RichTextCtrl.html">
    <div class="modal-header modal-wide">
        <h3 class="modal-title">{{editorTarget.obj.position}} . {{editorTarget.obj.name}} :
            {{editorTarget.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div text-angular style="width:100%"
                 name="globalEditor" ta-disabled="editorTarget.disabled"
                 ng-model="editorTarget.obj[editorTarget.key]"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()"><span><i class="fa fa-times fa-fw">
            &nbsp; </i>Close</span>
        </button>
    </div>
</script>

<script type="text/ng-template" id="InputTextCtrl.html">
    <div class="modal-header">
        <h3 ng-show="editorTarget.obj.type === 'segmentRef'">
            {{editorTarget.obj.position}}.{{segmentsMap[editorTarget.obj.ref].name}}:{{segmentsMap[editorTarget.obj.ref].description}}</h3>

        <h3 ng-show="editorTarget.obj.type === 'group'">{{editorTarget.obj.position}}.{{editorTarget.obj.name}}</h3>

        <h3 ng-show="editorTarget.obj.type !=  'segmentRef' && editorTarget.obj.type !=  'group'"
            class="modal-title">{{editorTarget.obj.position}} . {{editorTarget.obj.name}} :
            {{editorTarget.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <textarea rows="5" style="width:100%" type="text" ng-disabled="editorTarget.disabled"
                      name="inputEditor" class="form-control" ng-model="editorTarget.obj[editorTarget.key]"
                    ></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()"><span><i class="fa fa-times fa-fw">
            &nbsp; </i>Close</span>
        </button>
    </div>
</script>

<!--<div ng-include="'views/edit/editDatatypes.html'"></div>-->
<!--<div ng-include="'views/edit/editSegments.html'"></div>-->
<!--<div ng-include="'views/edit/editValueSets.html'"></div>-->
<!--<div ng-include="'views/edit/editMessages.html'"></div>-->


</div>

