<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <!--Body content-->
            <p>
Dear EHR Randomizer User:
<br/><br/>
Starting <em style="color:red">October 2</em>, we are asking users to direct all inquiries 
to the ONC JIRA Instance. The <a href="https://ehr-randomizer.nist.gov/ehr-randomizer-app/#/home">Test EHR Program</a> has moved all 
communications to JIRA in an effort to provide improved efficiency 
of service. 
<br/><br/>
<b>In order to submit an inquiry or search existing inquiries, please create an account</b>. 
<br/>
This is a simple process and takes less than a minute:  
<br/>
            <ol>
                <li>Click the link to begin registration: <a href="http://jira.oncprojectracking.org/browse/MCVE">Randomizer JIRA Instance</a></li>
                <li>Click “Log-In” on the top right corner, then click “Sign Up” to create an account.</li>
                <li>Log in with your new Username and Password. </li>
            </ol>
	
JIRA also makes it easy to search existing inquiries and responses for an answer 
to your question, and start new inquiries if you can’t find a similar question.

<ol>
    <li><b>To search existing inquiries, click “Issues” on the left side menu:</b>
        <ol>
            <li>Select “All Issues” from the top menu</li>
            <li>View issues by title on the left, or type your search term into the box and click “Search”</li>
            <li>If an inquiry of interest is still awaiting response, click “Watch Issue” to receive updates when the inquiry is updated</li>
        </ol>
    </li>
    <li><b>If you can’t find an inquiry similar to your own, create a new inquiry:</b>
        <ol>
            <li>To create a new inquiry, click the orange “Create Issue” button at the top of screen to enter your inquiry.  </li>
        </ol>
    </li>
</ol>
    	
 Thank you in advance for your participation and helping us improve our response capacity! For additional questions, please refer to the JIRA FAQs. 

            </p>
<!--            <br/>
            <h3><div msg key="issue.page.nonetechnical.title"></div></h3>
            <p>
                If you have a question or comment that is <b>NOT</b> technical (e.g. process),<br/>
                Please post a message on the <b>ehr-randomizer group</b>.
                <br/>
                <br/>
                You can access the group <a href="https://groups.google.com/forum/#!forum/ehr-randomizer">here</a>                
            </p>
            <br/>
            <h3><div msg key="issue.page.technical.title"></div></h3>
            <p>
                If you have a question or comment that is technical (e.g. server errors, typos, etc...),<br/>
                Please fill out the form below.
            </p>
            <form name="reportIssueForm" class="form-horizontal" novalidate>
                <div class="control-group">
                    <label class="control-label" for="inputTitle"><div msg key='issue.title'></div></label>
                    <div class="controls">
                        <input type="text" class="input-xlarge immediate-help focus" name="inputTitle" id="inputTitle" ng-minlength="2" ng-model='issue.title' required>
                        <div class="input-help input-help">
                            <h4><div msg key='issue.inputTitleError'></div></h4>
                        </div>
                        <span class="valid" ng-show="reportIssueForm.inputTitle.$valid"><img alt="check OK" src="images/check.png"/></span><br>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail"><div msg key='issue.email'></div></label>
                    <div class="controls">
                        <input type="email" class="input-xlarge immediate-help" name="inputEmail" id="inputEmail" ng-model='issue.email'>
                        <div class="input-help">
                            <h4><div msg key='registration.email.error'></div></h4>
                        </div>
                        <span class="valid" ng-show="addAccountForm.inputEmail.$valid"><img alt="check OK" src="images/check.png"/></span><br>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputDescription"><div msg key='issue.description'></div></label>
                    <div class="controls">
                        <textarea class="input-xlarge immediate-help" rows="8" name="inputDescription" id="inputDescription" ng-minlength="20" ng-model='issue.description' required></textarea>
                        <div class="input-help input-help">
                            <h4><div msg key='issue.inputDescriptionError'></div></h4>
                        </div>
                        <span class="valid" ng-show="reportIssueForm.inputDescription.$valid"><img alt="check OK" src="images/check.png"/></span><br>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button class="btn" ng-click='submitIssue()' ng-disabled='!reportIssueForm.$valid'><div msg key="issue.submitButton"></div></button>
                    </div>
                </div>
            </form>-->
        </div>
    </div>
</div>
