<div ng-controller="ProfileListCtrl" ng-init="init()">
    <div class="row">
        <div class="page-header">
        <h3>Predefined Profiles </h3>
        </div>
        <div class="table-responsive">
            <!-- Default panel contents -->
            <!--<div class="panel-heading"><i class="fa fa-list"></i>&nbsp;-->
                <!--Predefined Profiles-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <table st-table="preloaded"
                       class="profile-list table table-striped table-bordered">
                    <thead>
                    <tr class="tbl-header">
                        <th>Name</th>
                        <th>Organization Name</th>
                        <th>HL7 Version</th>
                        <th>Schema Version</th>
                        <th>Type</th>
                        <th>Topic</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in preloaded">
                        <td ng-bind="row.metaData.name"></td>
                        <td ng-bind="row.metaData.orgName"></td>
                        <td ng-bind-html="row.metaData.hl7Version"></td>
                        <td ng-bind-html="row.metaData.schemaVersion"></td>
                        <td ng-bind-html="row.metaData.type"></td>
                        <td ng-bind-html="row.metaData.topic"></td>
                        <td ng-bind-html="row.metaData.status"></td>
                        <td>
                            <button title="Create Copy" type="button" class="btn btn-xs btn-info"
                                    ng-click="clone(row)">
                                <span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Clone</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <!--<tfoot>-->
                    <!--<tr>-->
                        <!--<td colspan="4" class="text-center">-->
                            <!--<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>-->
                        <!--</td>-->
                    <!--</tr>-->

                    <!--</tfoot>-->
                </table>
            <!--</div>-->
        </div>
        <div class="page-header">
        <h3>Custom Profiles </h3>
       </div>
        <div class="table-responsive">
            <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
            <!--<div class="panel-heading"><i class="fa fa-list"></i>&nbsp;-->
                <!--User Profiles-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <table st-table="custom"
                       class="profile-list table table-striped table-bordered">
                    <thead>
                    <tr class="tbl-header">
                        <th>Name</th>
                        <th>Organization Name</th>
                        <th>HL7 Version</th>
                        <th>Schema Version</th>
                        <th>Type</th>
                        <th>Topic</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="row in custom">
                        <td ng-bind="row.metaData.name"></td>
                        <td ng-bind="row.metaData.orgName"></td>
                        <td ng-bind-html="row.metaData.hl7Version"></td>
                        <td ng-bind-html="row.metaData.schemaVersion"></td>
                        <td ng-bind-html="row.metaData.type"></td>
                        <td ng-bind-html="row.metaData.topic"></td>
                        <td ng-bind-html="row.metaData.status"></td>
                        <td>

                            <button title="Edit" type="button" class="btn btn-xs btn-primary"
                                    ng-click="edit(row)">
                                <span><i class="fa fa-pencil fa-fw"></i>&nbsp; Edit</span>
                            </button>
                            <button title="Create Copy" type="button" class="btn btn-xs btn-info"
                                    ng-click="clone(row)">
                                <span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Clone</span>
                            </button>
                            <button title="Delete" type="button" class="btn btn-xs btn-danger"
                                    ng-click="delete(row)">
                                <span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <!--<tfoot>-->
                    <!--<tr>-->
                        <!--<td colspan="4" class="text-center">-->
                            <!--<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tfoot>-->

                </table>
            <!--</div>-->
        </div>
    </div>
</div>







