<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="container" ng-controller="DatatypeLibraryCtl" ng-init="initDatatypeLibrary()">
    <div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">Datatype Library</div>
        <div class="panel-body">
            <span ng-show="start">Started...</span>
            <table>
				<tr ng-repeat="dt in datatypeLibrary.children" ng-model="datatypeLibrary">
				<td>{{dt.label}}</td><td>{{dt.description}}</td>
				</tr>            	
            </table>
        </div>
    </div>
        </div>
</div>