<div class="container" ng-controller="ProfileListCtrl" ng-init="init()">

    <div class="row" ng-show="settings.step == null || settings.step == 0">

        <h3> List Of Predefined Profiles </h3>
        <hr>
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading"><i class="fa fa-list"></i>&nbsp;
                Predefined Profiles
            </div>
            <div class="panel-body">
                <table st-table="tmpPredefineds" st-safe-src="predefineds"
                       class="profile-list table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Hl7 Version</th>
                        <th>Schema Version</th>
                        <th>Version</th>
                        <th>Last Update Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in tmpPredefineds">
                         <td>
                            <span ng-bind="row.metaData.name"></span>
                        </td>
                        <td ng-bind-html="row.hl7Version"></td>
                        <td ng-bind-html="row.schemaVersion"></td>
                        <td ng-bind-html="row.metaData.version"></td>
                        <td ng-bind-html="row.metaData.date"></td>
                        <td>
                            <button title="Create Copy" type="button" class="btn btn-xs btn-primary"
                                    ng-click="create(row)">
                                <span><i class="fa fa-plus-square fa-sm"></i>&nbsp; Create</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>

                    </tfoot>
                </table>
            </div>
        </div>

        <h3> List Of Custom Profiles </h3>
        <hr>
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading"><i class="fa fa-list"></i>&nbsp;
                User Profiles
            </div>
            <div class="panel-body">
                <table st-table="tmpCustoms" st-safe-src="customs"
                       class="profile-list table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Hl7 Version</th>
                        <th>Schema Version</th>
                        <th>Version</th>
                        <th>Last Update Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="row in tmpCustoms">
                         <td>
                            <span ng-bind="row.metaData.name"></span>
                        </td>
                        <td ng-bind-html="row.hl7Version"></td>
                        <td ng-bind-html="row.schemaVersion"></td>
                        <td ng-bind-html="row.metaData.version"></td>
                        <td ng-bind-html="row.metaData.date"></td>
                        <td>
                            <button title="Create Copy" type="button" class="btn btn-xs btn-primary"
                                    ng-click="create(row)">
                                <span><i class="fa fa-plus-square fa-sm"></i>&nbsp; Create</span>
                            </button>
                            <button title="Edit" type="button" class="btn btn-xs btn-primary"
                                    ng-click="edit(row)">
                                <span><i class="fa fa-pencil-square fa-sm"></i>&nbsp; Edit</span>
                            </button>
                            <button title="Delete" type="button" class="btn btn-xs btn-danger"
                                    ng-click="delete(row)">
                                <span><i class="fa fa-trash-o fa-sm">&nbsp; </i>Delete</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>


</div>
</div>
</div>



