<div>


    <tabset>
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-book"></i> Messsages
            </tab-heading>
            <!--<div ng-include="'views/mvDocumentation.html'"></div>-->
        </tab>

        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-book"></i> Datatypes
            </tab-heading>
            <!--<div ng-include="'views/mvDocumentation.html'"></div>-->
        </tab>

        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-book"></i> Conformance Statements
            </tab-heading>
            <!--<div ng-include="'views/mvDocumentation.html'"></div>-->
        </tab>

        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-book"></i> Predicates
            </tab-heading>
            <!--<div ng-include="'views/mvDocumentation.html'"></div>-->
        </tab>

        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-book"></i> Value Sets
            </tab-heading>
            <!--<div ng-include="'views/mvDocumentation.html'"></div>-->
        </tab>
    </tabset>

</div>