<md-content ng-controller="SearchController">
    <div >
        <h1 class="md-title">Search HL7 entities</h1>
        <div layout="row">
            <md-input-container>
                <label>Type</label>
                <md-select ng-model="searchParameters" required>
                    <md-option ng-repeat="type in types" ng-value="type">{{type.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container ng-repeat="field in searchParameters.fields">
                <span ng-if="field.values.length > 0">
                    <label>{{field.name}}</label>
                    <md-select ng-model="field.value" ng-required="field.required">
                        <md-option ng-repeat="value in field.values" value="{{value}}">{{value}}</md-option>
                    </md-select>
                </span>
                <span ng-if="field.values == undefined || field.values.length <= 0">
                    <label>{{field.name}}</label>
                    <input ng-model="field.value" ng-required="field.required"/>
                </span>
            </md-input-container>
            <md-button class="md-primary" ng-click="doSearch()"  ng-disabled="!isFormValid()">Search</md-button>
        </div>
        <div ng-if="data" style="max-height:500px; overflow-y: scroll;">
            <span ng-repeat="entity in data">
                <md-button ng-click="showAdvanced(entity)">
                    {{entity.name}} - {{entity.hl7Version}}
                </md-button>
            </span>
        </div>
        <pre>{{searchParameters | json}}</pre>
    </div>
</md-content>
