<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="warning-dialog.html">
    <div class="modal-header">
        <h3>Your session will expire soon!</h3>
    </div>
    <div idle-countdown="countdown" ng-init="countdown=30" class="modal-body">
        <progressbar type="warning" max="30" value="30" animate="false" class="progress-striped active">Your
            session
            will expire in {{countdown}} second(s).
        </progressbar>
    </div>
</script>

<script type="text/ng-template" id="timedout-dialog.html">
    <div class="modal-body info-dlg">
        <p>
            Your session has expired.
        </p>
    </div>
</script>

<script type="text/ng-template" id="NewAppVersion.html">
    <div class="modal-body error-dlg">
        <div ng-include="'InvalidAppState.html'"></div>
        <br/>
        <div style="text-align:center">
            <p>Please click
                <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                        title="Cancel" class="point">
                    <i class="fa fa-refresh"></i>
                    reset
                </button>
                to reinitialize your browser.</p>
        </div>

    </div>
</script>

<script type="text/ng-template" id="CriticalError.html">
    <div class="modal-body error-dlg">
        <p ng-bind="error">
        </p>
    </div>
    <div class="modal-footer error-dlg">
        <div class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                    title="Cancel" class="point">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="ConfirmLogout.html">
    <div class="modal-header">
        <h3 class="modal-title">Logout Confirmation
        </h3>
    </div>
    <div class="modal-body">
        <p>You currently have unsaved changes. Are you sure you want to proceed ? All unsaved changes will
            be lost</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" ng-disabled="loading" ng-click="logout()"><span><i
                class="fa fa-sign-out fa-fw">&nbsp; </i>Logout</span>
        </button>
        <button class="btn btn-warning btn-sm" ng-disabled="loading" ng-click="cancel()"><span><i
                class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
        </button>
    </div>
</script>