<style>
.grid {
   height: 10em;
   width: 8em;
}
</style>
<div>
<!-- 
  <button id="expandAll" type="button" class="btn btn-success" ng-click="expandAll()">Expand All</button>
  <button id="toggleFirstRow" type="button" class="btn btn-success" ng-click="toggleRow(0)">Toggle First Row</button>
  <button id="toggleSecondRow" type="button" class="btn btn-success" ng-click="toggleRow(1)">Toggle Second Row</button>
  <button id="toggleExpandNoChildren" type="button" class="btn btn-success" ng-click="toggleExpandNoChildren()">Toggle Expand No Children</button>
--> 
  <div id="grid1" ui-grid="gridOptions" ui-grid-tree-view class="grid">ToC</div>
</div>