<div class="vid container">
    <div class="" ng-repeat="node in leveledProfile track by $index" ng-init="toggleToCContents(node.title)"
         ng-model="leveledProfile" style="margin: 1em 0em 0em 0em">

        <div ng-switch on="node.title">
            <div ng-switch-when="Metadata">
                <div class="txt" ng-include="'Metadata.html'"><b> {{node.title}}</b>
                </div>
            </div>
            <div ng-switch-when="Messages">
                <div context-menu context-menu-close="closedCtxMenu(node.title, $index)"
                     data-target="messageHeadContextDiv.html" class="txt">
                     <a class="point" ng-show="node.children && node.children.length > 0"
                        ng-click="toggleToCContents(node.title)">
                         <i class="fa"
                            ng-class="{
				          'fa-caret-right': collapsed[node.title],
				          'fa-caret-down': !collapsed[node.title]
				        }"></i><b> {{node.title}}</b></a>
                </div>
            </div>
            <div ng-switch-default>
                <div context-menu context-menu-close="closedCtxMenu(node.title, $index)"
                     data-target="headContextDiv.html" class="txt">
                     <a class="point" ng-show="node.children && node.children.length > 0"
                             ng-click="toggleToCContents(node.title)">
                         <i class="fa"
                            ng-class="{
				          'fa-caret-right': collapsed[node.title],
				          'fa-caret-down': !collapsed[node.title]
				        }"></i> <b> {{node.title}}</b></a>
                </div>
            </div>
        </div>
        <div class="" ng-repeat="nnode in node.children track by $index" ng-if="!collapsed[node.title]">
            <div ng-if="node.title !== 'Messages'" class="sub-txt" ng-include="'nMessage.html'"></div>
            <div context-menu context-menu-close="closedCtxSubMenu(nnode, $index)" ng-if="node.title === 'Messages'"
                 class="sub-txt" data-target="messageContextDiv.html" ng-include="'Message.html'"></div>
        </div>
    </div>
</div>

<!--
	Context menu partials.
-->
<div class="dropdown position-fixed" id="headContextDiv.html" ng-controller="ContextMenuCtrl">
    <ul class="dropdown-menu" role="menu">
        <li>
            <a class="pointer" role="menuitem" tabindex="1" ng-click="clicked('Add')">Add</a>
        </li>
    </ul>
</div>

<div class="dropdown position-fixed" id="messageHeadContextDiv.html" ng-controller="HL7VersionsDlgCtrl">
    <ul class="dropdown-menu" role="menu">
        <li>
            <a class="pointer" role="menuitem" tabindex="1" ng-click="hl7Versions('ctx')">Add</a>
        </li>
    </ul>
</div>

<div class="dropdown position-fixed" id="messageContextDiv.html" ng-controller="ContextMenuCtrl">
    <ul class="dropdown-menu" role="menu">
        <li>
            <a class="pointer" role="menuitem" tabindex="1" ng-click="clicked('Clone')">Clone</a>
        </li>
        <li>
            <a class="pointer" role="menuitem" tabindex="2" ng-click="clicked('Delete')">Delete</a>
        </li>
    </ul>
</div>
<script type="text/ng-template" id="Metadata.html">
    <a class="point txt" ng-click="tocSelection(node.title, node)">
<!--<span class="fa"-->
      <!--ng-class="{-->
	          <!--'': !collapsed[node.title]-->
	        <!--}"></span>-->
        <span class="">{{node.title}}</span></a>
</script>
<script type="text/ng-template" id="nMessage.html">
    <a class="point txt" ng-click="tocSelection(node.title, nnode)">
<!--<span class="fa"-->
      <!--ng-class="{-->
	          <!--'': !collapsed[node.title]-->
	        <!--}"></span>-->
        <span class="" ng-show="nnode.type === 'segment'">{{nnode.label}}</span>
        <span class="" ng-show="nnode.type === 'table'">{{nnode.bindingIdentifier}}</span>
        <span class="" ng-show="nnode.type === 'datatype'">{{nnode.label}}</span>
        <span class="" ng-show="nnode.type === 'message'">{{nnode.structID}}</span>

    </a>
</script>
<script type="text/ng-template" id="Message.html">
    <a class="point txt" ng-click="tocSelection(node.title, nnode)">
<!--<span class="fa"-->
      <!--ng-class="{-->
	          <!--'': !collapsed[node.title]-->
	        <!--}"></span>-->
        <span class="" ng-show="nnode.type === 'segment'">{{nnode.label}}</span>
        <span class="" ng-show="nnode.type === 'table'">{{nnode.bindingIdentifier}}</span>
        <span class="" ng-show="nnode.type === 'datatype'">{{nnode.label}}</span>
        <span class="" ng-show="nnode.type === 'message'">{{nnode.structID}}</span>
     </a>
</script>
