<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<!-- <session-config> <session-timeout>30</session-timeout> </session-config> -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>igamt-lib</param-value>
	</context-param>
	<!-- <error-page> <location>/views/error.html</location> </error-page> -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/igl_jndi</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<resource-env-ref>
		<description>Mongo JNDI configuration</description>
		<resource-env-ref-name>comp/env/jdbc/igl_mongo</resource-env-ref-name>
		<resource-env-ref-type>org.springframework.data.mongodb.core.MongoTemplate
		</resource-env-ref-type>
	</resource-env-ref>


	<!-- context parameters -->
	<!-- <context-param> <param-name>contextConfigLocation</param-name> <param-value>/WEB-INF/app-config.xml</param-value> 
		</context-param> -->
	<!-- filters -->
	<filter>
		<filter-name>HTTPSecurityFilter</filter-name>
		<filter-class>gov.nist.healthcare.nht.acmgt.servlet.filter.HTTPSecurityFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HTTPSecurityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- <filter> <filter-name>CORSFilter</filter-name> <filter-class> gov.nist.healthcare.tools.hl7.v2.igamt.lite.web.filter.CORSFilter 
		</filter-class> </filter> <filter-mapping> <filter-name>CORSFilter</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->


	<!-- listeners -->
	<!-- <listener> <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
		</listener> -->

	<!-- servlets -->
	
		
	<!-- servlet>
        <servlet-name>RestServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
            <url-pattern>/swagger-ui.html</url-pattern>
    </servlet-mapping -->
	
	<!-- <servlet> <servlet-name>acmgt-api</servlet-name> <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
		<load-on-startup>1</load-on-startup> </servlet> <servlet-mapping> <servlet-name>acmgt-api</servlet-name> 
		<url-pattern>/acmgt-api/*</url-pattern> </servlet-mapping> -->
	<!-- session -->
	<session-config>
		<session-timeout>
			120
		</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>

	</session-config>
	<listener>
		<listener-class>
			org.springframework.security.web.session.HttpSessionEventPublisher
		</listener-class>
	</listener>
	
	<error-page>
		<error-code>404</error-code>
		<location>/Notfound.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/InvalidRequest.html</location>
	</error-page>

	<error-page>
		<error-code>440</error-code>
		<location>/SessionTimeout.html</location>
	</error-page>

	<error-page>
		<error-code>498</error-code>
		<location>/InvalidAppState.html</location>
	</error-page>



</web-app>
	