<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="EditSections.html">
    <div ng-controller="SectionsListCtrl" ng-init="init()" class="container">
        <div ng-show="loadingSelection"
             style="text-align: center;">
            <i class="fa fa-spinner fa-pulse fa-align-center fa-2x"></i>
        </div>
        <div ng-show="!loadingSelection">
            <div class="page-header">
                <!--<span class="header4">{{section.sectionTitle}}</span>-->
     <span class="pull-right">
        <button title="Create Copy" type="button" class="btn btn-xs btn-info"
                ng-click="copySection(section)" ng-hide="options.readonly"
                >
            <span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Copy</span>
        </button>
        <button title="Delete" type="button" ng-hide="options.readonly"
                class="btn btn-xs btn-danger"
                ng-click="delete(section)">
            <span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
        </button>
    </span>
            </div>
            <form name="sectionForm" id="sectionForm" novalidate>
                <div class="col-md-12">
                    <div class="form-group"
                         ng-class="{'has-error' : sectionForm.label.$invalid}">
                        <label>Title</label>
                        <span style="color:red" ng-show="isDuplicated(section,'title', sections)">Existing label (flavor name)</span>
                        <input type="text" disabled
                               ng-change="recordChanged()"
                               name="title" class="form-control"
                               ng-model="section.sectionTitle"
                               required>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea disabled style="width: 100%" name="sectionDescription"
                                      ng-change="recordChanged()"
                                      ng-model="section.sectionDescription">
                                {{section.sectionDescription}}
                            </textarea>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Contents</label>

                                <div text-angular style="width: 100%" name="sectionContents"
                                     ta-disabled="options.readonly"
                                     ng-change="recordChanged()"
                                     ng-model="section.sectionContents">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>