<div ng-controller="TableListCtrl" ng-init="init()" class="container">


<script type="text/ng-template" id="ConfirmValueSetDeleteCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete Table {{tableToDelete.mappingId}} ? </p>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
        </button>
        <button class="btn btn-danger" ng-click="delete()"><span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
        </button>
    </div>
</script>

<script type="text/ng-template" id="ValueSetReferencesCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Table References Found
            <button class="btn btn-primary pull-right" ng-click="ok()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Close</span>
            </button>
        </h3>
    </div>
    <div class="modal-body">
        <p>We cannot delete this table because it is being referenced by elements below:</p>

        <div class="igl-table">
            <table class="table table-striped table-bordered">
                <thead>
                <tr class="tbl-header">
                    <th>Name</th>
                    <th>Path</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ref in references">
                    <td>
                                        <span>
                                              <img style="width:15px; height:15px"
                                                   ng-src="images/{{ref.type}}.png">
                                             <span style="width:60%"
                                                   name="name"
                                                   ng-bind="ref.name"></span>
                                             <span ng-bind="ref.description"></span>
                                         </span>

                    </td>
                    <td>
                        <div>{{ref.path}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Close</span>
        </button>
    </div>
</script>





	<div ng-show="loading" style="text-align: center">
		<img class="ajax-loading" ng-src="images/ajax.gif" alt="loading..." />
	</div>


	<div ng-show="!loading">
		<div class="row">
            <div class="col-md-8">
			<div class="page-header">
				<h3>Tables List</h3>
				<span class="pull-right">
					<button title="Add new Table" type="button" class="btn btn-xs btn-info" ng-click="addTable()">
						<span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Add Table</span>
					</button>
				</span>
			</div>
			<div class="igl-table">
				<table st-table="tmpTables" st-safe-src="tables" class="table table-striped table-bordered">
					<thead>
                        <tr>
                            <th colspan="9"><input st-search="" class="form-control" type="text"/></th>
                        </tr>
						<tr class="tbl-header">
							<th st-sort="mappingId">ID</th>
							<th st-sort="name">Name</th>
							<th st-sort="version">Version</th>
							<th st-sort="codesys">CodeSys</th>
							<th st-sort="oid">OID</th>
							<th st-sort="type">Type</th>
							<th st-sort="stability">Stability</th>
							<th st-sort="extensibility">Extensibility</th>
							<th></th>
						</tr>
						<tr>
                            <th colspan="9">
                                <input st-search="" class="form-control" placeholder="search table..." type="text"/>
                            </th>
                        </tr>
					</thead>

					<tbody>
						<tr st-select-row="row" st-select-mode="single" ng-repeat="row in tmpTables">
							<td ng-bind-html="row.mappingId"></td>
							<td ng-bind="row.name"></td>
							<td ng-bind="row.version"></td>
							<td ng-bind="row.codesys"></td>
							<td ng-bind="row.oid"></td>
							<td ng-bind="row.tableType"></td>
							<td ng-bind="row.stability"></td>
							<td ng-bind="row.extensibility"></td>
							<td>
								<button title="Create Flavor" type="button" class="btn btn-xs btn-info" click-go="/profiles/#tableDef" ng-click="cloneTable(row)">
                        			<span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Flavor</span>
                    			</button>
                    			<button title="Edit" type="button" class="btn btn-xs btn-primary" click-go="/profiles/#tableDef" ng-click="select(row)">
                        			<span><i class="fa fa-pencil fa-fw"></i>&nbsp; Edit</span>
                    			</button>
                    			<button title="Delete" type="button" class="btn btn-xs btn-danger" ng-click="delete(row)">
                        			<span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
                    			</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
                </div>
		</div>

		<div ng-show="loadingSelection" style="text-align: center">
			<i class="fa fa-spinner fa-spin"></i>
		</div>

		<div ng-show="!loadingSelection">
			<div ng-show="table != null">
				<div class="row">
					<form style="margin-top: 20px" class="form-horizontal"
						name="editTableForm">
						<div class="col-md-12" id="tableDef">
							<h3>Table {{table.mappingId}} Metadata</h3>

							<span class="pull-right">
								<button title="Flavor" type="button" class="btn btn-xs btn-info" ng-click="cloneTable(table)">
                            		<span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Flavor</span>
                        		</button>
                        		<button title="Delete" type="button" class="btn btn-xs btn-danger" ng-click="delete(table)">
                            		<span><i class="fa fa-trash-o fa-fw"></i>&nbsp; Delete</span>
                        		</button>
								<button title="Close" type="button" class="btn btn-xs btn-warning" ng-click="close()">
                            		<span><i class="fa fa-times fa-fw"></i>&nbsp; Close</span>
                        		</button>
							</span>
							<hr />
							<div class="col-md-6">
								<label>Mapping Identifier</label>
								<input type="text" name="tableIndentifier" ng-change="recordChangeTable(table,'mappingId')" class="form-control" ng-model="table.mappingId" required>
								<label>Version</label>
								<input type="text" name="version" ng-change="recordChangeTable(table,'version')" class="form-control" ng-model="table.version">
	                            <label>OID</label>
	                            <input type="text" name="oid" ng-change="recordChangeTable(table,'oid')" class="form-control" ng-model="table.oid">
	                            <label>Stability</label>
	                            <select class="form-control"
                                    name="stability"
                                    ng-change="recordChangeTable(table,'stability')"
                                    ng-model="table.stability"
                                    ng-options="stability for stability in tableStabilities">
                            	</select>
	                        </div>
							<div class="col-md-6">
								<label>Name</label>
								<input type="text" name="name" ng-change="recordChangeTable(table,'name')" class="form-control" ng-model="table.name" required>
	                            <label>CodeSys</label>
		                        <input type="text" name="codesys" ng-change="recordChangeTable(table,'codesys')" class="form-control" ng-model="table.codesys">
	                            <label>Type</label>
	                            <input type="text" name="type" ng-change="recordChangeTable(table,'tableType')" class="form-control" ng-model="table.tableType" required>
	                            <label>Extensibility</label>
	                            <select class="form-control"
                                    name="Extensibility"
                                    ng-change="recordChangeTable(table,'extensibility')"
                                    ng-model="table.extensibility"
                                    ng-options="extensibility for extensibility in tableExtensibilities">
                            	</select>
	                        </div>
						</div>
						<hr/>
						<div class="col-md-12">
							<h3>Codes of Table {{table.mappingId}}</h3>
							
							<span class="pull-right">
								<button title="Add new Code" type="button"
									class="btn btn-xs btn-info" ng-click="addCode()">
									<span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Add Code</span>
								</button>
							</span>
							<hr/>
							<div class="table-responsive">
								<table class="table table-striped table-bordered">
									<thead>
										<tr class="tbl-header">
											<th class="col-md-2">Code</th>
											<th class="col-md-3">Label</th>
											<th class="col-md-2">Codesys</th>
											<th class="col-md-2">Source</th>
											<th class="col-md-2">Usage
												<div class="btn-group btn-group-xs btn-info" role="group" aria-label="...">
													<button type="button" ng-click="setAllCodeUsage(table, 'R')" class="btn btn-default btn-info">R</button>
  													<button type="button" ng-click="setAllCodeUsage(table, 'P')" class="btn btn-default btn-info">P</button>
 					 								<button type="button" ng-click="setAllCodeUsage(table, 'E')" class="btn btn-default btn-info">E</button>
												</div>
											</th>
											<th class="col-md-1">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="c in table.codes">
											<td class="col-md-2">
												<input type="text" style="width: 100%" name="Code" class="igl-input" ng-model="c.code" ng-change="recordChangeCode(c,'code', table.id)">
											</td>
											<td class="col-md-3">
												<input type="text" style="width: 100%" name="Label" class="igl-input" ng-model="c.label" ng-change="recordChangeCode(c,'label',table.id)"></td>
											<td class="col-md-2">
												<input type="text" style="width: 100%" name="Codesys" class="igl-input" ng-model="c.codesys" ng-change="recordChangeCode(c,'codesys',table.id)">
											</td>
											<td class="col-md-2">
												<select class="form-control" name="Source"
                                    					ng-change="recordChangeCode(c,'source', table.id)"
                                    					ng-model="c.source"
                                    					ng-options="codeSource for codeSource in codeSources">
                               					</select>
                               				</td>
											<td class="col-md-2">
												<select class="form-control" name="Usage"
                                    					ng-change="recordChangeCode(c,'codeUsage', table.id)"
                                    					ng-model="c.codeUsage"
                                    					ng-options="codeUsage for codeUsage in codeUsages">
                               					</select>
                            				</td>
											<td class="col-md-1">
												<button title="Delete" type="button" class="btn btn-xs btn-danger" ng-click="deleteCode(c)">
													<span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<pre>
                        {{changes | json}}
                </pre>