<div ng-show="!loadingProfile">
<div class="container" ng-show="profile !== null">
    <div class="row">
    <div style="margin-top:20px">
        <span style="font-size: 22px">Implementation Guide: {{profile.metaData.identifier}}</span>
        <div class="pull-right">
            <!--<button title="Cancel Edit" type="button" class="btn btn-warning btn-sm"-->
            <!--ng-click="reset()">-->
            <!--<span><i class="fa fa-times"></i>&nbsp; Reset</span>-->
            <!--</button>-->

            <button title="Apply Changes" ng-disabled="!hasChanges()" type="button" class="btn btn-success btn-sm"
                    ng-click="save()">
                <span><i class="fa fa-check"></i>&nbsp; Apply</span>
            </button>

            <!--<button title="Verify Changes" ng-disabled="!hasChanges()" type="button" class="btn btn-success btn-sm"-->
                    <!--ng-click="verify()">-->
                <!--<span><i class="fa fa-check-circle"></i>&nbsp; Verify</span>-->
            <!--</button>-->

            <div class="btn-group">
                <button ng-disabled="hasChanges()" type="button" class="btn btn-primary btn-sm"><span><i
                        class="fa fa-file-text-o fa-fw">&nbsp; </i></span>
                    Export
                </button>
                <button ng-disabled="hasChanges()" type="button" class="btn btn-primary btn-sm dropdown-toggle"
                        data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="exportAs(profile.id, 'zip')">As ZIP</a></li>
                    <li><a ng-click="exportAs(profile.id,'pdf')">As PDF</a></li>
                    <li><a ng-click="exportAs(profile.id,'xslx')">As XSLX</a></li>
                    <li><a ng-click="exportDelta(profile.id,'pdf')">Delta</a></li>
                </ul>
            </div>

            <!--<button ng-disabled="!hasChanges()"   ng-click="exportChanges()" type="button" class="btn btn-primary btn-sm"><span><i-->
            <!--class="fa fa-file-text-o fa-fw">&nbsp; </i></span>-->
            <!--Export Changes-->
            <!--</button>-->

            <button title="Close" type="button" class="btn btn-warning btn-sm"
                    ng-click="close()">
                <span><i class="fa fa-times"></i>&nbsp; Close</span>
            </button>

            <button title="Delete" type="button" class="btn btn-danger btn-sm"
                    ng-click="confirmDelete(profile)">
                <span> <i class="fa fa-trash"></i>&nbsp; Delete</span>
            </button>

        </div>
        </div>
    <br/>

    <!--<div ng-show="error !== null">-->
        <!--<div class="alert alert-danger" role="alert" ng-bind="error"></div>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div ng-show="generalInfo.message !== null">-->
        <!--<br/>-->

        <!--<div class="alert alert-{{generalInfo.type}}" role="alert" ng-bind="generalInfo.message"></div>-->
        <!--<br/>-->
    <!--</div>-->
    </div>
    <div class="row">
        <div ng-show="loading" style="text-align:center">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div ng-show="!loading">
        <tabset>
            <tab select="selectProfileTab(0)" active="profileTabs[0]">
                <tab-heading>
                    <!--<span class="badge">1</span>-->
                    <i class="fa fa-file-text-o fa-fw"></i>
                    MetaData
                </tab-heading>
                <div ng-include="'views/edit/editDocument.html'"></div>
            </tab>

            <tab select="selectProfileTab(1)" active="profileTabs[1]">
                <tab-heading>
                    <!--<span class="badge">M</span>-->
                    <i class="fa fa-book fa-fw"></i>
                    Conformance Profiles
                </tab-heading>
                <div ng-include="'views/edit/editMessages.html'"></div>
            </tab>

            <tab disabled="message === null" select="selectProfileTab(2)" active="profileTabs[2]">
                <tab-heading>
                    <!--<span class="badge">S</span>-->
                    <i class="fa fa-book fa-fw"></i>
                    Segments
                </tab-heading>
                <div ng-include="'views/edit/editSegments.html'"></div>
            </tab>

            <tab disabled="message === null" select="selectProfileTab(3)" active="profileTabs[3]">
                <tab-heading>
                    <!--<span class="badge">D</span>-->
                    <i class="fa fa-book fa-fw"></i>
                    Datatypes
                </tab-heading>
                <div ng-include="'views/edit/editDatatypes.html'"></div>
            </tab>

            <tab disabled="message === null" select="selectProfileTab(4)" active="profileTabs[4]">
                <tab-heading>
                    <!--<span class="badge">V</span>-->
                    <i class="fa fa-book fa-fw"></i>
                    ValueSets
                </tab-heading>
                <div ng-include="'views/edit/editValueSets.html'"></div>
            </tab>
            <tab disabled="message === null" select="selectProfileTab(5)" active="profileTabs[5]">
                <tab-heading>
                    <!--<span class="badge">C</span>-->
                    <i class="fa fa-book fa-fw"></i>
                    Constraints
                </tab-heading>
                <div ng-include="'views/edit/constraints.html'"></div>
            </tab>
        </tabset>
        </div>

    </div>

        </div>

<div class="container" ng-show="profile === null" style="text-align:center; padding-top:20px">
     <p>No Implementation Guide Selected.</p>
</div>
</div>

<div class="container" ng-show="loadingProfile" style="text-align:center; padding-top:20px">
    <!--<i class="fa fa-spinner fa-spin fa-lg"></i>-->
    <img class="ajax-loading" ng-src="images/ajax-loader.gif" alt="loading..."/>

</div>
