<div ng-controller="MessageListCtrl" ng-init="init()">


    <div ng-show="loading" style="text-align:center">
        <i class="fa fa-spinner fa-spin"></i>
    </div>

    <div ng-show="!loading">
        <div class="page-header">
            <h3>Conformance Profile List</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="">
                <table st-table="tmpMessages" st-safe-src="messages"
                       class="table table-striped table-bordered">
                    <thead>
                    <tr class="tbl-header">
                        <th></th>
                        <th st-sort="identifier">Identifier</th>
                        <th st-sort="messageType">Type</th>
                        <th st-sort="event">Event</th>
                        <th st-sort="structID">Struct ID</th>
                        <th>Description</th>
                        <th>Comment</th>
                    </tr>
                    <tr>
                        <th colspan="7">
                            <input st-search class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr st-select-row="row" st-select-mode="single" ng-repeat="row in tmpMessages">
                        <td cs-select="row"><input ng-click="select(row.id)"
                                                   ng-checked="message != null && row.id == message.id"
                                                   type="radio"></td>
                        <td ng-bind="row.identifier"></td>
                        <td ng-bind="row.messageType"></td>
                        <td ng-bind-html="row.event"></td>
                        <td ng-bind-html="row.structID"></td>
                        <td ng-bind-html="row.description"></td>
                        <td ng-bind="row.comment"></td>
                    </tr>
                    </tbody>
                </table>
                    </div>
            </div>
        </div>

        <div ng-show="loadingSelection" style="text-align:center">
            <img class="ajax-loading" ng-src="images/ajax.gif" alt="loading..."/>
        </div>

        <div ng-show="info !== null" style="text-align:center">
            <div class="alert alert-info" role="alert" ng-bind="info"></div>
        </div>

        <div ng-show="message !== null && !loadingSelection" style="padding-top:40px">


            <div>
                <span class="igl-title">Edit Conformance Profile Information: {{message.identifier}}</span>
                        <span class="pull-right">
                        <button title="Close" type="button" class="btn btn-xs btn-primary"
                                ng-click="close()">
                            <span><i class="fa fa-times fa-fw"></i>&nbsp; Close</span>
                        </button>
                        </span>
                </span>
            </div>

            <form name="messageMetaDataForm" novalidate>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group"
                             ng-class="{'has-error' : messageMetaDataForm.identifier.$invalid && !messageMetaDataForm.identifier.$pristine }">
                            <label>Identifier</label>
                            <input type="text"
                                   ng-change="recordChange2('message',message.id,'identifier', message.identifier)"
                                   name="identifier" class="form-control" ng-model="message.identifier"
                                   required>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text"
                                   ng-change="recordChange2('message',message.id,'description', message.description)"
                                   name="structID" class="form-control" ng-model="message.description"
                                   required>
                        </div>

                        <div class="form-group">
                            <label>Comment</label>
                            <input style="width:100%" class="igl-input" type="text"
                                   name="comment"
                                   ng-change="recordChange2('message',message.id,'comment', message.comment)"
                                   ng-model="message.comment">

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group"
                             ng-class="{'has-error' : messageMetaDataForm.type.$invalid && !messageMetaDataForm.type.$pristine }">
                            <label>Type</label>
                            <input type="text" name="type" class="form-control" ng-model="message.messageType"
                                   required disabled>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error' : messageMetaDataForm.structID.$invalid && !messageMetaDataForm.structID.$pristine }">
                            <label>Struct ID</label>
                            <input type="text" name="structID" class="form-control" ng-model="message.structID"
                                   required disabled>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error' : messageMetaDataForm.event.$invalid && !messageMetaDataForm.event.$pristine }">
                            <label>Event</label>
                            <input type="text" name="event" class="form-control" ng-model="message.event"
                                   required disabled>
                        </div>
                    </div>
                </div>
            </form>

            <div class="page-header">
                <h4>Conformance Profile Content</h4>
            </div>
            <table tt-table tt-params="params" class="table table-striped table-bordered">
                <thead>
                <tr class="tbl-header row">
                    <th class="col-md-5">Name</th>
                    <th class="col-md-1">Usage</th>
                    <th class="col-md-1">Cardinality</th>
                    <th class="col-md-1">Ref</th>
                    <th class="col-md-2">Predicate</th>
                    <th class="col-md-2">Conformance Statement</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            <script type="text/ng-template" id="MessageEditTree.html">
                <tr tt-node is-branch="hasChildren(node)" class="row">
                    <td class="col-md-5">
                                        <span ng-show="node.type !== 'segmentRef' && node.type !== 'group'">
                                            <span>{{node.event}}^{{node.structID}}:{{node.description}}</span>
                                         </span>
                                        <span ng-show="node.type === 'segmentRef' || node.type === 'group'">
                                            <img ng-if="node.type === 'segmentRef'" style="width:15px; height:15px"
                                                 ng-src="images/segment.png">
                                            <img ng-if="node.type === 'group'" style="width:15px; height:15px"
                                                 ng-src="images/group.png">
                                            <span ng-if="node.type === 'segmentRef'">{{node.position}}.{{node.ref.name}}:{{node.ref.description}}</span>
                                            <span ng-if="node.type === 'group'">{{node.position}}.{{node.name}}</span>
                                        </span>
                    </td>
                    <td class="col-md-1">
                        <div ng-show="node.type === 'segmentRef' || node.type === 'group'">
                                            <span ng-show="!node.predicates || node.predicates == null || node.predicates.length == 0">
                                                <select class="form-control input-sm"
                                                        name="usage"
                                                        ng-change="recordChange(node,'usage')"
                                                        required
                                                        ng-model="node.usage"
                                                        ng-options="usage for usage in usages">
                                                </select>
                                            </span>
                            <span ng-show="node.predicates != null && node.predicates.length > 0">C({{node.predicates[0].trueUsage}}, {{node.predicates[0].falseUsage}})</span>

                        </div>
                        <div ng-show="node.type !== 'segmentRef' && node.type !== 'group'">-</div>
                    </td>
                    <td class="col-md-1">
                        <div ng-show="node.type === 'segmentRef' || node.type === 'group'"
                             ng-controller="MessageRowCtrl">
                                            <span ng-form name="{{formName}}">
                                                <input style="width:45%" class="igl-input"
                                                       name="min"
                                                       ng-change="recordChange(node,'min')"
                                                       ng-pattern="/^\d+$/"
                                                       ng-class="{ 'has-error' : {{formName}}.min.$invalid}"
                                                       ng-model="node.min" required ng-minlength="1">
                                                <input style="width:45%" class="igl-input" type="text"
                                                       name="max"
                                                       ng-change="recordChange(node,'max')"
                                                       ng-class="{ 'has-error' : {{formName}}.max.$invalid}"
                                                       ng-pattern="/^\d+$|^\*?$/"
                                                       ng-model="node.max" required>
                                            </span>
                        </div>
                        <div ng-show="node.type !== 'segmentRef' && node.type !== 'group'">-</div>
                    </td>
                    <td class="col-md-1">
                                        <span ng-show="node.type === 'segmentRef'">
                                            <a class="point"
                                               ng-click="goToSegment(node.ref.id)"
                                               ng-bind="node.ref.label"></a>
                                        </span>

                        <div ng-show="node.type !== 'segmentRef'">-</div>
                    </td>
                    <td class="col-md-2"></td>
                    <td class="col-md-2"></td>
                </tr>
            </script>
        </div>
    </div>

    <!--<br/>-->
                    <!--<pre>-->
                        <!--{{changes | json}}-->
                            <!--</pre>-->


</div>
