<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="EditSections.html">
    <div ng-controller="SectionsListCtrl" ng-init="init()" class="container">
        <div ng-show="loadingSelection"
             style="text-align: center;">
            <i class="fa fa-spinner fa-pulse fa-align-center fa-2x"></i>
        </div>
        <div ng-show="!loadingSelection">
            <form name="sectionForm" id="sectionForm" class="form-horizontal" novalidate>
                <div class="row">
                    <div class="col-md-12 igl-page-header">
                        <div class="form-group control-group pull-left"  ng-hide="viewSettings.tableReadonly || isFixedSectionTitle(section)"
                             ng-class="{'igl-has-error has-feedback' : sectionForm.title.$invalid}">
                            <input type="text"
                                   style="width:500px"
                                   ng-change="recordChanged()"
                                   name="title" id="title" class="form-control"
                                   ng-model="section.sectionTitle"
                                   required

                                   aria-describedby="helpBlock2">
                            <span id="helpBlock2" class="help-block" style="color:red"
                                  ng-show="isDuplicated(section,'title', sections)">Label already used</span>

                        </div>

                        <span ng-show="viewSettings.tableReadonly || isFixedSectionTitle(section)" class="header4 pull-left">{{section.sectionTitle}}</span>

                    </div>

                    <div class="col-md-12">
                        <div class="form-group control-group"
                             ng-class="{'igl-has-error has-feedback' : sectionForm.content.$invalid}">
                            <label>Contents</label>

                            <div ng-if="!viewSettings.tableReadonly">
                                 <textarea froala="froalaEditorOptions" ng-model="section.sectionContents"
                                          id="content"
                                          name="content" autofocus
                                          ng-change="recordChanged()"></textarea>
                             </div>
                            <div ng-if="viewSettings.tableReadonly">
                                <div class="fr-view">
                                <div froala-view="section.sectionContents"></div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</script>