<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="EditValueSets.html">
<div ng-controller="TableListCtrl" ng-init="init()" class="container">
<div ng-show="loadingSelection" style="text-align: center; padding-top:20px">
    <i class="fa fa-spinner fa-pulse fa-align-center fa-2x"></i>
</div>

<div ng-show="!loadingSelection">
<div ng-show="table != null" class="row">
    <form name="editTableForm" novalidate>
        <div class="col-md-12">
            <span class="header4">Table {{table.bindingIdentifier}}</span>
							<span class="pull-right">
								<button title="Flavor" type="button" class="btn btn-sm btn-info"
                                        ng-hide="options.readonly" ng-disabled='!editTableForm.$valid'
                                        ng-click="copyTable(table)">
                                    <span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Copy</span>
                                </button>
 								<!--<button title="Close" type="button" class="btn btn-sm btn-warning" ng-click="close()">-->
                                    <!--<span><i class="fa fa-times fa-fw"></i>&nbsp; Close</span>-->
                                <!--</button>-->
	                       		<button title="Delete" type="button" class="btn btn-sm btn-danger"
                                        ng-hide="options.readonly"
                                        ng-click="delete(table)">
                                    <span><i class="fa fa-trash-o fa-fw"></i>&nbsp; Delete</span>
                                </button>
							</span>
            <hr/>
        </div>
        <div class="col-md-12">
            <!--<accordion close-others="false">-->
            <!--<accordion-group is-open="true" panel-class="panel-info">-->
            <!--<accordion-heading>-->
            <!--<i class="fa"-->
            <!--ng-class="{'fa-caret-down': accordi.metaData, 'fa-caret-right': !accordi.metaData}"></i>-->
            <!--MetaData-->
            <!--</accordion-heading>-->
            <div class="col-md-12">
                <div class="col-md-6">
                    <label>Mapping Identifier</label>
                    <span style="color:red" ng-show="isDuplicated(table,'bindingIdentifier', tables)">Existing mapping Identifier</span>
                    <input type="text" name="tableIndentifier" ng-disabled="options.readonly"
                           ng-change="recordChangeTable(table,'bindingIdentifier', table.bindingIdentifier)"
                           class="form-control" ng-model="table.bindingIdentifier" required>
                    <label>Version</label>
                    <input type="text" name="version" ng-disabled="options.readonly"
                           ng-change="recordChangeTable(table,'version', table.version)"
                           class="form-control"
                           ng-model="table.version">
                    <label>OID</label>
                    <input type="text" name="oid" ng-disabled="options.readonly"
                           ng-change="recordChangeTable(table,'oid', table.oid)"
                           class="form-control" ng-model="table.oid">
                    <label>Stability</label>
                    <select class="form-control" ng-disabled="options.readonly"
                            name="stability"
                            ng-change="recordChangeTable(table,'stability', table.stability)"
                            ng-model="table.stability"
                            ng-options="stability for stability in config.tableStabilities">
                    </select>
                    <label>Content Definition</label>
                    <select class="form-control" ng-disabled="options.readonly"
                            name="contentDefinition"
                            ng-change="recordChangeTable(table,'contentDefinition', table.contentDefinition)"
                            ng-model="table.contentDefinition"
                            ng-options="contentDefinition for contentDefinition in config.tableContentDefinitions">
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Name</label>
                    <input type="text" name="name" ng-disabled="options.readonly"
                           ng-change="recordChangeTable(table,'name', table.name)"
                           class="form-control" ng-model="table.name" required>
                    <label>Description</label>
                    <input type="text" name="description" ng-disabled="options.readonly"
                           ng-change="recordChangeTable(table,'description', table.description)"
                           class="form-control" ng-model="table.description">
                    <label>Type</label>
                    <input type="text" name="type" ng-disabled="options.readonly"
                           ng-change="recordChangeTable(table,'tableType', table.tableType)"
                           class="form-control" ng-model="table.tableType">
                    <label>Extensibility</label>
                    <select class="form-control" ng-disabled="options.readonly"
                            name="Extensibility"
                            ng-change="recordChangeTable(table,'extensibility', table.extensibility)"
                            ng-model="table.extensibility"
                            ng-options="extensibility for extensibility in config.tableExtensibilities">
                    </select>
                    <label>Code Systems</label>

                    <div class="form-control">
											<span ng-repeat="cs in codeSystems">
												{{cs}}
												<a ng-click="delCodeSystem(cs)" ng-show="codeSysEditMode" class="point">
                                                    <span><i class="fa fa-times-circle fa-fw"></i></span>
                                                </a>
											</span>

                        <div class="pull-right" ng-hide="options.readonly">

                            <a ng-click="makeCodeSystemEditable()" ng-hide="codeSysEditMode" class="point">
                                <span><i class="fa fa-pencil fa-fw"></i></span>
                            </a>

                            <input class="form-control" ng-model="codeSysForm.str" type="text"
                                   ng-show="codeSysEditMode"/>
                            <a ng-click="addCodeSystem()" ng-show="codeSysEditMode" class="point">
                                <span><i class="fa fa-plus-circle fa-fw"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <!--</accordion-group>-->
            <!--<accordion-group is-open="true" panel-class="panel-info">-->
            <!--<accordion-heading>-->
            <!--<i class="fa" ng-class="{'fa-caret-down': accordi.definition, 'fa-caret-right': !accordi.definition}"></i> Values-->
            <!--</accordion-heading>-->
            <div class="margin-top:40px">
                <div class="col-md-12">
										<span class="pull-left">
											<div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Search Value"
                                                       ng-model="searchValue.value"/>
                                            </div>
										</span>
 										<span class="pull-right">
											<button title="Add new Value" type="button" ng-hide="options.readonly"
                                                    class="btn btn-sm btn-primary" ng-click="addValue()">
                                                <span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Add Value</span>
                                            </button>
										</span>

                    <div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr class="tbl-header">
                                        <th class="col-md-3">Value</th>
                                        <th class="col-md-4">Description</th>
                                        <th class="col-md-2">CodeSystem
                                            <select class="form-control" ng-hide="options.readonly"
                                                    name="setALLCodeSystem"
                                                    ng-change="updateCodeSystem(table,codeSystem)"
                                                    ng-model="codeSystem"
                                                    ng-options="cs for cs in codeSystems">
                                            </select>
                                        </th>
                                        <th class="col-md-2">Usage
                                            <div class="btn-group btn-group-xs btn-info" role="group"
                                                 ng-hide="options.readonly" aria-label="...">
                                                <button type="button" ng-click="setAllCodeUsage(table, 'R')"
                                                        ng-disabled="options.readonly" class="btn btn-default btn-info">
                                                    R
                                                </button>
                                                <button type="button" ng-click="setAllCodeUsage(table, 'P')"
                                                        ng-disabled="options.readonly" class="btn btn-default btn-info">
                                                    P
                                                </button>
                                                <button type="button" ng-click="setAllCodeUsage(table, 'E')"
                                                        ng-disabled="options.readonly" class="btn btn-default btn-info">
                                                    E
                                                </button>
                                            </div>
                                        </th>
                                        <th class="col-md-1">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="c in table.codes | filter:searchValue">
                                        <td class="col-md-3">
                                            <span ng-show="options.readonly">{{c.value}}</span>
                                            <input type="text" style="width: 100%" name="Value"
                                                   ng-hide="options.readonly"
                                                   class="form-control"
                                                   ng-model="c.value"
                                                   ng-change="recordChangeValue(c,'value',c.value ,table.id)"/>
                                            <span style="color:red" ng-show="isDuplicated(c,'value', table.codes)">Duplicated</span>
                                        </td>
                                        <td class="col-md-4">
                                            <span ng-show="options.readonly">{{c.label}}</span>
                                            <input type="text" style="width: 100%" name="Label"
                                                   ng-hide="options.readonly"
                                                   class="form-control"
                                                   ng-model="c.label"
                                                   ng-change="recordChangeValue(c,'label',c.label ,table.id)"/>
                                        </td>
                                        <td class="col-md-2">
                                            <span ng-show="options.readonly">{{c.codeSystem}}</span>
                                            <select class="form-control" ng-hide="options.readonly"
                                                    ng-change="recordChangeValue(c,'codeSystem',c.codeSystem ,table.id)"
                                                    ng-model="c.codeSystem"
                                                    ng-options="cs for cs in codeSystems">
                                            </select>
                                        </td>
                                        <td class="col-md-2">
                                            <span ng-show="options.readonly">{{c.codeUsage}}</span>
                                            <select class="form-control" name="Usage"
                                                    ng-change="recordChangeValue(c,'codeUsage',c.codeUsage, table.id)"
                                                    ng-hide="options.readonly"
                                                    ng-model="c.codeUsage"
                                                    ng-options="codeUsage for codeUsage in config.codeUsages">
                                            </select>
                                        </td>
                                        <td class="col-md-1">
                                            <button title="Delete" type="button" class="btn btn-sm btn-danger"
                                                    ng-hide="options.readonly" ng-click="deleteValue(c)">
                                                <span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</script>

<script type="text/ng-template" id="ConfirmValueSetDeleteCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete Table {{tableToDelete.bindingIdentifier}} ? </p>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
        </button>
        <button class="btn btn-danger" ng-click="delete()"><span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
        </button>
    </div>
</script>

<script type="text/ng-template" id="ValueSetReferencesCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Table References Found
            <button class="btn btn-primary pull-right" ng-click="ok()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Close</span>
            </button>
        </h3>
    </div>
    <div class="modal-body">
        <p>We cannot delete this table because it is being referenced by elements below:</p>

        <div class="igl-table">
            <table class="table table-striped table-bordered">
                <thead>
                <tr class="tbl-header">
                    <th>Name</th>
                    <th>Path</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ref in references">
                    <td>
                                        <span>
                                              <img style="width:15px; height:15px"
                                                   ng-src="images/{{ref.type}}.png">
                                             <span style="width:60%"
                                                   name="name"
                                                   ng-bind="ref.name"></span>
                                             <span ng-bind="ref.description"></span>
                                         </span>

                    </td>
                    <td>
                        <div>{{ref.path}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Close</span>
        </button>
    </div>
</script>