<style id="antiClickjack">body {
  display: none !important;
}</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>
<script type="text/ng-template" id="EditValueSetRoot.html">
  <div class="container">
    <div class="page-header">
      <span class="header4">Section: {{section.sectionTitle}} </span>
      <div class="static_info" style="margin-top:10px">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        Updated {{section.dateUpdated | date:dateFormat}}
      </div>
    </div>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>
          <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>Definition
        </md-tab-label>
        <md-tab-body>
          <div ng-controller="SectionsListCtrl" ng-init="init()" class="container" ng-cloak>
        <span class="pull-right">
         <md-button title="Save Changes" type="submit" class="btn btn-raised btn-sm btn-success"
                    ng-disabled="editForm.$invalid || !editForm.$dirty"
                    ng-click="save()"
                    ng-hide="viewSettings.tableReadonly">
             <span><i class="fa fa-check fa-fw"></i> Save</span>
         </md-button>
        <md-button title="Cancel Changes" type="button" class="btn btn-raised btn-sm btn-warning"
                   ng-hide="viewSettings.tableReadonly"
                   ng-disabled="!editForm.$dirty"
                   ng-click="reset()">
                             <span><i class="fa fa-times fa-fw"></i> Reset</span>
        </md-button>
                </span>
          </div>

          <md-content layout-padding>
            <label class="input-left igamt-label">Title*</label>
            <md-input-container class="md-block igamt-input-block" flex-gt-sm
                                ng-class="{'igl-has-error has-feedback' : editForm.title.$invalid}">
              <input type="text"
                     ng-change="setDirty()"
                     name="title" id="title"
                     ng-model="section.sectionTitle"
                     required
                     ng-disabled="viewSettings.tableReadonly || isFixedSectionTitle(section)"
              />

              <div ng-messages="editForm.title.$invalid">
                <div ng-message="required">Title is required.</div>
              </div>
            </md-input-container>

            <label class="input-left igamt-label">Content</label>
            <md-input-container class="md-block igamt-input-block" flex-gt-sm style="margin-top:20px">
              <div ng-if="!viewSettings.tableReadonly">
                            <textarea froala="froalaEditorOptions" ng-model="section.sectionContents"
                                      id="content"
                                      name="content"
                                      ng-change="setDirty()"></textarea>
              </div>
              <div ng-if="viewSettings.tableReadonly">
                <div class="fr-view">
                  <div froala-view="section.sectionContents"></div>
                </div>
              </div>
            </md-input-container>
          </md-content>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          <i class="fa fa-cog fa-fw" aria-hidden="true"></i>Export Summary
        </md-tab-label>
        <md-tab-body>

          <div ng-controller="ValueSetExportConfigCtrl" ng-cloak class="row" style="margin-bottom:20px">

            <div ng-if="viewSettings.tableReadonly">
              <div class="panel panel-default">
                <div class="panel-heading">Export ValueSets # {{selectedTables.length}}</div>
                <div class="panel-body">

              <md-content>
                <md-list class="md-dense valueset-picklist" flex>
                  <md-list-item class="md-2-line" ng-repeat="table in selectedTables">
                    <span style="margin-right: 5px" class="badge"
                          ng-class="{'label-HL7' : getScopeLabel(table)==='HL7', 'label-USE': getScopeLabel(table)==='USR','label-MASTER':getScopeLabel(table)==='MAS','label-PRL':getScopeLabel(table)==='PRL','label-PVS':getScopeLabel(table)==='PVS'}">{{getScopeLabel(table)}} {{table.hl7Version}}</span>
                    <div class="md-list-item-text" layout="column">
                      <h3>{{ table.bindingIdentifier}}: {{table.name}}</h3>
                    </div>

                    <span>#Codes: {{table.numberOfCodes}}, Type: {{table.sourceType}}</span>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
              </div>
            </div>

            <div ng-if="!viewSettings.tableReadonly">
              <div class="container">
                <div class="pull-right">
                  <md-button title="Save Changes" type="submit" class="btn btn-raised btn-sm btn-success"
                             ng-click="saveConfig()"
                             ng-hide="viewSettings.tableReadonly">
                    <span><i class="fa fa-check fa-fw"></i> Save</span>
                  </md-button>
                  <md-button title="Cancel Changes" type="button" class="btn btn-raised btn-sm btn-warning"
                             ng-hide="viewSettings.tableReadonly"
                             ng-click="resetConfig()">
                    <span><i class="fa fa-times fa-fw"></i> Reset</span>
                  </md-button>
                </div>
              </div>

              <div class="container" style="padding-bottom:10px">
                <div class="col-md-4">
                  <table class="table table-bordered" style="margin-bottom: 0px">
                    <tr>
                      <td style="background-color:lightgrey"><b>Total ValueSets</b></td>
                      <td>{{allTables.length}}</td>
                    </tr>
                    <tr>
                      <td style="background-color:lightgrey"><b>ValueSets to Export</b></td>
                      <td>{{selectedTables.length}}</td>
                    </tr>
                    <tr>
                      <td style="background-color:lightgrey"><b>Internally Managed</b></td>
                      <td>{{countInternals}}</td>
                    </tr>
                    <tr>
                      <td style="background-color:lightgrey"><b>Externally Managed</b></td>
                      <td>{{allTables.length - countInternals}}</td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="container">
                <div class="col-md-12">
                      <md-content>
                        <button class="pull-right btn btn-xs btn-default" ng-click="clearFilters()"><i class="fa fa-times">Clear All Filters</i></button>
                        <table  st-table="displayed" class="table table-stripped table-bordered table-condensed fixed-header">
                          <thead class="fixed-header">
                          <tr classs="fixed-header">
                            <th class="col-md-2">
                              <md-select ng-model="filterCriteria.export" ng-change="filter()">
                                <md-option value="*" ng-selected="true">All</md-option>
                                <md-option value="Exported">Exported</md-option>
                                <md-option value="Not Exported">Not Exported</md-option>
                              </md-select>
                            </th>
                            <th class="col-md-3">
                              <md-input-container flex style="margin: 0px !important" layout="row">
                                 <input type="search" ng-model="filterCriteria.name" ng-change="filter()"/>
                                 <i class="fa fa-times" ng-click="filterCriteria.name = ''; filter()"></i>
                              </md-input-container>
                            </th>
                            <th  class="col-md-4">
                              <md-input-container flex style="margin: 0px !important" layout="row">
                                 <input type="search" ng-model="filterCriteria.bindingIdentifier" ng-change="filter()"/>
                                <i class="fa fa-times" ng-click="filterCriteria.bindingIdentifier = ''; filter()"></i>
                              </md-input-container>
                            </th>
                            <th class="col-md-1">
                            </th>
                            <th class="col-md-2">
                              <md-select ng-change="filter()" ng-model="filterCriteria.sourceType">
                                <md-option value="*" ng-selected="true">All</md-option>
                                <md-option value="INTERNAL">Internally Managed</md-option>
                                <md-option value="EXTERNAL">Externally Managed</md-option>
                              </md-select>
                            </th>
                          </tr>
                          <tr class="tbl-header fixed-header">
                            <th class="col-md-2">
                              <md-checkbox class="md-secondary" ng-model="checkedAll.value"
                                           md-indeterminate="isIndeterminate()"
                                           ng-checked="isCheckedAll()"
                                           ng-change="checkAllValueSets()"></md-checkbox>
                              Export</th>
                            <th st-sort="row.name" class="col-md-3">Name</th>
                            <th st-sort="row.bindingIdentifier" class="col-md-4">ID</th>
                            <th st-sort="row.numberOfCodes" class="col-md-1">#Codes</th>
                            <th st-sort="row.sourceType" class="col-md-2">Type</th>
                          </tr>

                          </thead>
                          <tbody class="fixed-header">
                          <tr ng-repeat="row in displayed" class="fixed-header">
                            <td class="col-md-2">
                              <md-checkbox class="md-secondary" ng-checked="isChecked(row)" ng-click="checkValueSet(row)"></md-checkbox>
                            </td>
                            <td class="col-md-3">    <span style="margin-right: 5px" class="badge"
                                                           ng-class="{'label-HL7' : getScopeLabel(row)==='HL7', 'label-USE': getScopeLabel(row)==='USR','label-MASTER':getScopeLabel(row)==='MAS','label-PRL':getScopeLabel(row)==='PRL','label-PVS':getScopeLabel(row)==='PVS'}">{{getScopeLabel(row)}} {{row.hl7Version}}</span>
                               {{row.name}}</td>
                            <td class="col-md-4">{{row.bindingIdentifier}}</td>
                            <td class="col-md-1">{{row.numberOfCodes}}</td>
                            <td class="col-md-2">{{row.sourceType}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </md-content>
                    </div>
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
</script>

<script type="text/ng-template" id="stTableSelectMultiple.html">

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      {{dropdownLabel}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="item in distinctItems">
        <label>
          <input type="checkbox" ng-model="item.selected" ng-click="filterChanged()">{{item.value}}</label>
      </li>
    </ul>
  </div>
</script>
