<div ng-controller="DatatypeListCtrl" ng-init="init()" class="container">



<script type="text/ng-template" id="ConfirmDatatypeDeleteCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Confirmation
        </h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete Datatype {{dtToDelete.name}} - {{dtToDelete.label}} ? </p>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
        </button>
        <button class="btn btn-danger" ng-click="delete()"><span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
        </button>
    </div>
</script>

<script type="text/ng-template" id="DatatypeReferencesCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Datatype References Found
            <button class="btn btn-primary pull-right" ng-click="ok()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Close</span>
            </button>
        </h3>
    </div>
    <div class="modal-body">
        <p>We cannot delete this datatype because it is being referenced by elements below:</p>

        <div class="igl-table">
            <table class="table table-striped table-bordered">
                <thead>
                <tr class="tbl-header">
                    <th>Name</th>
                    <th>Path</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ref in references">
                    <td>
                                        <span>
                                              <img style="width:15px; height:15px"
                                                   ng-src="images/{{ref.type}}.png">
                                             <span style="width:60%"
                                                   name="name"
                                                   ng-bind="ref.name"></span>
                                             <span ng-bind="ref.description"></span>
                                         </span>

                    </td>
                    <td>
                        <div>{{ref.path}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Close</span>
        </button>
    </div>
</script>




<div ng-show="loading" style="text-align:center">
    <img class="ajax-loading" ng-src="images/ajax.gif" alt="loading..."/>
</div>

<div ng-show="!loading">
<div class="row" id="datatypeList">
<div class="col-md-12">
    <div class="page-header">
        <h3>Datatypes List</h3>
    </div>
    <div class="igl-table">
        <table st-table="tmpDatatypes" st-safe-src="datatypes"
               class="table table-striped table-bordered">
            <thead>
            <tr>
                <th colspan="4"><input st-search=""  placeholder="Search Datatype" class="form-control" type="text"/></th>
            </tr>
            <tr class="tbl-header">
                <!--<th></th>-->
                <th st-sort="label">Flavor</th>
                <th st-sort="name">Base</th>
                <th st-sort="description">Description</th>
                <th>
                </th>

                <!--<th></th>-->
            </tr>
            <!--<tr>-->
            <!--<th colspan="4">-->
            <!--<input st-search placeholder="Search" class="input-sm form-control" type="search"/>-->
            <!--</th>-->
            <!--</tr>-->
            </thead>
            <tbody>
            <tr st-select-row="row" st-select-mode="single" ng-repeat="row in tmpDatatypes">
                <!--<td cs-select="row"><input ng-click="select(row)"-->
                <!--ng-checked="datatype != null && row.id == datatype.id"-->
                <!--type="radio"></td>-->
                <td ng-bind="row.label"></td>
                <td ng-bind-html="row.name"></td>
                <td ng-bind-html="row.description"></td>

                <td>

                    <button title="Edit" type="button"
                            class="btn btn-xs btn-primary"
                            click-go="/profiles/#datatypeDef"
                            ng-click="select(row)">
                        <span><i class="fa fa-pencil fa-fw"></i>&nbsp; Edit</span>
                    </button>
                    <button title="Create Flavor" type="button" class="btn btn-xs btn-info"
                            click-go="/profiles/#datatypeDef"
                            ng-click="flavor(row)">
                        <span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Flavor</span>
                    </button>
                    <button title="Delete" type="button" class="btn btn-xs btn-danger"
                            ng-click="delete(row)">
                        <span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
            <!--<tfoot>-->
            <!--<tr>-->
            <!--<td colspan="4" class="text-center">-->
            <!--<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tfoot>-->
        </table>
    </div>
    </div>
</div>

<!--<div ng-show="error !== null">-->
    <!--<div class="alert alert-danger" role="alert" ng-bind="error"></div>-->
    <!--<br/>-->
<!--</div>-->

<div ng-show="loadingSelection" style="text-align:center">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<div ng-show="!loadingSelection" style="padding-top:40px">
<div ng-show="datatype !== null">

<script type="text/ng-template" id="TableMappingDatatypeCtrl.html">
    <div class="modal-header modal-wide">
        <h3 class="modal-title">Mapping Table for {{datatype.name}}.{{selectedNode.position}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <form role="form">
                <div class="col-sm-6">
                    <h5>List of Tables</h5>
                    <div class="igl-table">
                        <table st-table="displayedTableCollection" st-safe-src="tables"
                               class="table table-striped table-bordered">
                            <thead>
                            <tr class="tbl-header">
                                <th st-sort="mappingId">ID</th>
                                <th st-sort="Name">Name</th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <input st-search="" class="form-control" placeholder="search table..." type="text"/>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="row in displayedTableCollection">
                                <td>
                                    <a ng-click="selectTable(row)">{{row.mappingId}}</a>
                                </td>
                                <td ng-bind-html="row.name"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
	 			<span ng-show="selectedTable != undefined">
	 				<button type="button" ng-click="mappingTable()" class="btn btn-warning">Select this Table for {{datatype.name}}.{{selectedNode.position}}</button>
	 				<hr/>
	 				<div class="row">
                        <div class="col-sm-4">
                            <p>ID:</p>

                            <p>Name:</p>

                            <p>Type:</p>

                            <p>Stability:</p>

                            <p>Extensibility:</p>

                            <p>List of Codes:</p>
                        </div>
                        <div class="col-sm-8">
                            <p>{{selectedTable.mappingId}}</p>

                            <p>{{selectedTable.name}}</p>

                            <p>{{selectedTable.tableType}}</p>

                            <p>{{selectedTable.stability}}</p>

                            <p>{{selectedTable.extensibility}}</p>
                        </div>
                    </div>
					<div class="igl-table">
                        <table st-table="displayedCodeCollection" st-safe-src="selectedTable.codes"
                               class="table table-striped table-bordered">
                            <thead>
                            <tr class="tbl-header">
                                <th st-sort="Code">Code</th>
                                <th st-sort="Label">Label</th>
                                <th>Codesys</th>
                                <th>Usage</th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <input st-search="" class="form-control" placeholder="search code..." type="text"/>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="row in displayedCodeCollection">
                                <td ng-bind-html="row.code"></td>
                                <td ng-bind-html="row.label"></td>
                                <td ng-bind-html="row.codesys"></td>
                                <td ng-bind-html="row.codeUsage"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

	 			</span>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Close</span>
        </button>
    </div>
</script>

<script type="text/ng-template" id="PredicateDatatypeCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Predicate for {{datatype.name}}-{{selectedNode.position}}</h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <h5>Predicate of {{datatype.name}}.{{selectedNode.position}}</h5>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr class="tbl-header">
                        <th class="col-md-9">Desciption</th>
                        <th class="col-md-1">True Usage</th>
                        <th class="col-md-1">False Usage</th>
                        <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in datatype.predicates | filter:{constraintTarget:selectedNode.position + '[1]'}:true">
                        <td class="col-md-9">{{p.description}}</td>
                        <td class="col-md-1">{{p.trueUsage}}</td>
                        <td class="col-md-1">{{p.falseUsage}}</td>
                        <td class="col-md-1">
                            <button type="button" ng-click="deletePredicate(p)" class="btn btn-xs btn-warning">
                                <span><i class="fa fa-minus-circle fa-fw"></i></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h5>Define New Predicate of {{datatype.name}}.{{selectedNode.position}}</h5>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr class="tbl-header">
                        <th class="col-md-10" colspan="4">Desciption</th>
                        <th class="col-md-1" colspan="1" rowspan="2">True Usage</th>
                        <th class="col-md-1" colspan="1" rowspan="2">False Usage</th>
                        <th class="col-md-1" colspan="1" rowspan="2"></th>
                    </tr>
                    <tr class="tbl-header">
                        <th class="col-md-3" colspan="1">Node</th>
                        <th class="col-md-2" colspan="1">Verb</th>
                        <th class="col-md-2" colspan="1">Constraint</th>
                        <th class="col-md-3" colspan="1">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-md-3" colspan="1">
                            <span>{{newConstraint.datatype}}.</span>
                            <select name="component" class="igl-input"
                                    ng-change="updateComponent_1()"
                                    ng-model="newConstraint.component_1"
                                    ng-options="component as component.position for component in datatype.components">
                            </select>
        				<span ng-show="newConstraint.component_1.datatype.components.length > 0">.
        					<select name="subComponent" class="igl-input"
                                    ng-model="newConstraint.subComponent_1"
                                    ng-options="subComponent as subComponent.position for subComponent in newConstraint.component_1.datatype.components">
                            </select>
    					</span>
                        </td>
                        <td class="col-md-2" colspan="1">
                            <select name="verb" class="igl-input"
                                    ng-change=""
                                    ng-model="newConstraint.verb"
                                    ng-options="constraintVerb for constraintVerb in constraintVerbs">
                            </select>
                        </td>
                        <td class="col-md-2" colspan="1">
                            <select name="contraintType" class="igl-input"
                                    ng-change=""
                                    ng-model="newConstraint.contraintType"
                                    ng-options="contraintType for contraintType in contraintTypes">
                            </select>
                        </td>
                        <td class="col-md-3" colspan="1">
                		<span ng-show="newConstraint.contraintType == 'a literal value'">
                			<input style="width:100%" class="igl-input"  ng-model="newConstraint.value" placeholder="Literal Value" type="text"/>
                		</span>
                		<span ng-show="newConstraint.contraintType == 'one of list values'">
                			<input style="width:100%" class="igl-input"  ng-model="newConstraint.value" placeholder="CSV Value" type="text"/>
                		</span>
                		<span ng-show="newConstraint.contraintType == 'formatted value'">
                			<select name="format" class="igl-input"
                                    ng-model="newConstraint.value"
                                    ng-options="predefinedFormat for predefinedFormat in predefinedFormats">
                            </select>
                		</span>
                		<span ng-show="newConstraint.contraintType == 'identical to the another node'">
                			<span>{{newConstraint.datatype}}.</span>
        					<select name="component" class="igl-input"
                                    ng-change="updateComponent_2()"
                                    ng-model="newConstraint.component_2"
                                    ng-options="component as component.position for component in datatype.components">
                            </select>
        					<span ng-show="newConstraint.component_1.datatype.components.length > 0">.
        						<select name="subComponent" class="igl-input"
                                        ng-model="newConstraint.subComponent_2"
                                        ng-options="subComponent as subComponent.position for subComponent in newConstraint.component_2.datatype.components">
                                </select>
    						</span>
                		</span>
                        </td>
                        <td class="col-md-1" colspan="1">
                            <select name="trueUsage" class="igl-input"
                                    ng-model="newConstraint.trueUsage"
                                    ng-options="usage for usage in usages">
                            </select>
                        </td>

                        <td class="col-md-1" colspan="1">
                            <select name="falseUsage" class="igl-input"
                                    ng-model="newConstraint.falseUsage"
                                    ng-options="usage for usage in usages">
                            </select>
                        </td>

                        <td class="col-md-1" colspan="1">
                            <button title="Update Predicate" type="button" class="btn btn-xs btn-success" ng-click="updatePredicate()">
                                <span><i class="fa fa-plus-circle fa-fw"></i></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Close</span>
        </button>
    </div>
</script>

<script type="text/ng-template" id="ConformanceStatementDatatypeCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">ConformanceStatement for {{datatype.name}}-{{selectedNode.position}}</h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <h5>ConformanceStatements of {{datatype.name}}.{{selectedNode.position}}</h5>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr class="tbl-header">
                        <th class="col-md-2">ID</th>
                        <th class="col-md-9">Desciption</th>
                        <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in datatype.conformanceStatements | filter:{constraintTarget:selectedNode.position + '[1]'}:true">
                        <td class="col-md-2">{{c.constraintId}}</td>
                        <td class="col-md-9">{{c.description}}</td>
                        <td class="col-md-1">
                            <button type="button" ng-click="deleteConformanceStatement(c)" class="btn btn-xs btn-danger">
                                <span><i class="fa fa-minus-circle fa-fw"></i></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h5>Define New Conformance Statement of {{segment.name}}.{{selectedNode.position}}</h5>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr class="tbl-header">
                        <th class="col-md-2" colspan="1" rowspan="2">ID</th>
                        <th class="col-md-10" colspan="4">Desciption</th>
                        <th class="col-md-1" colspan="1" rowspan="2"></th>
                    </tr>
                    <tr class="tbl-header">
                        <th class="col-md-3" colspan="1">Node</th>
                        <th class="col-md-2" colspan="1">Verb</th>
                        <th class="col-md-2" colspan="1">Constraint</th>
                        <th class="col-md-3" colspan="1">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-md-2" colspan="1">
                            <input style="width:100%" class="igl-input"  ng-model="newConstraint.constraintId" placeholder="Type ID" type="text"/>
                        </td>
                        <td class="col-md-3" colspan="1">
                            <span>{{newConstraint.datatype}}.</span>
                            <select name="component" class="igl-input"
                                    ng-change="updateComponent_1()"
                                    ng-model="newConstraint.component_1"
                                    ng-options="component as component.position for component in datatype.components">
                            </select>
        				<span ng-show="newConstraint.component_1.datatype.components.length > 0">.
        					<select name="subComponent" class="igl-input"
                                    ng-model="newConstraint.subComponent_1"
                                    ng-options="subComponent as subComponent.position for subComponent in newConstraint.component_1.datatype.components">
                            </select>
    					</span>
                        </td>
                        <td class="col-md-2" colspan="1">
                            <select name="verb" class="igl-input"
                                    ng-change=""
                                    ng-model="newConstraint.verb"
                                    ng-options="constraintVerb for constraintVerb in constraintVerbs">
                            </select>
                        </td>
                        <td class="col-md-2" colspan="1">
                            <select name="contraintType" class="igl-input"
                                    ng-change=""
                                    ng-model="newConstraint.contraintType"
                                    ng-options="contraintType for contraintType in contraintTypes">
                            </select>
                        </td>
                        <td class="col-md-3" colspan="1">
                		<span ng-show="newConstraint.contraintType == 'a literal value'">
                			<input style="width:100%" class="igl-input"  ng-model="newConstraint.value" placeholder="Literal Value" type="text"/>
                		</span>
                		<span ng-show="newConstraint.contraintType == 'one of list values'">
                			<input style="width:100%" class="igl-input"  ng-model="newConstraint.value" placeholder="CSV Value" type="text"/>
                		</span>
                		<span ng-show="newConstraint.contraintType == 'formatted value'">
                			<select name="format" class="igl-input"
                                    ng-model="newConstraint.value"
                                    ng-options="predefinedFormat for predefinedFormat in predefinedFormats">
                            </select>
                		</span>
                		<span ng-show="newConstraint.contraintType == 'identical to the another node'">
                			<span>{{newConstraint.datatype}}.</span>
                			<select name="component" class="igl-input"
                                    ng-change="updateComponent_2()"
                                    ng-model="newConstraint.component_2"
                                    ng-options="component as component.position for component in datatype.components">
                            </select>
        					<span ng-show="newConstraint.component_1.datatype.components.length > 0">.
        						<select name="subComponent" class="igl-input"
                                        ng-model="newConstraint.subComponent_2"
                                        ng-options="subComponent as subComponent.position for subComponent in newConstraint.component_2.datatype.components">
                                </select>
    						</span>
                		</span>
                        </td>
                        <td class="col-md-1" colspan="1">
                            <button title="Add Conformance Statement" type="button" class="btn btn-xs btn-success" ng-click="addConformanceStatement()">
                                <span><i class="fa fa-plus-circle fa-fw"></i></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Close</span>
        </button>
    </div>
</script>


<div class="row">
    <div class="pull-right">

        <button title="Create Flavor" type="button" class="btn btn-xs btn-info"
                ng-click="flavor(datatype)"
                click-go="/profiles/#datatypeDef"
                >
            <span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Flavor</span>
        </button>
        <button title="Close" type="button" class="btn btn-xs btn-warning"
                click-go="/profiles/#datatypeList"
                ng-click="close()">
            <span><i class="fa fa-times fa-fw"></i>&nbsp; Close</span>
        </button>
        <button title="Delete" type="button"
                class="btn btn-xs btn-danger"
                 click-go="/profiles/#datatypeList"
                ng-click="delete(datatype)">
            <span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
        </button>
    </div>
</div>

<hr/>

<div class="row" id="datatypeDef">
    <div class="page-header">
        <h3>Datatype Metadata</h3>
    </div>
</div>
<form name="datatypeMetaDataForm" novalidate>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group"
                 ng-class="{'has-error' : datatypeMetaDataForm.name.$invalid && !datatypeMetaDataForm.name.$pristine }">
                <label>Name</label>
                <input type="text" disabled
                       name="name" class="form-control" ng-model="datatype.name"
                       required>
            </div>
            <div class="form-group">
                <label>Comment</label>
                <textarea style="width:100%" rows="5" class="igl-input form-control"
                          name="comment"
                          ng-change="recordDatatypeChange('datatype','edit',datatype.id,'comment', datatype.comment)"
                          ng-model="datatype.comment"></textarea>

            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group"
                 ng-class="{'has-error' : datatypeMetaDataForm.label.$invalid && !datatypeMetaDataForm.label.$pristine }">
                <label>Label</label>
                <input type="text"
                        ng-change="recordDatatypeChange('datatype','edit',datatype.id,'label', datatype.label)"

                       name="label" class="form-control" ng-model="datatype.label"
                       required>
            </div>

            <div class="form-group">
                <label>Text</label>
                <textarea style="width:100%" rows="5" class="igl-input form-control"
                          name="text"
                           ng-change="recordDatatypeChange('datatype','edit',datatype.id,'text', datatype.text)"

                          ng-model="datatype.text"></textarea>

            </div>


        </div>

    </div>
</form>


<div class="row">
<div class="page-header">
    <h3>Datatype Content</h3>
</div>
<form style="margin-top: 20px" class="form-horizontal" name="editDatatypeForm">
<!--<div>-->
<!--<label for="datatypeLabel">Name:</label>-->
<!--<input type="text" ng-model="datatype.label" ng-disabled="isFlavor(datatype.label)"-->
<!--ng-focus="isFlavor(datatype.label)" class="form-control" id="datatypeLabel">-->
<!--</div>-->
<div style="margin-top: 20px">
<div class="table-responsive">
<table tt-table tt-params="params" class="table table-striped table-bordered">
    <thead>
    <tr class="tbl-header row">
        <th class="col-md-4">Name</th>
        <th class="col-md-1">Usage</th>
        <th class="col-md-1">Length</th>
        <th class="col-md-1">ConfLength</th>
        <th class="col-md-1">Datatype</th>
        <th class="col-md-1">ValueSet</th>
        <th class="col-md-1">Predicate</th>
        <th class="col-md-1">Conformance Statement</th>
        <th class="col-md-1">Comment</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<script type="text/ng-template" id="DatatypeEditTree.html">
    <tr tt-node is-branch="hasChildren(node)" class="row">
        <td class="col-md-4">
                                        <span ng-show="node.type === 'datatype'">
                                             <span style="width:60%" type="text"
                                                   name="name"
                                                   ng-bind="node.name"></span>
                                             <span ng-bind="node.description"></span>
                                         </span>
                                        <span ng-show="node.type !== 'datatype'">
                                            <img  ng-show="node.type === 'component' && !isSubDT(node)" style="width:15px; height:15px"
                                                 ng-src="images/component.png">
                                            <img  ng-show="node.type === 'component' && isSubDT(node)" style="width:15px; height:15px"
                                                  ng-src="images/subcomponent.png">
                                            <span ng-show="node.type !== 'datatype'">{{node.position}}:{{node.name}}</span>
                                        </span>
        </td>
        <td class="col-md-1">
            <div ng-show="node.type === 'component' && !isSubDT(node)">
                                            <span ng-show="!node.predicates || node.predicates == null || node.predicates.length == 0">
                                                <select class="form-control input-sm"
                                                        name="usage"
                                                         ng-change="recordDatatypeChange('component','edit',node.id,'usage', node.usage)"

                                                        required
                                                        ng-model="node.usage"
                                                        ng-options="usage for usage in usages">
                                                </select>
                                            </span>
                <span ng-show="node.predicates != null && node.predicates.length > 0">C({{node.predicates[0].trueUsage}}/{{node.predicates[0].falseUsage}})</span>
            </div>
            <div ng-show="node.type === 'component' && isSubDT(node)">
                                <span ng-show="!node.predicates || node.predicates == null || node.predicates.length == 0">
                                                {{node.usage}}
                                            </span>
                <span ng-show="node.predicates != null && node.predicates.length > 0">C({{node.predicates[0].trueUsage}}/{{node.predicates[0].falseUsage}})</span>
            </div>
            <div ng-show="node.type === 'datatype'">-</div>
        </td>
        <td class="col-md-1">
            <div ng-show="node.type === 'component' && !isSubDT(node)" ng-controller="DatatypeRowCtrl">
                                            <span ng-form name="{{formName}}">
                                                <input style="width:45%" class="igl-input"
                                                       name="minLength"
                                                        ng-change="recordDatatypeChange('component','edit',node.id,'minLength', node.minLength)"
                                                       ng-pattern="/^\d+$/"
                                                       ng-class="{ 'has-error' : {{formName}}.minLength.$invalid}"
                                                       ng-model="node.minLength" required ng-minlength="1">
                                                <input style="width:45%" class="igl-input" type="text"
                                                       name="maxLength"
                                                        ng-change="recordDatatypeChange('component','edit',node.id,'maxLength', node.maxLength)"

                                                       ng-class="{ 'has-error' : {{formName}}.maxLength.$invalid}"
                                                       ng-pattern="/^\d+$|^\*?$/"
                                                       ng-model="node.maxLength" required>
                                            </span>
            </div>
            <div ng-show="node.type === 'component' && isSubDT(node)">
                -
            </div>
            <div ng-show="node.type === 'datatype'">-</div>
        </td>
        <td class="col-md-1">
            <div ng-show="node.type === 'component' && !isSubDT(node)" ng-controller="DatatypeRowCtrl">
                                            <span ng-form name="{{formName}}">
                                            <input style="width:50%" class="igl-input" type="text"
                                                   name="confLength"
                                                    ng-change="recordDatatypeChange('component','edit',node.id,'confLength', node.confLength)"

                                                   ng-class="{ 'has-error' : {{formName}}.confLength.$invalid}"
                                                   ng-pattern="/^\d+$/"
                                                   ng-model="node.confLength">
                                            </span>
            </div>
            <div ng-show="node.type === 'datatype'">-</div>
        </td>

        <td class="col-md-1">
            <div ng-show="node.type === 'component' && !isSubDT(node)">
                <select class="form-control input-sm"
                        name="datatype"
                        ng-model="node.datatype"
                        ng-change="onDatatypeChange(node)"
                        required
                        ng-selected="dt.id === node.datatype"
                        ng-options="dt.id as dt.label for dt in datatypes | flavors:datatypesMap[node.datatype].name">
                </select>
                <!--<a class="point"-->
                <!--ng-click="goToDatatype(node.datatype)"-->
                <!--ng-bind="node.datatype.label"></a>-->
            </div>
            <div ng-show="node.type === 'datatype'">-</div>
            <div ng-show="node.type === 'component' && isSubDT(node)">
                <button type="button" ng-click="goToDatatype(datatypesMap[node.datatype])"
                        class="btn btn-info btn-xs">{{datatypesMap[node.datatype].label}}
                </button>
            </div>
         </td>

        <td class="col-md-1">
            <div ng-show="node.type === 'component' && !isSubDT(node)">
											<span ng-show="node.table != undefined  && node.table !== null">
												<div class="btn-group" dropdown>
                                                    <button type="button" ng-click="goToTable(tablesMap[node.table])"
                                                            class="btn btn-info btn-xs">{{tablesMap[node.table].mappingId}}
                                                    </button>
                                                    <button type="button" class="btn btn-info btn-xs dropdown-toggle"
                                                            dropdown-toggle>
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Split button!</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a ng-click="mapTable(node)">Change Table</a></li>
                                                        <li><a ng-click="deleteTable(node)">Release Table</a></li>
                                                        <li class="divider"></li>
                                                        <li><a ng-click="goToTable(tablesMap[node.table])">Details</a></li>
                                                    </ul>
                                                </div>
                                            </span>
											<span ng-show="(node.table == undefined || node.table == null)  && isAvailableDTForTable(datatypesMap[node.datatype])">
												<button ng-click="mapTable(node)" class="btn btn-xs btn-info">
                                                    <span><i class="fa fa-plus fa-fw"></i></span>
                                                </button>
                                            </span>
            </div>
            <div ng-show="node.type === 'component' && isSubDT(node)">
                <button type="button" ng-click="goToTable(tablesMap[node.table])"
                        class="btn btn-info btn-xs" ng-show="node.table !== null && node.table !== undefined">{{tablesMap[node.table].mappingId}}
                </button>
            </div>
            <div ng-show="node.type === 'datatype'">-</div>
        </td>

        <td class="col-md-1">
			    <div ng-show="node.type === 'component' && !isSubDT(node)">
					<div ng-show="countPredicate(node.position) == 0">
						<button type="button" ng-click="managePredicate(node)" class="btn btn-info btn-xs">
							<span><i class="fa fa-plus fa-fw"></i></span>
            			</button>
					</div>

					<p ng-repeat="p in datatype.predicates | filter:{constraintTarget:node.position + '[1]'}:true">
                        <a ng-click="managePredicate(node)">{{p.description}}</a>
             		</p>
     			</div>
				<div ng-show="node.type === 'component' && isSubDT(node)">
					<p ng-repeat="p in datatypesMap[findDTByComponentId(node.id).id].predicates | filter:{constraintTarget:node.position + '[1]'}:true">
            			{{p.description}}
        			</p>
 				</div>
    			<div ng-show="node.type === 'datatype'">-</div>
        </td>
        
		<td class="col-md-1">
        	<div ng-show="node.type === 'component' && !isSubDT(node)">
				<div ng-show="countConformanceStatements(node.position) == 0">
					<button type="button" ng-click="manageConformanceStatement(node)" class="btn btn-info btn-xs">
						<span><i class="fa fa-plus fa-fw"></i></span>
            		</button>
				</div>
				<p ng-repeat="c in datatype.conformanceStatements | filter:{constraintTarget:node.position + '[1]'}:true">
                	<a ng-click="manageConformanceStatement(node)">{{c.constraintId}}: {{c.description}} </a>
             	</p>
     		</div>
    		<div ng-show="node.type === 'component' && isSubDT(node)">
             	<p ng-repeat="c in datatypesMap[findDTByComponentId(node.id).id].conformanceStatements | filter:{constraintTarget:node.position + '[1]'}:true">
            		{{c.constraintId}}: {{c.description}}
        		</p>
      		</div>
    		<div ng-show="node.type === 'datatype'">-</div>
		</td>
        
		<td class="col-md-1">
            <div ng-show="node.type === 'component' && !isSubDT(node)">
                <input style="width:100%" class="igl-input" type="text"
                       name="comment"
                       ng-change="recordDatatypeChange('component','edit',node.id,'comment', node.comment)"
                       ng-model="node.comment">
            </div>
            <div ng-show="node.type === 'datatype'">-</div>
            <div ng-show="node.type === 'component' && isSubDT(node)">{{node.comment}}
            </div>
        </td>
    </tr>
</script>

</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<!--<pre>-->
                        <!--{{changes | json}}-->
                <!--</pre>-->