<div ng-controller="DatatypeListCtrl" ng-init="init()" class="container">


<script type="text/ng-template" id="ConfirmDatatypeDeleteCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Confirmation
        </h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete Datatype {{dtToDelete.name}} - {{dtToDelete.label}} ? </p>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
        </button>
        <button class="btn btn-danger" ng-click="delete()"><span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
        </button>
    </div>
</script>

<script type="text/ng-template" id="DatatypeReferencesCtrl.html">
    <div class="modal-header">
        <h3 class="modal-title">Datatype References Found
            <button class="btn btn-primary pull-right" ng-click="ok()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Close</span>
            </button>
        </h3>
    </div>
    <div class="modal-body">
        <p>We cannot delete this datatype because it is being referenced by elements below:</p>

        <div class="igl-table">
            <table class="table table-striped table-bordered">
                <thead>
                <tr class="tbl-header">
                    <th>Name</th>
                    <th>Path</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ref in references">
                    <td>
                                        <span>
                                              <img style="width:15px; height:15px"
                                                   ng-src="images/{{ref.type}}.png">
                                             <span style="width:60%"
                                                   name="name"
                                                   ng-bind="ref.name"></span>
                                             <span ng-bind="ref.description"></span>
                                         </span>

                    </td>
                    <td>
                        <div>{{ref.path}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()"><span><i class="fa fa-times fa-fw">&nbsp; </i>Close</span>
        </button>
    </div>
</script>


<div ng-show="loading" style="text-align:center">
    <img class="ajax-loading" ng-src="images/ajax.gif" alt="loading..."/>
</div>

<div ng-show="!loading">
<div class="row" id="datatypeList">
    <div class="page-header">
        <h3>Datatypes List</h3>
    </div>
    <div class="igl-table">
        <table st-table="tmpDatatypes" st-safe-src="datatypes"
               class="table table-striped table-bordered">
            <thead>
            <tr class="tbl-header">
                <!--<th></th>-->
                <th st-sort="name">Name</th>
                <th st-sort="description">Description</th>
                <th st-sort="label">Label</th>
                <th>
                </th>

                <!--<th></th>-->
            </tr>
            <!--<tr>-->
            <!--<th colspan="4">-->
            <!--<input st-search placeholder="Search" class="input-sm form-control" type="search"/>-->
            <!--</th>-->
            <!--</tr>-->
            </thead>
            <tbody>
            <tr st-select-row="row" st-select-mode="single" ng-repeat="row in tmpDatatypes">
                <!--<td cs-select="row"><input ng-click="select(row)"-->
                <!--ng-checked="datatype != null && row.id == datatype.id"-->
                <!--type="radio"></td>-->
                <td ng-bind-html="row.name"></td>
                <td ng-bind-html="row.description"></td>
                <td ng-bind="row.label"></td>

                <td>
                    <button title="Create Flavor" type="button" class="btn btn-xs btn-info"
                            click-go="/profiles/#datatypeDef"
                            ng-click="flavor(row)">
                        <span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Flavor</span>
                    </button>
                    <button title="Edit" type="button"
                            class="btn btn-xs btn-primary"
                            click-go="/profiles/#datatypeDef"
                            ng-click="select(row)">
                        <span><i class="fa fa-pencil fa-fw"></i>&nbsp; Edit</span>
                    </button>
                    <button title="Delete" type="button" class="btn btn-xs btn-danger"
                            ng-click="delete(row)">
                        <span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
            <!--<tfoot>-->
            <!--<tr>-->
            <!--<td colspan="4" class="text-center">-->
            <!--<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tfoot>-->
        </table>
    </div>
</div>

<div ng-show="error !== null">
    <div class="alert alert-danger" role="alert" ng-bind="error"></div>
    <br/>
</div>

<div ng-show="loadingSelection" style="text-align:center">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<div ng-show="!loadingSelection" style="padding-top:40px">
<div ng-show="datatype !== null">
<div class="row">
    <div class="pull-right">

        <button title="Create Flavor" type="button" class="btn btn-xs btn-info"
                ng-click="flavor(datatype)"
                click-go="/profiles/#datatypeDef"
                >
            <span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Flavor</span>
        </button>
        <button title="Close" type="button" class="btn btn-xs btn-warning"
                click-go="/profiles/#datatypeList"
                ng-click="close()">
            <span><i class="fa fa-times fa-fw"></i>&nbsp; Close</span>
        </button>
        <button title="Delete" type="button"
                class="btn btn-xs btn-danger"
                ng-disabled="true"
                click-go="/profiles/#datatypeList"
                ng-click="delete(datatype)">
            <span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
        </button>
    </div>
</div>

<hr/>

<div class="row" id="datatypeDef">
    <div class="page-header">
        <h3>Datatype Metadata</h3>
    </div>
</div>
<form name="datatypeMetaDataForm" novalidate>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group"
                 ng-class="{'has-error' : datatypeMetaDataForm.name.$invalid && !datatypeMetaDataForm.name.$pristine }">
                <label>Name</label>
                <input type="text" disabled
                       name="name" class="form-control" ng-model="datatype.name"
                       required>
            </div>
            <div class="form-group">
                <label>Comment</label>
                <textarea style="width:100%" rows="5" class="igl-input form-control"
                          name="comment"
                          ng-change="recordChange2('datatype',datatype.id,'comment', datatype.comment)"
                          ng-model="datatype.comment"></textarea>

            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group"
                 ng-class="{'has-error' : datatypeMetaDataForm.label.$invalid && !datatypeMetaDataForm.label.$pristine }">
                <label>Label</label>
                <input type="text"
                       ng-change="recordChange2('datatype',datatype.id,'label', datatype.label)"
                       name="label" class="form-control" ng-model="datatype.label"
                       required>
            </div>

            <div class="form-group">
                <label>Text</label>
                <textarea style="width:100%" rows="5" class="igl-input form-control"
                          name="text"
                          ng-change="recordChange2('datatype',datatype.id,'text', datatype.text)"
                          ng-model="datatype.text"></textarea>

            </div>


        </div>

    </div>
</form>


<div class="row">
    <div class="page-header">
        <h3>Datatype Content</h3>
    </div>
    <form style="margin-top: 20px" class="form-horizontal" name="editDatatypeForm">
        <!--<div>-->
        <!--<label for="datatypeLabel">Name:</label>-->
        <!--<input type="text" ng-model="datatype.label" ng-disabled="isFlavor(datatype.label)"-->
        <!--ng-focus="isFlavor(datatype.label)" class="form-control" id="datatypeLabel">-->
        <!--</div>-->
        <div style="margin-top: 20px">
            <div class="table-responsive">
                <table tt-table tt-params="params" class="table table-striped table-bordered">
                    <thead>
                    <tr class="tbl-header row">
                        <th class="col-md-4">Name</th>
                        <th class="col-md-1">Usage</th>
                        <th class="col-md-1">Length</th>
                        <th class="col-md-1">ConfLength</th>
                        <th class="col-md-1">Datatype</th>
                        <th class="col-md-1">ValueSet</th>
                        <th class="col-md-1">Predicate</th>
                        <th class="col-md-1">Conformance Statement</th>
                        <th class="col-md-1">Comment</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <script type="text/ng-template" id="DatatypeEditTree.html">
                    <tr tt-node is-branch="hasChildren(node)" class="row">
                        <td class="col-md-4">
                                        <span ng-show="node.type === 'datatype'">
                                             <span style="width:60%" type="text"
                                                   name="name"
                                                   ng-bind="node.name"></span>
                                             <span ng-bind="node.description"></span>
                                         </span>
                                        <span ng-show="node.type !== 'datatype'">
                                            <img style="width:15px; height:15px"
                                                 ng-src="images/{{node.type}}.png">
                                            <span ng-show="node.type !== 'datatype'">{{node.position}}:{{node.name}}</span>
                                        </span>
                        </td>
                        <td class="col-md-1">
                            <div ng-show="node.type === 'component'">
                                            <span ng-show="!node.predicates || node.predicates == null || node.predicates.length == 0">
                                                <select class="form-control input-sm"
                                                        name="usage"
                                                        ng-change="recordChange2('component',node.id,'usage', node.usage)"
                                                        required
                                                        ng-model="node.usage"
                                                        ng-options="usage for usage in usages">
                                                </select>
                                            </span>
                                <span ng-show="node.predicates != null && node.predicates.length > 0">C({{node.predicates[0].trueUsage}}/{{node.predicates[0].falseUsage}})</span>
                            </div>
                            <div ng-show="node.type === 'subcomponent'">
                                <span ng-show="!node.predicates || node.predicates == null || node.predicates.length == 0">
                                                {{node.usage}}
                                            </span>
                                <span ng-show="node.predicates != null && node.predicates.length > 0">C({{node.predicates[0].trueUsage}}/{{node.predicates[0].falseUsage}})</span>
                            </div>
                            <div ng-show="node.type === 'datatype'">-</div>
                        </td>
                        <td class="col-md-1">
                            <div ng-show="node.type === 'component'" ng-controller="DatatypeRowCtrl">
                                            <span ng-form name="{{formName}}">
                                                <input style="width:45%" class="igl-input"
                                                       name="minLength"
                                                       ng-change="recordChange2('component',node.id,'minLength', node.minLength)"
                                                       ng-pattern="/^\d+$/"
                                                       ng-class="{ 'has-error' : {{formName}}.minLength.$invalid}"
                                                       ng-model="node.minLength" required ng-minlength="1">
                                                <input style="width:45%" class="igl-input" type="text"
                                                       name="maxLength"
                                                       ng-change="recordChange2('component',node.id,'maxLength', node.maxLength)"
                                                       ng-class="{ 'has-error' : {{formName}}.maxLength.$invalid}"
                                                       ng-pattern="/^\d+$|^\*?$/"
                                                       ng-model="node.maxLength" required>
                                            </span>
                            </div>
                            <div ng-show="node.type === 'subcomponent'">
                                -
                            </div>
                            <div ng-show="node.type === 'datatype'">-</div>
                        </td>
                        <td class="col-md-1">
                            <div ng-show="node.type === 'component'" ng-controller="DatatypeRowCtrl">
                                            <span ng-form name="{{formName}}">
                                            <input style="width:50%" class="igl-input" type="text"
                                                   name="confLength"
                                                   ng-change="recordChange2('component',node.id,'confLength', node.confLength)"
                                                   ng-class="{ 'has-error' : {{formName}}.confLength.$invalid}"
                                                   ng-pattern="/^\d+$/"
                                                   ng-model="node.confLength">
                                            </span>
                            </div>
                            <div ng-show="node.type === 'datatype'">-</div>
                            <div ng-show="node.type === 'subcomponent'">{{node.confLength}}
                            </div>
                        </td>

                        <td class="col-md-1">
                            <div ng-show="node.type === 'component'">
                                <select class="form-control input-sm"
                                        name="datatype"
                                        ng-change="onDatatypeChange(node)"
                                        required
                                        ng-model="node.datatype"
                                        ng-options="dt as dt.label for dt in datatypes | flavors:node.datatype.name">
                                </select>
                                <!--<a class="point"-->
                                <!--ng-click="goToDatatype(node.datatype)"-->
                                <!--ng-bind="node.datatype.label"></a>-->
                            </div>
                            <div ng-show="node.type === 'datatype'">-</div>
                            <div ng-show="node.type === 'subcomponent'">{{node.datatype.label}}
                            </div>
                        </td>

                        <td class="col-md-1">
                            <div ng-show="node.type !== 'datatype'">
                                            <span ng-show="node.table != undefined"><a class="point"
                                                                                       ng-click="goToTable(node.table)"
                                                                                       ng-bind="node.table.mappingId"></a></span>
                            </div>
                            <div ng-show="node.type === 'datatype'">-</div>
                        </td>
                        <td class="col-md-1">

                            <div ng-show="node.type === 'datatype'">
                             <span ng-show="trim" class="constraint_trim">
                                              <span ng-repeat="predicate in node.predicates">
                                                 {{predicate.description}}
                                              </span>
                                            </span>
                                         <span ng-show="!trim" class="constraint_verbose">
                                              <p ng-repeat="predicate in node.predicates">
                                                  {{predicate.description}}
                                              </p>
                                            </span>
                            </div>

                            <div ng-show="node.type !== 'datatype'">

                                <span ng-show="trim" class="constraint_trim">
                                              <span ng-repeat="predicate in node.datatype.predicates">
                                                 {{predicate.description}}
                                              </span>
                                            </span>
                                         <span ng-show="!trim" class="constraint_verbose">
                                              <p ng-repeat="predicate in node.datatype.predicates">
                                                  {{predicate.description}}
                                              </p>
                                            </span>
                            </div>



                        </td>
                        <td class="col-md-1">
                            <div ng-show="node.type === 'datatype'">
                             <span ng-show="trim" class="constraint_trim">
                                               <span ng-repeat="conStatement in node.conformanceStatements">
                                                    {{conStatement.constraintId}} : {{conStatement.description}}
                                             </span>
                                            </span>
                                         <span ng-show="!trim" class="constraint_verbose">
                                              <p ng-repeat="conStatement in node.conformanceStatements">
                                                  {{conStatement.constraintId}} : {{conStatement.description}}
                                              </p>
                                            </span>
                            </div>
                            <div ng-show="node.type !== 'datatype'">
                                <span ng-show="trim" class="constraint_trim">
                                               <span ng-repeat="conStatement in node.datatype.conformanceStatements">
                                                    {{conStatement.constraintId}} : {{conStatement.description}}
                                             </span>
                                            </span>
                                         <span ng-show="!trim" class="constraint_verbose">
                                              <p ng-repeat="conStatement in node.datatype.conformanceStatements">
                                                  {{conStatement.constraintId}} : {{conStatement.description}}
                                              </p>
                                            </span>
                            </div>

                        </td>
                        <td class="col-md-1">
                            <div ng-show="node.type !== 'datatype'">
                                <input style="width:100%" class="igl-input" type="text"
                                       name="comment"
                                       ng-change="recordChange(node,'comment')"
                                       ng-model="node.comment">
                            </div>
                            <div ng-show="node.type === 'datatype'">-</div>
                            <div ng-show="node.type === 'subcomponent'">{{node.comment}}
                            </div>
                        </td>
                    </tr>
                </script>

            </div>
        </div>

    </form>

</div>
</div>
</div>
</div>
</div>
<pre>
                        {{changes | json}}
                </pre>