<fieldset ng-disabled="datatypeCopy.scope === 'HL7STANDARD' || datatypeCopy.status === 'PUBLISHED'">
<div class="container">
<div ng-show="loadingSelection"
     style="text-align: center;">
    <i class="fa fa-spinner fa-pulse fa-align-center fa-2x"></i>
</div>
<div ng-show="!loadingSelection">
<div ng-show="datatypeCopy !== null" id="executionPanel">
<div class="row">
    <div class="col-md-12 igl-page-header">
        <span class="header4 pull-left">Data Type: {{getLabel(datatypeCopy.name, datatypeCopy.ext)}}</span>
                     <span class="pull-right">
  		<label for="publish" style="margin : 0 10px 0 0"><input type="checkbox" ng-model="datatypeCopy.status" ng-true-value="'PUBLISHED'" ng-false-value="'UNPUBLISHED'" ng-disabled="datatypeCopy.status === 'PUBLISHED'" style="margin-right : 8px"/>Published</label>
         <button title="Save Changes" type="button" class="btn btn-raised btn-xs btn-success"
				ng-hide="datatypeCopy.scope === 'HL7STANDARD'"
                 ng-disabled="!forms.editForm.$dirty"
                 ng-click="saveDatatype(datatypeCopy)">
             <span><i class="fa fa-check fa-fw"></i> Save</span>
         </button>

                   <button title="Reset the Data Type" type="button" class="btn btn-raised btn-xs btn-warning"
				ng-hide="datatypeCopy.scope === 'HL7STANDARD'"
                           ng-disabled="!forms.editForm.$dirty" ng-click="resetDatatype(datatypeCopy)">
                        <span><i class="fa fa-close fa-fw"></i>Reset</span>
                       </button>

    </span>
    </div>
</div>
<tabset>
<tab heading="MetaData">

 
<div class="container">
            <div class=" row"
                 ng-class="{'igl-has-error has-feedback' : forms.datatypeForm.name.$invalid}">
                <label for="name" class="control-label col-md-2">Datatype flavor</label>
                <div  class="col-md-5">
                <input type="text" disabled
                       name="name" id="name" class="form-control"  ng-model="datatypeCopy.name"
                       required ng-change="recordChanged()" aria-describedby="helpBlock2"/>
                                    <span id="helpBlock2" class="help-block" style="color:red"
                                          ng-show="isDuplicated(datatypeCopy,'label', datatypes)">Label already used</span>
                                          </div>
                                          
                          <div  class="col-md-5">                  
                       <input type="text"
                     	name="ext" id="ext" class="form-control" ng-model="datatypeCopy.ext"
                       ng-change="recordChanged()"
                       required ng-change="recordChanged()"/>   
                       </div>                       
            </div>
            
            
            
            
            
            
             <div class=" row"
                 ng-class="{'igl-has-error has-feedback' : forms.datatypeForm.name.$invalid}">
                <label for="name" class="control-label col-md-2">Derived from </label>
                <div  class="col-md-5">
                <input type="text" disabled
                       name="name" id="name" class="form-control"  ng-model="datatypeCopy.name"
                       required ng-change="recordChanged()" aria-describedby="helpBlock2"/>      
            </div>

        </div>
                   <div class=" row"
                 ng-class="{'igl-has-error has-feedback' : forms.datatypeForm.name.$invalid}">
                <label for="name" class="control-label col-md-2">Description </label>
                <div  class="col-md-5">
                <input type="text" disabled
                       name="name" id="name" class="form-control"  ng-model="datatypeCopy.description"
                       required ng-change="recordChanged()" aria-describedby="helpBlock2"/>      
            </div>

        </div>
  
        
        <div class=" row"
                 ng-class="{'igl-has-error has-feedback' : forms.datatypeForm.name.$invalid}">
                <label for="name" class="control-label col-md-2">hl7Version </label>
                <div  class="col-md-5">
                <input type="text" 
                       name="name" id="name" class="form-control"  ng-model="datatypeCopy.hl7Version"
                       required ng-change="recordChanged()" aria-describedby="helpBlock2"/>      
            </div>

        </div>
        
            <div class=" row"
                 ng-class="{'igl-has-error has-feedback' : forms.datatypeForm.purposeAndUse.$invalid}">
                <label for="purposeAndUse" class="control-label col-md-2">Purpose and Use  </label>
                <div  class="col-md-5">
                <input type="text"
                       name="name" id="name" class="form-control"  ng-model="datatypeCopy.datatypeCopy.purposeAndUse"
                       required ng-change="recordChanged()" aria-describedby="helpBlock2"/>      
            </div>

        </div>
        
        
        
                    <div class=" row"
                 ng-class="{'igl-has-error has-feedback' : forms.datatypeForm.usageNote.$invalid}">
                <label for="usageNote" class="control-label col-md-2"> Base Definition  </label>
                <div  class="col-md-5">
                <input type="text" 
                       name="usageNote" id="usageNote" class="form-control"  ng-model="datatypeCopy.datatypeCopy.usageNote"
                       required ng-change="recordChanged()" />      
            </div>

        </div>
     
        </div>
 


<!--         <div class="col-md-3 col-margin"> -->
<!--             <div class="form-group control-group" -->
<!--                  ng-class="{'igl-has-error has-feedback' : forms.datatypeForm.description.$invalid}"> -->
<!--                 <label class="control-label">Description</label> -->
<!--                 <input type="text" -->
<!--                        ng-change="recordChanged()" -->
<!--                        name="description" class="form-control" ng-model="datatypeCopy.description" -->
<!--                        required ng-change="recordChanged()"> -->
<!--             </div> -->
<!--         </div> -->
<!--          <div class="col-md-2 col-margin"> -->
<!--             <div class="form-group control-group" -->
<!--                  ng-class="{'igl-has-error has-feedback' : forms.datatypeForm.description.$invalid}"> -->
<!--                 <label class="control-label" style="text-align : center">HL7 Version</label> -->
<!--                 <input type="text" disabled -->
<!--                        name="description" class="form-control" ng-model="datatypeCopy.hl7Version" -->
<!--                        required style="text-align : center"> -->
<!--             </div> -->
<!--         </div> -->
<!--          <div class="col-md-6 col-margin"> -->
<!--             <div class="form-group control-group" -->
<!--                  ng-class="{'igl-has-error has-feedback' : forms.datatypeForm.purposeAndUse.$invalid}"> -->
<!--                 <label for="pnu" class="control-label">Purpose and Use</label> -->
<!--                 <textarea name="pnu" rows="3" cols="20" -->
<!--                        ng-change="recordChanged()" -->
<!--                        name="purposeAndUse" class="form-control" ng-model="datatypeCopy.purposeAndUse" -->
<!--                        required ng-change="recordChanged()"/> -->
<!--             </div> -->
<!--         </div> -->
        
        
<!--       <div class="col-md-6 col-margin"> -->
<!--             <div class="form-group control-group" -->
<!--                  ng-class="{'igl-has-error has-feedback' : forms.datatypeForm.comment.$invalid}"> -->
<!--                 <label for="comment" class="control-label">Comment</label> -->
<!--                 <input name="pnu" type="text" -->
<!--                        ng-change="recordChanged()" -->
<!--                        name="comment" class="form-control" -->
<!--                        ng-model="datatypeCopy.comment"> -->
<!--             </div> -->
<!--         </div> -->


<!--     </div> -->
<!--     <div class="col-md-12"> -->
<!--         <div class="col-md-12 col-margin"> -->
<!--             <div class="form-group control-group" -->
<!--                  ng-class="{'igl-has-error has-feedback' : forms.datatypeForm.text.$invalid}"> -->
<!--                 <label class="control-label">Definition Text</label> -->
<!--                     <textarea froala="froalaEditorOptions" ng-model="datatypeCopy.usageNote" name="text" -->
<!--                               id="text" -->
<!--                               ng-change="recordChanged()"></textarea> -->
 
<!--                 <div ng-if="viewSettings.tableReadonly || datatypeCopy.scope !== 'USER'"> -->
<!--                     <div class="fr-view"> -->
<!--                         <div froala-view="datatypeCopy.usageNote"></div> -->
<!--                     </div> -->
<!--                 </div> -->

<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->
</tab>
<tab heading="Data Type Definition">
<div class="row" style="margin-top:20px">
    <div class="col-md-12 igl-page-header">
                            <span class="pull-right">
                                <span style="margin-right: 20px" ng-dropdown-multiselect=""
                                      options="viewSettings.columnOptions"

                                      selected-model="viewSettings.visibleColumns"
                                      events="viewSettings.events" extra-settings="viewSettings.extra"
                                      translation-texts="viewSettings.translations"></span>
  </span>

    </div>

    <div class="col-md-12">
        <div class="table-responsive">
            <table tt-table tt-params="datatypesParams"
                   class="table table-bordered table-fix-header table-condensed profile-table">
                <thead>
                <tr class="tbl-header"
                    style="">
                    <th class="col-xs-1 col-fixed-100"
                        ng-show="viewSettings.isVisibleColumn('length')">SEQ
                    </th>
                    <th class="col-xs-2 col-fixed-250">
                        Component Name
                    </th>
                    <th class="col-xs-1 col-fixed-80"
                        ng-show="viewSettings.isVisibleColumn('usage')">Usage
                    </th>
                    <th class="col-xs-1 col-fixed-100"
                        ng-show="viewSettings.isVisibleColumn('datatype')">DT
                    </th>
                    <th class="col-xs-1 col-fixed-130"
                        ng-show="viewSettings.isVisibleColumn('valueSet')">Concept Domain/ Minimum Code System
                    </th>
                    <th class="col-xs-1" ng-style="predWidthx"
                        ng-show="viewSettings.isVisibleColumn('predicate')">Condition Predicate
                    </th>
                    <th class="col-xs-2" ng-style="csWidthx"
                        ng-show="viewSettings.isVisibleColumn('confStatement')">Conformance Statement
                    </th>
                    <th class="col-xs-1" ng-style="commentWidth"
                        ng-show="viewSettings.isVisibleColumn('comment')">Comments
                    </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
</tab>
</tabset>
</fieldset>
