<!-- Information panel -->
<div flex ng-include="'views/edit/exportConfig/exportConfigurationInformation.html'"></div>
<!-- Configuration cards -->
<div layout="column">
    <div layout-xs="column" layout="row">
        <div flex ng-include="'views/edit/exportConfig/messageConfiguration.html'"></div>
        <div flex ng-include="'views/edit/exportConfig/segmentConfiguration.html'"></div>
    </div>
    <!--div layout-xs="column" layout="row">
        <div flex ng-include="'views/edit/exportConfig/messageConfiguration.html'"></div>
        <div flex ng-include="'views/edit/exportConfig/messageConfiguration.html'"></div>
    </div>
    <div layout-xs="column" layout="row">
        <div flex ng-include="'views/edit/exportConfig/messageConfiguration.html'"></div>
        <div flex ng-include="'views/edit/exportConfig/messageConfiguration.html'"></div>
    </div-->
</div>

