<script type="text/ng-template" id="EditDatatypes.html">
    <div ng-controller="DatatypeListCtrl" ng-init="init()" class="container">
        <div ng-show="loading" style="text-align:center">
            <i class="fa fa-spinner fa-pulse fa-align-center fa-2x"></i>
        </div>
        <div ng-show="!loading">
            <div ng-show="loadingSelection"
                 style="text-align: center;">
                <i class="fa fa-spinner fa-pulse fa-align-center fa-2x"></i>
            </div>
            <div ng-show="!loadingSelection">
                <div ng-show="datatype !== null" id="executionPanel">
                    <div>
                        <span class="header4">Datatype {{datatype.name}}: {{datatype.label}}</span>
    <span class="pull-right">

        <button title="Create Flavor" type="button" class="btn btn-xs btn-info"
                ng-click="flavor(datatype)"
                >
            <span><i class="fa fa-plus-circle fa-fw"></i>&nbsp; Flavor</span>
        </button>
        <button title="Close" type="button" class="btn btn-xs btn-warning"
                ng-click="close()">
            <span><i class="fa fa-times fa-fw"></i>&nbsp; Close</span>
        </button>
        <button title="Delete" type="button"
                class="btn btn-xs btn-danger"
                ng-click="delete(datatype)">
            <span><i class="fa fa-trash-o fa-fw">&nbsp; </i>Delete</span>
        </button>
    </span>
                    </div>
                    <hr/>
                    <accordion close-others="false">
                        <accordion-group heading="MetaData" is-open="false">
                            <form name="datatypeMetaDataForm" novalidate>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group"
                                             ng-class="{'has-error' : datatypeMetaDataForm.name.$invalid && !datatypeMetaDataForm.name.$pristine }">
                                            <label>Name</label>
                                            <input type="text" disabled
                                                   name="name" class="form-control" ng-model="datatype.name"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label>Comment</label>
                                            <input type="text"
                                                   ng-change="recordDatatypeChange('datatype','edit',datatype.id,'comment', datatype.comment)"
                                                   name="label" class="form-control" ng-model="datatype.comment"
                                                    >
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group"
                                             ng-class="{'has-error' : datatypeMetaDataForm.label.$invalid && !datatypeMetaDataForm.label.$pristine }">
                                            <label>Label</label>
                                            <input type="text"
                                                   ng-change="recordDatatypeChange('datatype','edit',datatype.id,'label', datatype.label)"
                                                   name="label" class="form-control" ng-model="datatype.label"
                                                   required>
                                        </div>

                                        <div class="form-group">
                                            <label>Definition Text</label>

                                            <div text-angular style="width:100%"
                                                 name="text"
                                                 ng-change="recordDatatypeChange('datatype','edit',datatype.id,'text', datatype.text)"
                                                 ng-model="datatype.text"></div>

                                        </div>


                                    </div>

                                </div>
                            </form>
                        </accordion-group>
                        <accordion-group heading="Definition" is-open="false">
                            <form style="margin-top: 20px" class="form-horizontal" name="editDatatypeForm">
                                <div style="margin-top: 20px">
                                    <div class="table-responsive">
                                        <table tt-table tt-params="params"
                                               class="table table-striped table-bordered table-fix-header table-condensed profile-table">
                                            <thead>
                                            <tr class="tbl-header"
                                                style="margin-right: {{scrollbarWidth}}px;">
                                                <th class="col-xs-2 col-fixed-350">Name</th>
                                                <th class="col-xs-1 col-fixed-80">Usage</th>
                                                <th class="col-xs-1 col-fixed-100">Length</th>
                                                <th class="col-xs-1 col-fixed-80">ConfLength</th>
                                                <th class="col-xs-1 col-fixed-100">Datatype</th>
                                                <th class="col-xs-1 col-fixed-100">ValueSet</th>
                                                <th class="col-xs-1" ng-style="predWidth">Predicate</th>
                                                <th class="col-xs-2" ng-style="csWidth">Conformance
                                                    Statement
                                                </th>
                                                <th class="col-xs-1 col-fixed-80">Def.Text</th>
                                                <th class="col-xs-1" ng-style="commentWidth">Comment</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </form>
                        </accordion-group>
                    </accordion>

                </div>
            </div>
        </div>
        </accordion-group>
        </accordion>
    </div>
    </div>
</script>




</div>
<!--<pre>-->
<!--{{changes | json}}-->
<!--</pre>-->
