<div ng-controller="EditProfileCtrl">
    <div>
        <div class="page-header">
            <h1>Implementation Guide: {{profile.metaData.identifier}}</h1>
        </div>
        <div class="pull-right">
            <!--<button title="Cancel Edit" type="button" class="btn btn-warning btn-sm"-->
                    <!--ng-click="reset()">-->
                <!--<span><i class="fa fa-times"></i>&nbsp; Reset</span>-->
            <!--</button>-->

            <button title="Apply Changes" ng-disabled="changes.length == 0" type="button" class="btn btn-success btn-sm"
                    ng-click="save()">
                <span><i class="fa fa-check-square"></i>&nbsp; Apply</span>
            </button>
            <div class="btn-group">
                <button ng-disabled="hasChanges()" type="button" class="btn btn-primary btn-sm">                                        <span><i class="fa fa-file-text-o fa-fw">&nbsp; </i></span>
                    Export</button>
                <button ng-disabled="hasChanges()" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="exportAs('XML')">As XML</a></li>
                    <!--<li><a href="#" ng-click="exportAs('PDF')">As PDF</a></li>-->
                </ul>
            </div>
            <button title="Close" type="button" class="btn btn-warning btn-sm"
                    ng-click="close()">
                <span><i class="fa fa-times"></i>&nbsp; Close</span>
            </button>
            <button title="Delete" type="button" class="btn btn-danger btn-sm"
                    ng-click="delete()">
                <span> <i class="fa fa-trash"></i>&nbsp; Delete</span>
            </button>

        </div>
      </div>
    <br/>
    <div ng-show="error !== null">
        <div class="alert alert-danger" role="alert" ng-bind="error"></div>
        <br/>
    </div>
    <div ng-show="generalInfo.message !== null">
        <br/>
        <div class="alert alert-{{generalInfo.type}}" role="alert" ng-bind="generalInfo.message"></div>
        <br/>
    </div>
    <div>
        <tabset>
            <tab select="selectProfileTab(0)" active="profileTabs[0]">
                <tab-heading>
                    <!--<span class="badge">1</span>-->
                    <i class="fa fa-file-text-o fa-fw"></i>
                    Document
                </tab-heading>
                <div ng-include="'views/edit/editIG.html'"></div>
            </tab>

            <tab select="selectProfileTab(1)" active="profileTabs[1]">
                <tab-heading>
                    <!--<span class="badge">M</span>-->
                    <i class="fa fa-book fa-fw"></i>
                    Conformance Profiles
                </tab-heading>
                <div ng-include="'views/edit/editMessages.html'"></div>
            </tab>

            <tab select="selectProfileTab(2)" active="profileTabs[2]">
                <tab-heading>
                    <!--<span class="badge">S</span>-->
                    <i class="fa fa-book fa-fw"></i>
                    Segments
                </tab-heading>
                <div ng-include="'views/edit/editSegments.html'"></div>
            </tab>

            <tab select="selectProfileTab(3)" active="profileTabs[3]">
                <tab-heading>
                    <!--<span class="badge">D</span>-->
                    <i class="fa fa-book fa-fw"></i>
                    Datatypes
                </tab-heading>
                <div ng-include="'views/edit/editDatatypes.html'"></div>
            </tab>

            <tab select="selectProfileTab(4)" active="profileTabs[4]">
                <tab-heading>
                    <!--<span class="badge">V</span>-->
                    <i class="fa fa-book fa-fw"></i>
                    ValueSets
                </tab-heading>
                <div ng-include="'views/edit/editValueSets.html'"></div>
            </tab>




        </tabset>

    </div>

</div>