<style id="antiClickjack">
    body {
        display: none !important;
    }
</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="EditCompositeProfile.html">
    <div ng-show="isAuthenticated()" ng-controller="ListCompositeProfileCtrl">
        <!--<div class="row">-->
        <div ng-show="!isPending()">
            <div style="padding-top:10px">
                <div style="margin:5px">
                    <div class="page-header" style="margin-bottom: 20px">
                        <span class="header4">Composite Profile: {{compositeProfileStructure.name}} </span>
                        <div class="pull-right">
                            <button ng-disabled="editForm.$invalid ||!editForm.$dirty" title="Save Changes" type="button" class="btn btn-raised btn-sm btn-success" ng-click="save()">
                                                            <span><i class="fa fa-check fa-fw"></i> Save</span>
                                                        </button>
                        </div>
                    </div>
                    <div class="static_info">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Updated {{compositeProfile.dateUpdated | date:dateFormat}}


                    </div>
                    <md-tabs md-dynamic-height md-border-bottom md-selected="tabStatus.active">
                        <md-tab>
                            <md-tab-label>
                                <i class="fa fa-code-fork fa-fw" aria-hidden="true"></i> Composite Profile Structure
                            </md-tab-label>
                            <md-tab-body>
                                <div style="margin-top: 20px">
                                    <div class="row margin-0 full-width hidden-xs">
                                        <div class="yy-timeline-box" ng-class-odd="'right'" ng-class-even="'right'" style="margin-left:67px;">
                                            <div class="yy-timeline-box-inner">
                                                <div class="yy-timeline-image-container">
                                                    <img src="images/square.jpg" alt="" style="margin-top:-55px;" />
                                                </div>
                                                <div class="yy-timeline-content" style="margin-top:-40px;background-color:rgb(1, 87, 155);width:30%;">
                                                    <div align="center">
                                                        <h5>Core Profile </h5>
                                                    </div>
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>Name : </td>
                                                                <td>{{compositeProfile.coreMessageMetaData.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Description : </td>
                                                                <td>{{compositeProfile.coreMessageMetaData.description}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Identifier : </td>
                                                                <td>{{compositeProfile.coreMessageMetaData.identifier}}</td>
                                                            </tr>

                                                        </table>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div dnd-list="compositeProfile.appliedProfileComponents">
                                        <div class="row margin-0 full-width hidden-xs" ng-repeat="pcInfo in compositeProfile.appliedProfileComponents" dnd-draggable="pcInfo" dnd-moved="compositeProfile.appliedProfileComponents.splice($index, 1);changePosition()">

                                            <div class="yy-timeline-box" ng-class-odd="'right'" ng-class-even="'right'">
                                                <div class="yy-timeline-box-inner">
                                                    <span class="yy-timeline-date"> {{pcInfo.position}} </span>

                                                    <div class="yy-timeline-image-container">
                                                        <img src="images/circle.gif" alt="" />
                                                    </div>
                                                    <div class="yy-timeline-content" style="background-color :rgb(255, 236, 157);width:30%;">
                                                        <div class="row" align="center">
                                                            <strong>{{pcInfo.pc.name}} </strong> <span ng-if="pcInfo.pc.description"> : {{pcInfo.pc.description}}</span>
                                                            <!--<h5>Profile Component {{pcInfo.position}}</h5>-->
                                                        </div>
                                                        <div class="row">
                                                            Date Updated : {{pcInfo.pc.dateUpdated | date:dateFormat}}
                                                        </div>
                                                        <div class="row">
                                                            Date Applied : {{pcInfo.pcDate | date:dateFormat}}
                                                        </div>
                                                        <!--<div>
                                                            <table>
                                                                <tr>
                                                                    <td>Name : </td>
                                                                    <td>{{pcInfo.pc.name}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Description : </td>
                                                                    <td>{{pcInfo.pc.description}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Comment : </td>
                                                                    <td>{{pcInfo.pc.comment}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Date Updated : </td>
                                                                    <td>{{pcInfo.pc.dateUpdated | date:dateFormat}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Date Applied : </td>
                                                                    <td>{{pcInfo.pcDate | date:dateFormat}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>-->
                                                        <div class="row" align="right">
                                                            <button class="btn btn-raised btn-danger btn-xs" ng-click="removePc(pcInfo.pc.id)"><span><i class="fa fa-times fa-fw">
                                                        &nbsp; </i>remove</span>
                                                    </button>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="dndPlaceholder" style="height:100px;">Drop Here</div>

                                    </div>

                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>
                                <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> Composite Profile MetaData
                            </md-tab-label>
                            <md-tab-body>
                                <div style="margin-top: 20px">
                                    <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.name.$invalid}">
                                        <label class="col-md-2 control-label">Name*</label>
                                        <div class="controls col-md-10">
                                            <input class="form-control" type="text" disabled name="name" ng-change="setDirty()" ng-model="compositeProfileStructure.name" ng-disabled="viewSettings.tableReadonly">
                                        </div>
                                    </div>
                                    <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.identifier.$invalid}">
                                        <label class="col-md-2 control-label">Identifier*</label>
                                        <div class="controls col-md-10">
                                            <input type="text" ng-change="setDirty()" name="identifier" class="form-control" ng-model="compositeProfile.identifier" ng-disabled="viewSettings.tableReadonly" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.description.$invalid}">
                                        <label class="col-md-2 control-label">Description</label>
                                        <div class="controls col-md-10">
                                            <input class="form-control" type="text" name="description" ng-change="setDirty()" ng-model="compositeProfileStructure.description" ng-disabled="viewSettings.tableReadonly">
                                        </div>
                                    </div>
                                    <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.description.$invalid}">
                                        <label class="col-md-2 control-label">Hl7 Version</label>
                                        <div class="controls col-md-10">
                                            <input class="form-control" type="text" name="hl7Version" ng-model="compositeProfile.hl7Version" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.messageType.$invalid}">
                                        <label class="col-md-2 control-label">Message Type*</label>
                                        <div class="controls col-md-10">
                                            <input type="text" disabled name="messageType" class="form-control" ng-model="compositeProfile.messageType" required>
                                        </div>
                                    </div>
                                    <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.messageEvent.$invalid}">
                                        <label class="col-md-2 control-label">Message Event*</label>
                                        <div class="controls col-md-10">
                                            <input type="text" disabled name="messageEvent" class="form-control" ng-model="compositeProfile.event" required>
                                        </div>
                                    </div>
                                    <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.messageStructID.$invalid}">
                                        <label class="col-md-2 control-label">Message Structure ID*</label>
                                        <div class="controls col-md-10">
                                            <input type="text" disabled name="messageStructID" class="form-control" ng-model="compositeProfile.structID" required>
                                        </div>
                                    </div>
                                    <div class="form-group control-group" ng-class="{'igl-has-error' : editForm.comment.$invalid}">
                                        <label class="col-md-2 control-label">Comment</label>
                                        <div class="controls col-md-10">
                                            <textarea rows="3" cols="20" ng-disabled="viewSettings.tableReadonly" name="comment" id="comment" class="form-control" ng-model="compositeProfileStructure.comment" />
                                        </div>
                                    </div>
                                    <div class="form-group control-group" ng-class="{'igl-has-error has-feedback' : datatypeForm.text.$invalid}">
                                        <label class="col-md-2 control-label">Definition Text</label>
                                        <div class="controls col-md-10">
                                            <div ng-show="!viewSettings.tableReadonly">
                                                <textarea froala="froalaEditorOptions" ng-model="compositeProfile.usageNote" name="text" id="text" ng-change="setDirty()"></textarea>
                                            </div>
                                            <div ng-show="viewSettings.tableReadonly">
                                                <div class="fr-view">
                                                    <div froala-view="compositeProfile.usageNote"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group control-group">
                                        <label class="col-md-2 control-label">Date Updated</label>

                                        <div class="controls col-md-10">
                                            <span class="form-control">{{compositeProfile.dateUpdated | date:dateFormat}}</span>
                                        </div>
                                    </div>

                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>
                                <i class="fa fa-table fa-fw" aria-hidden="true "></i> Composite Profile Definition
                            </md-tab-label>
                            <md-tab-body>
                                <div style="margin-top: 20px ">
                                    <div class="pull-left">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <span class="label-message-icon"><i class="fa fa-circle fa-fw"/></span> From Composite Profile
                                            </li>
                                            <li class="list-group-item">
                                                <span class="label-field-icon"><i class="fa fa-circle fa-fw"/></span> From Segment
                                            </li>
                                            <li class="list-group-item">
                                                <span class="label-component-icon"><i class="fa fa-circle fa-fw"/></span> From Field's Data Type
                                            </li>
                                            <li class="list-group-item">
                                                <span class="label-sub-component-icon"><i class="fa fa-circle fa-fw"/></span> From Component's Data Type
                                            </li>
                                        </ul>
                                    </div>


                                    <div class="col-md-12 " ng-show="compositeProfile.children.length>0" style="overflow-y:auto;">
                                        <table id="compositeProfileTable" tt-table tt-params="compositeProfileParams" class="table table-bordered table-fix-header table-condensed profile-table">
                                            <thead>
                                                <tr class="tbl-header" style="">
                                                    <th class="col-md-1 col-fixed-250" rowspan="2"> Name</th>
                                                    <th class="col-md-1 col-fixed-80" rowspan="2">Usage</th>
                                                    <th class="col-md-1 col-fixed-100" colspan="2">Cardinality</th>
                                                    <th class="col-md-1 col-fixed-100" colspan="2">Length</th>
                                                    <th class="col-md-1 col-fixed-30" rowspan="2" ng-show="showConfLength()"> ConfLength </th>
                                                    <th class="col-md-1 col-fixed-35" rowspan="2">Data Type
                                                    </th>
                                                    <th class="col-md-1 col-fixed-33" rowspan="2">Value Set/Single Code
                                                    </th>
                                                    <th class="col-md-1 col-fixed-33" rowspan="2">Constant Value
                                                    </th>
                                                    <th class="col-md-1" ng-style="predWidthx" rowspan="2">Predicate
                                                    </th>
                                                    <th class="col-md-1" ng-style="csWidthx" rowspan="2">Conformance Statement
                                                    </th>
                                                    <th class="col-md-1 col-fixed-80" rowspan="2">Definition Text
                                                    </th>
                                                    <th class="col-md-1" ng-style="commentWidth" rowspan="2">Comment
                                                    </th>


                                                </tr>
                                                <tr class="tbl-header">
                                                    <th class="col-xs-1 col-fixed-50" style="width:2%">min</th>
                                                    <th class="col-xs-1 col-fixed-50" style="width:2%">max</th>
                                                    <th class="col-xs-1 col-fixed-50" style="width:2%">min</th>
                                                    <th class="col-xs-1 col-fixed-50" style="width:2%">max</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>


                                </div>
                            </md-tab-body>

                        </md-tab>

                    </md-tabs>






                </div>



            </div>
        </div>
    </div>


</script>




<script type="text/ng-template" id="compositeProfileTable">

    <tr tt-node is-branch="node.ref.fields.length>0||node.datatype.components.length>0||node.children.length>0">


        <td class="col-md-1 col-fixed-250">
            <span ng-if="node.type=='datatype'" class="label label-default label-icon">D</span>
            <span ng-if="node.type=='group'" class="label label-success label-icon">G</span>
            <span ng-if="node.type=='segmentRef'||node.type=='segment'" class="label label-segment label-icon">S</span>
            <span class="label label-field label-icon" ng-if="node.type==='field'">F</span>
            <span class="label label-component label-icon" ng-if="node.type==='component'">C</span> {{node.position}}.
            <span ng-if="node.type==='segmentRef'">{{node.ref.label}}</span>
            <span ng-if="node.type!=='segmentRef'">{{node.name}}</span>

        </td>

        <td class="col-md-1 col-fixed-80">
            {{node.usage}}
        </td>
        <td class="col-md-1 col-fixed-100 emptyCol" ng-if="node.type==='component'">
        </td>
        <td ng-class="{'col-md-1 col-fixed-100 input-change ':node.attributes.min!==node.attributes.oldMin,'col-md-1 col-fixed-100':node.attributes.min===node.attributes.oldMin}" ng-if="node.type!=='component'">
            {{node.min}}
        </td>


        <td class="col-md-1 col-fixed-100 emptyCol" ng-if="node.type==='component'">
        </td>
        <td ng-class="{'col-md-1 col-fixed-100 input-change ':node.attributes.max!==node.attributes.oldMax,'col-md-1 col-fixed-100':node.attributes.max===node.attributes.oldMax}" ng-if="node.type!=='component'">
            {{node.max}}
        </td>


        <td class="col-md-1 col-fixed-100 emptyCol" ng-if="node.type!=='field' && node.type!=='component'">

        </td>
        <td ng-if="node.type==='field' || node.type==='component'">
            {{node.minLength}}
        </td>


        <td class="col-md-1 col-fixed-100 emptyCol" ng-if="node.type!=='field' && node.type!=='component'">
        </td>
        <td ng-class="{'col-md-1 col-fixed-100 input-change ':node.attributes.maxLength!==node.attributes.oldMaxLength,'col-md-1 col-fixed-100':node.attributes.maxLength===node.attributes.oldMaxLength}" ng-if="node.type==='field' || node.type==='component'">
            {{node.maxLength}}
        </td>


        <td ng-show="showConfLength()" class="col-md-1 col-fixed-30 emptyCol" ng-if="node.type!=='field' && node.type!=='component'">
        </td>
        <td ng-show="showConfLength()" ng-class="{'col-md-1 col-fixed-30 input-change ':node.attributes.confLength!==node.attributes.oldConfLength,'col-md-1 col-fixed-30':node.attributes.confLength===node.attributes.oldConfLength}" ng-if="node.type==='field' || node.type==='component'">
            {{node.confLength}}
        </td>


        <td class="col-md-1 col-fixed-35 emptyCol" ng-if="node.type!=='field' && node.type!=='component'">

        </td>
        <td class="col-md-2 col-fixed-35 " ng-if="node.type==='field' || node.type==='component'">
            <a class="point">
                <display-label of="compositeProfile.datatypesMap[node.datatype.id]" desc="false" ></display-label>

            </a>

        </td>




        <td ng-class="{'emptyCol':!isAvailableForValueSet(node)}" style="text-align:center">

            <div ng-show="isAvailableForValueSet(node)">
                <div ng-repeat="binding in findingBindings(node)">
                    <span class="badge label-white">
                        <span ng-class="{'label-message-icon' : binding.bindingFrom == 'compositeProfile', 'label-field-icon' : binding.bindingFrom == 'segment', 'label-component-icon' : binding.bindingFrom == 'field', 'label-sub-component-icon' : binding.bindingFrom == 'component'}"><i class="fa fa-circle fa-fw"/></span>
                    <span title="For this Composite Profile" ng-show="binding.bindingFrom == 'compositeProfile'" ng-click="redirectVS(binding)">{{getTableLabel(binding)}}</span>
                    <span title="For {{getSegmentLabel(compositeProfile.segmentsMap[node.segment])}}" ng-show="binding.bindingFrom == 'segment'" ng-click="redirectVS(binding)">{{getTableLabel(binding)}}</span>
                    <span title="For {{getDatatypeLabel(compositeProfiledatatypesMap[node.fieldDT])}}" ng-show="binding.bindingFrom == 'field'" ng-click="redirectVS(binding)">{{getTableLabel(binding)}}</span>
                    <span title="For {{getDatatypeLabel(compositeProfiledatatypesMap[node.componentDT])}}" ng-show="binding.bindingFrom == 'component'" ng-click="redirectVS(binding)">{{getTableLabel(binding)}}</span>
                    <span title="For this Composite Profile" ng-show="binding.bindingFrom == 'compositeProfile' && binding.type == 'singlecode'" ng-click="redirectVS(binding)">{{binding.code.value}}({{binding.code.codeSystem}})</span>
                    <span title="For {{getSegmentLabel(compositeProfile.segmentsMap[node.segment])}}" ng-show="binding.bindingFrom == 'segment' && binding.type == 'singlecode'" ng-click="redirectVS(binding)">{{binding.code.value}}({{binding.code.codeSystem}})</span>
                    <span title="For {{getDatatypeLabel(compositeProfile.datatypesMap[node.fieldDT])}}" ng-show="binding.bindingFrom == 'field' && binding.type == 'singlecode'" ng-click="redirectVS(binding)">{{binding.code.value}}({{binding.code.codeSystem}})</span>
                    <span title="For {{getDatatypeLabel(compositeProfile.datatypesMap[node.componentDT])}}" ng-show="binding.bindingFrom == 'component' && binding.type == 'singlecode'" ng-click="redirectVS(binding)">{{binding.code.value}}({{binding.code.codeSystem}})</span>
                    <!--<span title="Delete ValueSet Binding" ng-show="binding.bindingFrom == 'message'" ng-click="deleteBinding(binding)"><i class="fa fa-times fa-fw edit-icon"></i></span>-->
                    </span>
                </div>

            </div>
        </td>
        <td ng-class="{'emptyCol':node.type!=='field' && node.type!=='component'}" style="text-align:center">
            <div ng-show="node.type==='field' || node.type==='component'">
                <div ng-repeat="sev in findingSingleElement(node)">

                    <span ng-show="sev" class="badge label-white">
                        <span ng-class="{'label-message-icon' : sev.from == 'message', 'label-field-icon' : sev.from == 'segment', 'label-component-icon' : sev.from == 'field', 'label-sub-component-icon' : sev.from == 'component'}"><i class="fa fa-circle fa-fw"/></span>
                    <span>{{sev.value}}</span>
                    <!--<span title="Edit SingleElement" ng-show="sev.from == 'message'" ng-click="openDialogForEditSev(node)"><i class="fa fa-pencil fa-fw edit-icon"></i></span>
                        <span title="Add SingleElement" ng-show="sev.from != 'message'" ng-click="confirmDatatypeSingleElementDuplicated(node)"><i class="fa fa-pencil fa-fw edit-icon"></i></span>
                        <span title="Delete SingleElement" ng-show="sev.from == 'message'" ng-click="deleteSev(node)"><i class="fa fa-times fa-fw edit-icon"></i></span>-->
                    </span>
                    <!--<a ng-show="!sev" class="point" ng-click="openDialogForEditSev(node)">
                    <span><i class="fa fa-plus fa-fw"></i></span>
                </a>-->
                </div>


            </div>
        </td>



        <td class="col-md-1">
        </td>
        <td class="col-md-1">
        </td>



        <td class=" emptyCol col-md-1 col-fixed-80 ">

            <a ng-show="node.text !=='' && node.text !==null && node.text !==undefined " ng-click="openRichTextDlg(node, 'text', 'Definition Text', true)" class="point">
                <i class="fa fa-eye"></i>
            </a>

        </td>


        <td style="text-align:center">
            <div ng-repeat="comment in findingComments(node)">
                <span class="badge label-white">
                        <span ng-class="{'label-message-icon' : comment.from == 'compositeProfile', 'label-field-icon' : comment.from == 'segment', 'label-component-icon' : comment.from == 'field', 'label-sub-component-icon' : comment.from == 'component'}"><i class="fa fa-circle fa-fw"/></span>
                <span title="{{comment.description}}@{{comment.lastUpdatedDate|date:dateFormat}}" ng-click="editCommentDlg(node, comment, true, 'compositeProfile')">{{comment.lastUpdatedDate|date:dateFormat}}</span>
                <!--<span title="For {{getSegmentLabel(segmentsMap[node.segment])}}" ng-show="comment.from == 'segment'" ng-click="editCommentDlg(node, comment, true, 'compositeProfile')">{{comment.lastUpdatedDate|date:dateFormat}}</span>
                        <span title="For {{getDatatypeLabel(datatypesMap[node.fieldDT])}}" ng-show="comment.from == 'field'" ng-click="editCommentDlg(node, comment, true, 'compositeProfile')">{{comment.lastUpdatedDate|date:dateFormat}}</span>
                        <span title="For {{getDatatypeLabel(datatypesMap[node.componentDT])}}" ng-show="comment.from == 'component'" ng-click="editCommentDlg(node, comment, true, 'compositeProfile')">{{comment.lastUpdatedDate|date:dateFormat}}</span>
                        <span title="Delete This Comments" ng-show="comment.from == 'message'" ng-click="deleteComment(comment)"><i class="fa fa-times fa-fw edit-icon"></i></span>-->
                </span>
            </div>
            <!--<a ng-click="editCommentDlg(node, null, false, 'message')" class="point">
                <span><i class="fa fa-plus fa-fw"></i></span>
            </a>-->
        </td>


    </tr>

</script>