<div class="container igl-tab">
<form name="profileMetaDataForm" novalidate>
    <div class="row">

        <div class="col-sm-6">
            <div class="form-group"
                 ng-class="{'has-error' : profileMetaDataForm.name.$invalid && !profileMetaDataForm.name.$pristine }">
                <label>Name</label>
                <input type="text" name="name" class="form-control" ng-model="profile.metaData.name"
                       required>
            </div>

            <div class="form-group">
                <label>Organization Name</label>
                <input type="text" name="orgName" class="form-control" ng-model="profile.metaData.orgName"
                       required>
            </div>

            <div class="form-group"
                 ng-class="{'has-error' : profileMetaDataForm.status.$invalid && !profileMetaDataForm.status.$pristine }">
                <label>Status</label>
                <select class="form-control"
                        name="status"
                        ng-model="profile.metaData.status"
                        ng-options="status for status in statuses">
                </select>
            </div>

            <div class="form-group">
                <label>Topics</label>
                <input type="text" name="topics" class="form-control" ng-model="profile.metaData.topics">
            </div>

        </div>
        <div class="col-sm-6">

            <div class="form-group">
                <label>Type</label>
                <input type="text" name="type" class="form-control" ng-model="profile.metaData.type"
                       required>
            </div>

            <div class="form-group"
                 ng-class="{'has-error' : profileMetaDataForm.hl7Version.$invalid && !profileMetaDataForm.hl7Version.$pristine }">
                <label>HL7Version</label>
                <select class="form-control"
                        name="hl7Version"
                        required
                        ng-model="profile.metaData.hl7Version"
                        ng-options="hl7Version for hl7Version in hl7Versions">
                </select>
            </div>

            <div class="form-group"
                 ng-class="{'has-error' : profileMetaDataForm.schemaVersion.$invalid && !profileMetaDataForm.schemaVersion.$pristine }">
                <label>Schema version</label>
                <select class="form-control"
                        required
                        name="schemaVersion"
                        ng-model="profile.metaData.schemaVersion"
                        ng-options="schemaVersion for schemaVersion in schemaVersions">
                </select>
            </div>

            <div class="form-group">
                <label>Encodings</label>
                <input type="text" disabled name="encoding" class="form-control">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <!--<button type="button" ng-click="reset()" class="btn btn-danger">Reset</button>-->

            <!--<button title="Next" ng-disabled="profileMetaDataForm.$invalid" type="submit" class="btn btn-primary btn-xs pull-right">-->
            <!--<span><i class="fa fa-angle-double-right fa-sm"></i>&nbsp; Next</span>-->
            <!--</button>-->


        </div>
    </div>
</form>
</div>