<style id="antiClickjack">
    body {
        display: none !important;
    }
</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="EditCompositeProfile.html">
    <div ng-show="isAuthenticated()" ng-controller="ListCompositeProfileCtrl">
        <!--<div class="row">-->
        <div ng-show="!isPending()">
            <div style="padding-top:10px">
                <div style="margin:5px">
                    <div class="page-header" style="margin-bottom: 20px">
                        <span class="header4">Composite Profile: {{compositeProfileStructure.name}} </span>
                        <div class="pull-right">
                            <button ng-disabled="editForm.$invalid ||!editForm.$dirty" title="Save Changes" type="button" class="btn btn-raised btn-sm btn-success" ng-click="save()">
                                                            <span><i class="fa fa-check fa-fw"></i> Save</span>
                                                        </button>
                        </div>
                    </div>
                    <div class="static_info">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Updated {{compositeProfile.dateUpdated | date:dateFormat}}


                    </div>
                    <md-tabs md-dynamic-height md-border-bottom md-selected="tabStatus.active">
                        <md-tab>
                            <md-tab-label>
                                <i class="fa fa-code-fork fa-fw" aria-hidden="true"></i>Structure
                            </md-tab-label>
                            <md-tab-body>
                                <div style="margin-top: 20px">
                                    <div class="row margin-0 full-width hidden-xs">
                                        <div class="yy-timeline-box" ng-class-odd="'right'" ng-class-even="'right'">
                                            <div class="yy-timeline-box-inner">
                                                <div class="yy-timeline-image-container">
                                                    <img src="images/square.jpg" alt="" style="margin-top:-55px;" />
                                                </div>
                                                <div class="yy-timeline-content" style="margin-top:-40px;background-color:#d3d7da;width:30%;">
                                                    <div align="center">
                                                        <h5>Core Profile </h5>
                                                    </div>
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>Name : </td>
                                                                <td>{{compositeProfile.coreMessageMetaData.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Description : </td>
                                                                <td>{{compositeProfile.coreMessageMetaData.description}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Identifier : </td>
                                                                <td>{{compositeProfile.coreMessageMetaData.identifier}}</td>
                                                            </tr>

                                                        </table>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div dnd-list="compositeProfile.appliedProfileComponents">
                                        <div class="row margin-0 full-width hidden-xs" ng-repeat="pcInfo in compositeProfile.appliedProfileComponents" dnd-draggable="pcInfo" dnd-moved="compositeProfile.appliedProfileComponents.splice($index, 1);changePosition()">

                                            <div class="yy-timeline-box" ng-class-odd="'right'" ng-class-even="'right'">
                                                <div class="yy-timeline-box-inner">
                                                    <span class="yy-timeline-date"> {{pcInfo.position}} </span>

                                                    <div class="yy-timeline-image-container">
                                                        <img src="images/circle.gif" alt="" />
                                                    </div>
                                                    <div class="yy-timeline-content" style="background-color :#43b17e;width:30%;">
                                                        <div class="row" align="left" style="margin-left: 0px;margin-right: 0px;">
                                                            <strong>{{pcInfo.pc.name}} </strong> <span ng-if="pcInfo.pc.description"> : {{pcInfo.pc.description}}</span>
                                                        </div>
                                                        <div class="row" align="left" style="margin-left: 0px;margin-right: 0px;">
                                                            Date Updated : {{pcInfo.pc.dateUpdated | date:dateFormat}}
                                                            <br>Date Applied : {{pcInfo.pcDate | date:dateFormat}}
                                                            <br>
                                                            <div align="center">
                                                                <button style="margin-bottom:5px;" class="btn btn-raised btn-danger btn-xs" ng-click="removePc(pcInfo.pc.id)"><span><i class="fa fa-times fa-fw">
                                                        &nbsp; </i></span>
                                                    </button>
                                                            </div>
                                                        </div>




                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="dndPlaceholder" style="height:100px;">Drop Here</div>

                                    </div>

                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>
                                <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> MetaData
                            </md-tab-label>
                            <md-tab-body>
                                <div style="margin-top: 20px" ng-cloak class="md-inline-form" layout="column">
                                    <md-content layout-padding>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label class="input-left">Name</label>
                                            <input type="text" name="name" ng-change="setDirty()" ng-model="compositeProfileStructure.name" required>
                                            <div ng-messages="editForm.name.$error">
                                                <div ng-message="required">Name is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label class="input-left">Extension</label>
                                            <input type="text" name="ext" ng-change="setDirty()" ng-model="compositeProfileStructure.ext" required ng-checkcompext property="old">

                                            <div ng-messages="editForm.ext.$error">
                                                <div ng-message="required">Extension is required.</div>
                                                <div ng-message="checkcompext">Extension already exists.</div>
                                                <!--<div class="has-error" ng-show="compExist">Extension already exists.</div>-->

                                            </div>
                                        </md-input-container>


                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label class="input-left">Identifier</label>
                                            <input type="text" name="identifier" ng-model="compositeProfile.identifier" disabled required>
                                            <div ng-messages="editForm.identifier.$error">
                                                <div ng-message="required">Identifier is required.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label class="input-left">Description</label>
                                            <input type="text" name="description" ng-change="setDirty()" ng-model="compositeProfile.description">

                                        </md-input-container>


                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label class="input-left">Message Type</label>
                                            <input type="text" name="messageType" ng-model="compositeProfile.messageType" disabled required>
                                            <div ng-messages="editForm.messageType.$error">
                                                <div ng-message="required">Message Type is required.</div>
                                            </div>
                                        </md-input-container>



                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label class="input-left">Message Event</label>
                                            <input type="text" name="messageType" ng-model="compositeProfile.event" required disabled>
                                            <div ng-messages="editForm.event.$error">
                                                <div ng-message="required">Message Event is required.</div>
                                            </div>
                                        </md-input-container>


                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label class="input-left">Message Structure ID</label>
                                            <input type="text" name="structID" ng-model="compositeProfile.structID" required disabled>
                                            <div ng-messages="editForm.structID.$error">
                                                <div ng-message="required">Message Event is required.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label class="input-left">Comment</label>
                                            <textarea rows="3" ng-change="setDirty()" name="comment" id="comment" ng-model="compositeProfileStructure.comment" />
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label style="margin-bottom:15px;" class="input-left">Usage Note </label>

                                            <!--<textarea style="margin-top:40px" froala="froalaEditorOptions" md-select-on-focus ng-model="compositeProfileStructure.usageNote" name="usageNote" id="usageNote" ng-change="setDirty()"></textarea>-->

                                            <div class="fr-view">
                                                <div froala-view="compositeProfileStructure.usageNote"></div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm ng-show="compositeProfile.hl7Section != null && compositeProfile.hl7Section != ''">
                                            <label class="input-left">HL7 Section</label>
                                            <input type="text" disabled name="hl7Section" id="hl7Section" ng-model="compositeProfile.hl7Section">
                                        </md-input-container>

                                    </md-content>
                                </div>

                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>
                                <i class="fa fa-table fa-fw" aria-hidden="true "></i>Definition
                            </md-tab-label>
                            <md-tab-body>
                                <div style="margin-top: 20px ">
                                    <accordion>
                                        <div accordion-group class="panel-primary" is-open="accordStatus.isFirstOpen">
                                            <accordion-heading>
                                                <span style="color:white;">Definition Pre-Text</span> <i class="pull-left fa" style="color:white;" ng-class="{'fa-chevron-down': accordStatus.isFirstOpen, 'fa-chevron-right': !accordStatus.isFirstOpen}"></i>                                                </accordion-heading>
                                            <div class="panel-body">
                                                <div>
                                                    <textarea froala="froalaEditorOptions" ng-model="compositeProfileStructure.defPreText" name="text" id="defPreText" ng-change="setDirty()"></textarea>
                                                </div>

                                            </div>
                                        </div>
                                        <div accordion-group class="panel-primary" is-open="accordStatus.isSecondOpen">
                                            <accordion-heading>
                                                <span style="color:white;">Composite Profile Definition</span> <i class="pull-left fa" style="color:white;" ng-class="{ 'fa-chevron-down': accordStatus.isSecondOpen, 'fa-chevron-right': !accordStatus.isSecondOpen}"></i>                                                </accordion-heading>
                                            <div class="panel-body">
                                                <div>
                                                    <div class="pull-left">
                                                        <ul class="list-group">
                                                            <li class="list-group-item">
                                                                <span class="label-message-icon"><i class="fa fa-circle fa-fw"/></span> From Composite Profile
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="label-field-icon"><i class="fa fa-circle fa-fw"/></span> From Segment
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="label-component-icon"><i class="fa fa-circle fa-fw"/></span> From Field's Data Type
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="label-sub-component-icon"><i class="fa fa-circle fa-fw"/></span> From Component's Data Type
                                                            </li>
                                                        </ul>
                                                    </div>


                                                    <div class="col-md-12 " ng-show="compositeProfile.children.length>0" style="overflow-y:auto;">
                                                        <table id="compositeProfileTable" tt-table tt-params="compositeProfileParams" class="table table-bordered table-fix-header table-condensed profile-table">
                                                            <thead>
                                                                <tr class="tbl-header" style="">
                                                                    <th class="col-md-1 col-fixed-250" rowspan="2"> Name</th>
                                                                    <th class="col-md-1 col-fixed-80" rowspan="2">Usage</th>
                                                                    <th class="col-md-1 col-fixed-100" colspan="2">Cardinality</th>
                                                                    <th class="col-md-1 col-fixed-100" colspan="2">Length</th>
                                                                    <th class="col-md-1 col-fixed-30" rowspan="2" ng-show="showConfLength()"> ConfLength </th>
                                                                    <th class="col-md-1 col-fixed-35" rowspan="2">Data Type
                                                                    </th>
                                                                    <th class="col-md-1 col-fixed-33" rowspan="2">Value Set/Single Code
                                                                    </th>
                                                                    <th class="col-md-1 col-fixed-33" rowspan="2">Constant Value
                                                                    </th>
                                                                    <th class="col-md-1" ng-style="predWidthx" rowspan="2">Predicate
                                                                    </th>
                                                                    <th class="col-md-1" ng-style="csWidthx" rowspan="2">Conformance Statement
                                                                    </th>
                                                                    <th class="col-md-1 col-fixed-80" rowspan="2">Definition Text
                                                                    </th>
                                                                    <th class="col-md-1" ng-style="commentWidth" rowspan="2">Comment
                                                                    </th>


                                                                </tr>
                                                                <tr class="tbl-header">
                                                                    <th class="col-xs-1 col-fixed-50" style="width:2%">min</th>
                                                                    <th class="col-xs-1 col-fixed-50" style="width:2%">max</th>
                                                                    <th class="col-xs-1 col-fixed-50" style="width:2%">min</th>
                                                                    <th class="col-xs-1 col-fixed-50" style="width:2%">max</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div accordion-group class="panel-primary" is-open="accordStatus.isThirdOpen">
                                            <accordion-heading>
                                                <span style="color:white;">Definition Post-Text</span> <i class="pull-left fa" style="color:white;" ng-class="{ 'fa-chevron-down': accordStatus.isThirdOpen, 'fa-chevron-right': !accordStatus.isThirdOpen}"></i>                                                </accordion-heading>
                                            <div class="panel-body">
                                                <div>
                                                    <textarea froala="froalaEditorOptions" ng-model="compositeProfileStructure.defPostText" name="text" id="defPostText" ng-change="setDirty()"></textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </accordion>



                                </div>
                            </md-tab-body>

                        </md-tab>

                    </md-tabs>






                </div>



            </div>
        </div>
    </div>


</script>




<script type="text/ng-template" id="compositeProfileTable">

    <tr tt-node is-branch="node.ref.fields.length>0||node.datatype.components.length>0||node.children.length>0">


        <td class="col-md-1 col-fixed-250">

            <span ng-if="node.type=='datatype'" class="label label-default label-icon">D</span>
            <span ng-if="node.type=='group'" class="label label-success label-icon">G</span>
            <span ng-if="node.type=='segmentRef'||node.type=='segment'" class="label label-segment label-icon">S</span>
            <span class="label label-field label-icon" ng-if="node.type==='field'">F</span>
            <span class="label label-component label-icon" ng-if="node.type==='component'">C</span> {{node.position}}.
            <span ng-if="node.type==='segmentRef'">{{node.ref.label}}</span>
            <span ng-if="node.type!=='segmentRef'">{{node.name}}</span>

        </td>

        <td class="col-md-1 col-fixed-80">
            <div ng-if="node.usage !== 'C'  || (node.usage === 'C' && !findingPredicates(node))">
                {{node.usage}}
            </div>
            <div ng-if="findingPredicates(node)" class="badge label-white">
                C({{findingPredicates(node).trueUsage}}/{{findingPredicates(node).falseUsage}})

            </div>
        </td>
        <td class="col-md-1 col-fixed-100 emptyCol" ng-if="node.type==='component'">
        </td>
        <td ng-class="{'col-md-1 col-fixed-100 input-change ':node.attributes.min!==node.attributes.oldMin,'col-md-1 col-fixed-100':node.attributes.min===node.attributes.oldMin}" ng-if="node.type!=='component'">
            {{node.min}}
        </td>


        <td class="col-md-1 col-fixed-100 emptyCol" ng-if="node.type==='component'">
        </td>
        <td ng-class="{'col-md-1 col-fixed-100 input-change ':node.attributes.max!==node.attributes.oldMax,'col-md-1 col-fixed-100':node.attributes.max===node.attributes.oldMax}" ng-if="node.type!=='component'">
            {{node.max}}
        </td>


        <td class="col-md-1 col-fixed-100 emptyCol" ng-if="node.type!=='field' && node.type!=='component'">

        </td>
        <td ng-if="node.type==='field' || node.type==='component'">
            {{node.minLength}}
        </td>


        <td class="col-md-1 col-fixed-100 emptyCol" ng-if="node.type!=='field' && node.type!=='component'">
        </td>
        <td ng-class="{'col-md-1 col-fixed-100 input-change ':node.attributes.maxLength!==node.attributes.oldMaxLength,'col-md-1 col-fixed-100':node.attributes.maxLength===node.attributes.oldMaxLength}" ng-if="node.type==='field' || node.type==='component'">
            {{node.maxLength}}
        </td>


        <td ng-show="showConfLength()" class="col-md-1 col-fixed-30 emptyCol" ng-if="node.type!=='field' && node.type!=='component'">
        </td>
        <td ng-show="showConfLength()" ng-class="{'col-md-1 col-fixed-30 input-change ':node.attributes.confLength!==node.attributes.oldConfLength,'col-md-1 col-fixed-30':node.attributes.confLength===node.attributes.oldConfLength}" ng-if="node.type==='field' || node.type==='component'">
            {{node.confLength}}
        </td>


        <td class="col-md-1 col-fixed-35 emptyCol" ng-if="node.type!=='field' && node.type!=='component'">

        </td>
        <td class="col-md-2 col-fixed-35 " ng-if="node.type==='field' || node.type==='component'">
            <a class="point">
                <display-label of="compositeProfile.datatypesMap[node.datatype.id]" desc="false"></display-label>

            </a>

        </td>




        <td ng-class="{'emptyCol':!isAvailableForValueSet(node)}" style="text-align:center">

            <div ng-show="isAvailableForValueSet(node)">
                <div ng-repeat="binding in findingBindings(node)">
                    <span class="badge label-white">
                        <span ng-class="{'label-message-icon' : binding.bindingFrom == 'compositeProfile', 'label-field-icon' : binding.bindingFrom == 'segment', 'label-component-icon' : binding.bindingFrom == 'field', 'label-sub-component-icon' : binding.bindingFrom == 'component'}"><i class="fa fa-circle fa-fw"/></span>
                    <span title="For this Composite Profile" ng-show="binding.bindingFrom == 'compositeProfile'" ng-click="redirectVS(binding)">{{getTableLabel(binding)}}</span>
                    <span title="For {{getSegmentLabel(compositeProfile.segmentsMap[node.segment])}}" ng-show="binding.bindingFrom == 'segment'" ng-click="redirectVS(binding)">{{getTableLabel(binding)}}</span>
                    <span title="For {{getDatatypeLabel(compositeProfiledatatypesMap[node.fieldDT])}}" ng-show="binding.bindingFrom == 'field'" ng-click="redirectVS(binding)">{{getTableLabel(binding)}}</span>
                    <span title="For {{getDatatypeLabel(compositeProfiledatatypesMap[node.componentDT])}}" ng-show="binding.bindingFrom == 'component'" ng-click="redirectVS(binding)">{{getTableLabel(binding)}}</span>
                    <span title="For this Composite Profile" ng-show="binding.bindingFrom == 'compositeProfile' && binding.type == 'singlecode'" ng-click="redirectVS(binding)">{{binding.code.value}}<i class="fa fa-arrow-right" aria-hidden="true"></i>[{{binding.code.codeSystem}}]</span>
                    <span title="For {{getSegmentLabel(compositeProfile.segmentsMap[node.segment])}}" ng-show="binding.bindingFrom == 'segment' && binding.type == 'singlecode'" ng-click="redirectVS(binding)">{{binding.code.value}}<i class="fa fa-arrow-right" aria-hidden="true"></i>[{{binding.code.codeSystem}}]</span>
                    <span title="For {{getDatatypeLabel(compositeProfile.datatypesMap[node.fieldDT])}}" ng-show="binding.bindingFrom == 'field' && binding.type == 'singlecode'" ng-click="redirectVS(binding)">{{binding.code.value}}<i class="fa fa-arrow-right" aria-hidden="true"></i>[{{binding.code.codeSystem}}]</span>
                    <span title="For {{getDatatypeLabel(compositeProfile.datatypesMap[node.componentDT])}}" ng-show="binding.bindingFrom == 'component' && binding.type == 'singlecode'" ng-click="redirectVS(binding)">{{binding.code.value}}<i class="fa fa-arrow-right" aria-hidden="true"></i>[{{binding.code.codeSystem}}]</span>
                    <!--<span title="Delete ValueSet Binding" ng-show="binding.bindingFrom == 'message'" ng-click="deleteBinding(binding)"><i class="fa fa-times fa-fw edit-icon"></i></span>-->
                    </span>
                </div>

            </div>
        </td>
        <td ng-class="{'emptyCol':!isAvailableConstantValue(node)}" style="text-align:center">
            <div ng-show="isAvailableConstantValue(node)">
                <div ng-repeat="sev in findingSingleElement(node)">

                    <span ng-show="sev" class="badge label-white">
                        <span ng-class="{'label-message-icon' : sev.from == 'message', 'label-field-icon' : sev.from == 'segment', 'label-component-icon' : sev.from == 'field', 'label-sub-component-icon' : sev.from == 'component'}"><i class="fa fa-circle fa-fw"/></span>
                    <span>{{sev.value}}</span>
                    <!--<span title="Edit SingleElement" ng-show="sev.from == 'message'" ng-click="openDialogForEditSev(node)"><i class="fa fa-pencil fa-fw edit-icon"></i></span>
                        <span title="Add SingleElement" ng-show="sev.from != 'message'" ng-click="confirmDatatypeSingleElementDuplicated(node)"><i class="fa fa-pencil fa-fw edit-icon"></i></span>
                        <span title="Delete SingleElement" ng-show="sev.from == 'message'" ng-click="deleteSev(node)"><i class="fa fa-times fa-fw edit-icon"></i></span>-->
                    </span>
                    <!--<a ng-show="!sev" class="point" ng-click="openDialogForEditSev(node)">
                    <span><i class="fa fa-plus fa-fw"></i></span>
                </a>-->
                </div>


            </div>
        </td>



        <td ng-class="{'has-error': node.usage === 'C' && !findingPredicates(node) , 'emptyCol':node.usage !== 'C'}">
            <div ng-show="node.usage==='C' && findingPredicates(node) ">

                <span title="{{getPredicateAsString(findingPredicates(node))}}" class="badge label-white">
                <span ng-class="{'label-message-icon' : findingPredicates(node).from == 'message', 'label-field-icon' : findingPredicates(node).from == 'segment','label-component-icon':findingPredicates(node).from==='field','label-sub-component-icon' : findingPredicates(node).from == 'component'}"><i class="fa fa-circle fa-fw"/></span>
                <span>{{getConstraintAsTruncatedString(findingPredicates(node), 15)}}</span>
                <div ng-show="countPredicate(node.path) > 1">
                    <p class="warning">Multiple predicates</p>
                </div>
            </div>
        </td>
        <td class="col-md-1">
        </td>



        <td class=" emptyCol col-md-1 col-fixed-80 ">

            <a ng-show="node.text !=='' && node.text !==null && node.text !==undefined " ng-click="openRichTextDlg(node, 'text', 'Definition Text', true)" class="point">
                <i class="fa fa-eye"></i>
            </a>

        </td>


        <td style="text-align:center">
            <div ng-repeat="comment in findingComments(node)">
                <span class="badge label-white">
                        <span ng-class="{'label-message-icon' : comment.from == 'compositeProfile', 'label-field-icon' : comment.from == 'segment', 'label-component-icon' : comment.from == 'field', 'label-sub-component-icon' : comment.from == 'component'}"><i class="fa fa-circle fa-fw"/></span>
                <span title="{{comment.description}}@{{comment.lastUpdatedDate|date:dateFormat}}" ng-click="editCommentDlg(node, comment, true, 'compositeProfile')">{{comment.lastUpdatedDate|date:dateFormat}}</span>
                <!--<span title="For {{getSegmentLabel(segmentsMap[node.segment])}}" ng-show="comment.from == 'segment'" ng-click="editCommentDlg(node, comment, true, 'compositeProfile')">{{comment.lastUpdatedDate|date:dateFormat}}</span>
                        <span title="For {{getDatatypeLabel(datatypesMap[node.fieldDT])}}" ng-show="comment.from == 'field'" ng-click="editCommentDlg(node, comment, true, 'compositeProfile')">{{comment.lastUpdatedDate|date:dateFormat}}</span>
                        <span title="For {{getDatatypeLabel(datatypesMap[node.componentDT])}}" ng-show="comment.from == 'component'" ng-click="editCommentDlg(node, comment, true, 'compositeProfile')">{{comment.lastUpdatedDate|date:dateFormat}}</span>
                        <span title="Delete This Comments" ng-show="comment.from == 'message'" ng-click="deleteComment(comment)"><i class="fa fa-times fa-fw edit-icon"></i></span>-->
                </span>
            </div>
            <!--<a ng-click="editCommentDlg(node, null, false, 'message')" class="point">
                <span><i class="fa fa-plus fa-fw"></i></span>
            </a>-->
        </td>


    </tr>

</script>