<style id="antiClickjack">
    body {
        display: none !important;
    }
</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="EditCompositeProfile.html">
    <div ng-show="isAuthenticated()" ng-controller="ListCompositeProfileCtrl" ng-cloak>
        <!--<div class="row">-->
        <div ng-show="!isPending()">
            <div style="padding-top:10px">
                <div style="margin:5px">
                    <div class="page-header" style="margin-bottom: 20px">
                        <span class="header4">Composite Profile: {{compositeProfileStructure.name}} </span>
                        <div class="pull-right">
                            <md-button ng-if="!viewSettings.tableReadonly" ng-disabled="editForm.$invalid ||!editForm.$dirty" title="Save Changes" type="button" class="btn btn-raised btn-sm btn-success" ng-click="save()">
                                                            <span><i class="fa fa-check fa-fw"></i> Save</span>
                                                        </md-button>
                        </div>
                    </div>
                    <div class="static_info">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Updated {{compositeProfile.dateUpdated | date:dateFormat}}


                    </div>
                    <md-tabs md-dynamic-height md-border-bottom md-selected="tabStatus.active">
                        <md-tab>
                            <md-tab-label>
                                <i class="fa fa-code-fork fa-fw" aria-hidden="true"></i>Composition
                            </md-tab-label>
                            <md-tab-body>
                                <div style="margin-top: 20px" class="metadata-scroll">
                                    <div class="row margin-0 full-width hidden-xs">
                                        <div class="yy-timeline-box" ng-class-odd="'right'" ng-class-even="'right'">
                                            <div class="yy-timeline-box-inner">
                                                <div class="yy-timeline-image-container">
                                                    <img src="images/square.jpg" alt="" style="margin-top:-55px;" />
                                                </div>
                                                <div class="yy-timeline-content" style="margin-top:-40px;background-color:#d3d7da;width:30%;">
                                                    <div align="center">
                                                        <h5>Core Profile </h5>
                                                    </div>
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>Name : </td>
                                                                <td>{{compositeProfile.coreMessageMetaData.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Description : </td>
                                                                <td>{{compositeProfile.coreMessageMetaData.description}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Identifier : </td>
                                                                <td>{{compositeProfile.coreMessageMetaData.identifier}}</td>
                                                            </tr>

                                                        </table>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div dnd-list="compositeProfile.appliedProfileComponents">
                                        <div class="row margin-0 full-width hidden-xs" ng-repeat="pcInfo in compositeProfile.appliedProfileComponents" dnd-draggable="pcInfo" dnd-moved="compositeProfile.appliedProfileComponents.splice($index, 1);changePosition()"  dnd-disable-if="viewSettings.tableReadonly">

                                            <div class="yy-timeline-box" ng-class-odd="'right'" ng-class-even="'right'">
                                                <div class="yy-timeline-box-inner">
                                                    <span class="yy-timeline-date"> {{pcInfo.position}} </span>

                                                    <div class="yy-timeline-image-container">
                                                        <img src="images/circle.gif" alt="" />
                                                    </div>
                                                    <div class="yy-timeline-content" style="background-color :#43b17e;width:30%;">
                                                        <div class="row" align="left" style="margin-left: 0px;margin-right: 0px;">
                                                            <strong>{{pcInfo.pc.name}} </strong> <span ng-if="pcInfo.pc.description"> : {{pcInfo.pc.description}}</span>
                                                        </div>
                                                        <div class="row" align="left" style="margin-left: 0px;margin-right: 0px;">
                                                            Date Updated : {{pcInfo.pc.dateUpdated | date:dateFormat}}
                                                            <br>Date Applied : {{pcInfo.pcDate | date:dateFormat}}
                                                            <br>
                                                            <div align="center">
                                                                <md-button ng-if="!viewSettings.tableReadonly" style="margin-bottom:5px;" class="btn btn-raised btn-danger btn-xs" ng-click="removePc(pcInfo.pc.id)"><span><i class="fa fa-times fa-fw">
                                                        &nbsp; </i></span>
                                                    </md-button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="dndPlaceholder" style="height:100px;">Drop Here</div>

                                    </div>

                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>
                                <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> MetaData
                            </md-tab-label>
                            <md-tab-body>
                                <div style="margin-top: 20px" ng-cloak class="md-inline-form metadata-scroll" layout="column">
                                    <md-content layout-padding>
                                        <label class="input-left igamt-label">Name*</label>

                                        <md-input-container class=" md-block igamt-input-block" flex-gt-sm>
                                            <input ng-disabled="viewSettings.tableReadonly" type="text" name="name" ng-change="setDirty()" ng-model="compositeProfileStructure.name" required>
                                            <div ng-messages="editForm.name.$error">
                                                <div ng-message="required">Name is required.</div>
                                            </div>
                                        </md-input-container>
                                        <label class="input-left igamt-label">Extension*</label>

                                        <md-input-container class=" md-block igamt-input-block" flex-gt-sm>
                                            <input ng-disabled="viewSettings.tableReadonly" type="text" name="ext" ng-change="setDirty()" ng-model="compositeProfileStructure.ext" required>
                                            <div role="alert"  style="color:red" ng-if="isDuplicated(compositeProfileStructure,compositeProfiles)">
                                                <div class="my-message">Extension is already used.</div>
                                            </div>
                                            <div ng-messages="editForm.ext.$error">
                                                <div ng-message="required">Extension is required.</div>
                                            </div>
                                        </md-input-container>

                                        <label class="input-left igamt-label">Identifier*</label>

                                        <md-input-container class=" md-block igamt-input-block" flex-gt-sm>
                                            <input type="text" name="identifier" ng-model="compositeProfile.identifier" disabled required>
                                            <div ng-messages="editForm.identifier.$error">
                                                <div ng-message="required">Identifier is required.</div>
                                            </div>
                                        </md-input-container>
                                        <label class="input-left igamt-label"> Type*</label>

                                        <md-input-container class=" md-block igamt-input-block" flex-gt-sm>
                                            <input ng-disabled="viewSettings.tableReadonly" type="text" name="messageType" ng-model="compositeProfile.messageType" disabled required>
                                            <div ng-messages="editForm.messageType.$error">
                                                <div ng-message="required">Message Type is required.</div>
                                            </div>
                                        </md-input-container>


                                        <label class="input-left igamt-label">Message Event*</label>

                                        <md-input-container class=" md-block igamt-input-block" flex-gt-sm>
                                            <input type="text" name="messageType" ng-model="compositeProfile.event" required disabled>
                                            <div ng-messages="editForm.event.$error">
                                                <div ng-message="required">Message Event is required.</div>
                                            </div>
                                        </md-input-container>

                                        <label class="input-left igamt-label"> Message Structure ID*</label>

                                        <md-input-container class=" md-block igamt-input-block" flex-gt-sm>
                                            <input type="text" name="structID" ng-model="compositeProfile.structID" required disabled>
                                            <div ng-messages="editForm.structID.$error">
                                                <div ng-message="required">Message Structure is required.</div>
                                            </div>
                                        </md-input-container>


                                        <!--<label class="input-left igamt-label">Comment</label>-->
                                        <!--<md-input-container class=" md-block igamt-input-block" flex-gt-sm>-->
                                            <!--<textarea rows="3" ng-change="setDirty()" name="comment" id="comment" ng-model="compositeProfileStructure.comment" />-->
                                        <!--</md-input-container>-->

                                        <label  class="input-left igamt-label">Usage Note </label>

                                        <div ng-if="!viewSettings.tableReadonly">
                                            <textarea froala="froalaEditorOptions" ng-model="compositeProfileStructure.usageNote" name="text" id="usageNote"></textarea>
                                        </div>
                                        <div ng-if="viewSettings.tableReadonly">
                                            <div class="fr-view">
                                                <div froala-view="compositeProfileStructure.usageNote"></div>
                                            </div>
                                        </div>

                                        <label ng-show="compositeProfile.hl7Section != null && compositeProfile.hl7Section != ''" class="input-left igamt-label">HL7 Section</label>

                                        <md-input-container class=" md-block igamt-input-block" flex-gt-sm ng-show="compositeProfile.hl7Section != null && compositeProfile.hl7Section != ''">
                                            <input type="text" disabled name="hl7Section" id="hl7Section" ng-model="compositeProfile.hl7Section">
                                        </md-input-container>

                                        <label class="input-left igamt-label" ng-show="!viewSettings.tableReadonly">Author Notes</label>

                                        <div ng-if="!viewSettings.tableReadonly">
                                            <textarea froala="froalaEditorOptions" ng-model="compositeProfileStructure.authorNotes" name="text" id="authorNotes"></textarea>
                                        </div>
                                        <div ng-if="viewSettings.tableReadonly">
                                            <div class="fr-view">
                                                <div froala-view="compositeProfileStructure.authorNotes"></div>
                                            </div>
                                        </div>



                                    </md-content>
                                </div>

                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>
                                <i class="fa fa-table fa-fw" aria-hidden="true"></i>Definition
                            </md-tab-label>
                            <md-tab-body>
                                <div>
                                    <md-tabs md-dynamic-height md-border-bottom md-selected="defTabStatus.active">
                                    <md-tab>
                                        <md-tab-label>
                                            Pre-Text
                                        </md-tab-label>
                                        <md-tab-body>

                                         <div  class="panel-primary">

                                             <div class="panel-body">
                                                <div ng-if="!viewSettings.tableReadonly">
                                                    <textarea froala="froalaEditorOptions" ng-model="compositeProfileStructure.defPreText" name="text" id="defPreText" ng-change="setDirty()"></textarea>
                                                  </div>

                                                <div class="fr-view" ng-if="viewSettings.tableReadonly">
                                                    <div froala-view="compositeProfileStructure.defPreText"></div>
                                                </div>

                                            </div>
                                        </div>
                                        </md-tab-body>
                                    </md-tab>
                                        <md-tab>
                                            <md-tab-label>
                                                Structure
                                            </md-tab-label>
                                            <md-tab-body>
                                                <div layout="column">
                                                    <div flex layout="row" layout-align="start start">
                                                        <div class="table-context">
                                                            <strong> Context :</strong>
                                                            <span class="label-message-icon"><i class="fa fa-circle fa-fw"/></span>
                                                            message
                                                            <span class="label-field-icon"><i class="fa fa-circle fa-fw"/></span>
                                                            segment
                                                            <span class="label-component-icon"><i class="fa fa-circle fa-fw"/></span>
                                                            Field
                                                            <span class="label-sub-component-icon"><i class="fa fa-circle fa-fw"/></span>
                                                            Component
                                                        </div>
                                                    </div>
                                                </div>
                                        <div class="panel-primary">

                                            <div class="panel-body">
                                                <div>
                                                    <div class="col-md-12" ng-show="compositeProfile.children.length>0" style="overflow-y:auto;">
                                                        <table id="compositeProfileTable" tt-table tt-params="compositeProfileParams" class="table table-bordered table-fix-header table-condensed profile-table">
                                                            <thead>
                                                                <tr class="tbl-header" style="">
                                                                    <th class="col-md-1 col-fixed-250" rowspan="2"> Name</th>
                                                                    <th class="col-md-1 col-fixed-80" rowspan="2">Usage</th>
                                                                    <th class="col-md-1 col-fixed-100" rowspan="2">Cardinality</th>
                                                                    <th class="col-md-1 col-fixed-100" rowspan="2">Length</th>
                                                                    <th class="col-md-1 col-fixed-30" rowspan="2" ng-show="showConfLength()"> ConfLength </th>
                                                                    <th class="col-md-1 col-fixed-35" rowspan="2">Data Type
                                                                    </th>
                                                                    <th class="col-md-1 col-fixed-33" rowspan="2">Value Set/Single Code
                                                                    </th>
                                                                    <th class="col-md-1 col-fixed-33" rowspan="2">Constant Value
                                                                    </th>
                                                                    <th class="col-md-1" ng-style="predWidthx" rowspan="2">Predicate
                                                                    </th>
                                                                    <th class="col-md-1" ng-style="csWidthx" rowspan="2">Conformance Statement
                                                                    </th>
                                                                    <th class="col-md-1" ng-style="csWidthx" rowspan="2">Dynamic Mapping
                                                                    </th>
                                                                    <th class="col-md-1" ng-style="csWidthx" rowspan="2">CoConstraints
                                                                    </th>
                                                                    <th class="col-md-1 col-fixed-80" rowspan="2">Definition Text
                                                                    </th>
                                                                    <th class="col-md-1" ng-style="commentWidth" rowspan="2">Comment
                                                                    </th>


                                                                </tr>
                                                                <!--<tr class="tbl-header">-->
                                                                    <!--<th class="col-xs-1 col-fixed-50" style="width:2%">min</th>-->
                                                                    <!--<th class="col-xs-1 col-fixed-50" style="width:2%">max</th>-->
                                                                    <!--<th class="col-xs-1 col-fixed-50" style="width:2%">min</th>-->
                                                                    <!--<th class="col-xs-1 col-fixed-50" style="width:2%">max</th>-->
                                                                <!--</tr>-->
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            </md-tab-body>
                                        </md-tab>

                                        <md-tab>
                                            <md-tab-label>
                                                Post-Text
                                            </md-tab-label>
                                            <md-tab-body>

                                        <div  class="panel-primary">

                                            <div class="panel-body">
                                                <div ng-if="!viewSettings.tableReadonly">
                                                    <textarea froala="froalaEditorOptions" ng-model="compositeProfileStructure.defPostText" name="text" id="defPostText" ng-change="setDirty()"></textarea>
                                                  </div>
                                                <div class="fr-view" ng-if="viewSettings.tableReadonly">
                                                    <div froala-view="compositeProfileStructure.defPostText"></div>
                                                </div>

                                            </div>
                                        </div>
                                            </md-tab-body>
                                        </md-tab>

                                        <md-tab>
                                            <md-tab-label>
                                                Conf. Statements
                                            </md-tab-label>
                                            <md-tab-body>

                                        <div class="panel-primary" >

                                            <div class="panel-body">

                                                <div class="col-md-12">
                                                    <span ng-hide="compositeProfile.conformanceStatements && compositeProfile.conformanceStatements.length>0">No Conformance statement</span>
                                                    <div>
                                                        <!--<span ng-show="node.type =='group'">Group : {{node.name}}</span>
                                                        <span ng-show="node.type =='segmentRef'">Segment : {{node.ref.name}}</span>-->
                                                        <span>Composite Profile : {{compositeProfile.name}}</span>
                                                        <table st-table="displayedCS" st-safe-src="compositeProfile.conformanceStatements" class="table table-striped table-bordered">
                                                            <thead>
                                                                <tr class="tbl-header">
                                                                    <th st-sort="constraintId" class="col-md-2">ID</th>
                                                                    <th class="col-md-10">Description</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="c in displayedCS">
                                                                    <td class="col-md-2">{{c.constraintId}}</td>
                                                                    <td class="col-md-10">{{c.description}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            </md-tab-body>
                                        </md-tab>


                                        <md-tab>
                                            <md-tab-label>
                                                Predicates
                                            </md-tab-label>
                                            <md-tab-body>

                                        <div  class="panel-primary" >

                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <span ng-hide="groupsPredicates.length > 0 || msgPredicates.length>0">No Predicate</span>
                                                    <div>
                                                        <span>Composite Profile: {{compositeProfile.name}}</span>
                                                        <table st-table="displayedCP" st-safe-src="msgPredicates" class="table table-striped table-bordered">
                                                            <thead>
                                                                <tr class="tbl-header">
                                                                    <th st-sort="constraintTarget" class="col-md-2">Target</th>
                                                                    <th class="col-md-8">Description</th>
                                                                    <th class="col-md-1">True Usage</th>
                                                                    <th class="col-md-1">False Usage</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="c in displayedCP" ng-if="c.context.type!=='segment'">
                                                                    <td class="col-md-2">{{c.constraintTarget}}</td>
                                                                    <td class="col-md-8">{{c.description}}</td>
                                                                    <td class="col-md-1">{{c.trueUsage}}</td>
                                                                    <td class="col-md-1">{{c.falseUsage}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div ng-repeat="node in groupsPredicates">
                                                        <span ng-show="node.path">Group : {{node.context.name}}</span>
                                                        <span ng-show="!node.path">Message : {{node.context.name}}</span>
                                                        <table st-table="displayedNode" st-safe-src="node" class="table table-striped table-bordered">
                                                            <thead>
                                                                <tr class="tbl-header">
                                                                    <th st-sort="constraintTarget" class="col-md-2">Target</th>
                                                                    <th class="col-md-8">Description</th>
                                                                    <th class="col-md-1">True Usage</th>
                                                                    <th class="col-md-1">False Usage</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="c in displayedNode">
                                                                    <td class="col-md-2">{{c.constraintTarget}}</td>
                                                                    <td class="col-md-8">{{c.description}}</td>
                                                                    <td class="col-md-1">{{c.trueUsage}}</td>
                                                                    <td class="col-md-1">{{c.falseUsage}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                            </md-tab-body>
                                        </md-tab>
                                    </md-tabs>


                                </div>
                            </md-tab-body>

                        </md-tab>

                    </md-tabs>






                </div>



            </div>
        </div>
    </div>


</script>




<script type="text/ng-template" id="compositeProfileTable">

    <tr tt-node is-branch="node.ref.fields.length>0||node.datatype.components.length>0||node.children.length>0">


        <td class="col-md-1 col-fixed-250">

            <span ng-if="node.type=='datatype'" class="label label-default label-icon">D</span>
            <span ng-if="node.type=='group'" class="label label-success label-icon">G</span>
            <span ng-if="node.type=='segmentRef'||node.type=='segment'" class="label label-segment label-icon">S</span>
            <span class="label label-field label-icon" ng-if="node.type==='field'">F</span>
            <span class="label label-component label-icon" ng-if="node.type==='component'">C</span> {{node.position}}.
            <span ng-if="node.type==='segmentRef'">{{node.ref.label}}</span>
            <span ng-if="node.type!=='segmentRef'">{{node.name}}</span>

        </td>

        <td class="col-md-1 col-fixed-80">
            <div ng-if="node.usage !== 'C'  || (node.usage === 'C' && !findingPredicates(node))">
                {{node.usage}}
            </div>
            <div ng-if="findingPredicates(node)">
                C({{findingPredicates(node).trueUsage}}/{{findingPredicates(node).falseUsage}})

            </div>
        </td>
        <td class="col-md-1 col-fixed-100" ng-class="{'emptyCol':node.usage === 'X' || node.type==='component', 'input-change':node.attributes.min!==node.attributes.oldMin ||node.attributes.max!==node.attributes.oldMax}">
            <div ng-if="node.usage !== 'X' && node.type!=='component'">[{{node.min}},{{node.max}}]</div>
        </td>

        <td class="col-md-1 col-fixed-100" ng-class="{'emptyCol':node.usage === 'X' || node.minLength === 'NA' || node.maxLength === 'NA' || (node.type!=='field' && node.type!=='component') || compositeProfile.datatypesMap[node.datatype.id].components.length > 0, 'input-change ':node.attributes.minLength!==node.attributes.oldMinLength ||node.attributes.maxLength!==node.attributes.oldMaxLength}">
            <div ng-if="node.usage !== 'X' &&  (node.type==='field' || node.type==='component') && compositeProfile.datatypesMap[node.datatype.id].components.length == 0">
                <div ng-show="node.minLength != 'NA' && node.maxLength != 'NA'">
                [{{node.minLength}},{{node.maxLength}}]</div>
            </div>

        </td>

        <td  class="col-md-1 col-fixed-30" ng-show="showConfLength()" ng-class="{'emptyCol': node.usage === 'X' || node.confLength === 'NA' || (node.type!=='field' && node.type!=='component') || compositeProfile.datatypesMap[node.datatype.id].components.length > 0, 'input-change':node.attributes.confLength!==node.attributes.oldConfLength}">
           <div ng-if="node.usage !== 'X' && (node.type==='field' || node.type==='component') && compositeProfile.datatypesMap[node.datatype.id].components.length == 0">
               <div ng-show="node.confLength != 'NA'">
                   {{::node.confLength}}</div>
           </div>
         </td>


        <td class="col-md-2 col-fixed-35">
            <a ng-if="node.type==='field' || node.type==='component'">
                <display-label of="compositeProfile.datatypesMap[node.datatype.id]" desc="false"></display-label>
            </a>
        </td>




        <td ng-class="{'emptyCol':!isAvailableForValueSet(node)}" style="text-align:center">

            <div ng-show="isAvailableForValueSet(node)">
                <div ng-repeat="binding in findingBindings(node)">
                    <span class="badge label-white">
                        <span ng-class="{'label-message-icon' : binding.bindingFrom == 'compositeProfile', 'label-field-icon' : binding.bindingFrom == 'segment', 'label-component-icon' : binding.bindingFrom == 'field', 'label-sub-component-icon' : binding.bindingFrom == 'component'}"><i class="fa fa-circle fa-fw"/></span>
                    <span title="For this Composite Profile" ng-show="binding.bindingFrom == 'compositeProfile'" ng-click="redirectVS(binding)">{{getTableLabel(binding)}}</span>
                    <span title="For {{getSegmentLabel(compositeProfile.segmentsMap[node.segment])}}" ng-show="binding.bindingFrom == 'segment'" ng-click="redirectVS(binding)">{{getTableLabel(binding)}}</span>
                    <span title="For {{getDatatypeLabel(compositeProfile.datatypesMap[node.fieldDT])}}" ng-show="binding.bindingFrom == 'field'" ng-click="redirectVS(binding)">{{getTableLabel(binding)}}</span>
                    <span title="For {{getDatatypeLabel(compositeProfile.datatypesMap[node.componentDT])}}" ng-show="binding.bindingFrom == 'component'" ng-click="redirectVS(binding)">{{getTableLabel(binding)}}</span>
                    <span title="For this Composite Profile" ng-show="binding.bindingFrom == 'compositeProfile' && binding.type == 'singlecode'" ng-click="redirectVS(binding)">{{binding.code.value}}<i class="fa fa-arrow-right" aria-hidden="true"></i>[{{binding.code.codeSystem}}]</span>
                    <span title="For {{getSegmentLabel(compositeProfile.segmentsMap[node.segment])}}" ng-show="binding.bindingFrom == 'segment' && binding.type == 'singlecode'" ng-click="redirectVS(binding)">{{binding.code.value}}<i class="fa fa-arrow-right" aria-hidden="true"></i>[{{binding.code.codeSystem}}]</span>
                    <span title="For {{getDatatypeLabel(compositeProfile.datatypesMap[node.fieldDT])}}" ng-show="binding.bindingFrom == 'field' && binding.type == 'singlecode'" ng-click="redirectVS(binding)">{{binding.code.value}}<i class="fa fa-arrow-right" aria-hidden="true"></i>[{{binding.code.codeSystem}}]</span>
                    <span title="For {{getDatatypeLabel(compositeProfile.datatypesMap[node.componentDT])}}" ng-show="binding.bindingFrom == 'component' && binding.type == 'singlecode'" ng-click="redirectVS(binding)">{{binding.code.value}}<i class="fa fa-arrow-right" aria-hidden="true"></i>[{{binding.code.codeSystem}}]</span>
                    <!--<span title="Delete ValueSet Binding" ng-show="binding.bindingFrom == 'message'" ng-click="deleteBinding(binding)"><i class="fa fa-times fa-fw edit-icon"></i></span>-->
                    </span>
                </div>

            </div>
        </td>
        <td ng-class="{'emptyCol':!isAvailableConstantValue(node)}" style="text-align:center">
            <div ng-show="isAvailableConstantValue(node)">
                <div ng-repeat="sev in findingSingleElement(node)">

                    <span ng-show="sev" class="badge label-white">
                        <span ng-class="{'label-message-icon' : sev.from == 'message', 'label-field-icon' : sev.from == 'segment', 'label-component-icon' : sev.from == 'field', 'label-sub-component-icon' : sev.from == 'component'}"><i class="fa fa-circle fa-fw"/></span>
                    <span>{{sev.value}}</span>
                    <!--<span title="Edit SingleElement" ng-show="sev.from == 'message'" ng-click="openDialogForEditSev(node)"><i class="fa fa-pencil fa-fw edit-icon"></i></span>
                        <span title="Add SingleElement" ng-show="sev.from != 'message'" ng-click="confirmDatatypeSingleElementDuplicated(node)"><i class="fa fa-pencil fa-fw edit-icon"></i></span>
                        <span title="Delete SingleElement" ng-show="sev.from == 'message'" ng-click="deleteSev(node)"><i class="fa fa-times fa-fw edit-icon"></i></span>-->
                    </span>
                    <!--<a ng-show="!sev" class="point" ng-click="openDialogForEditSev(node)">
                    <span><i class="fa fa-plus fa-fw"></i></span>
                </a>-->
                </div>


            </div>
        </td>



        <td ng-class="{'has-error': node.usage === 'C' && !findingPredicates(node) , 'emptyCol':node.usage !== 'C'}">
            <!--<button ng-click="findingPredicatesDebug(node)">test</button>-->
            <div ng-show="node.usage==='C' && findingPredicates(node)">

                <span title="{{getPredicateAsString(findingPredicates(node))}}" class="badge label-white">


                <span ng-class="{'label-message-icon' : findingPredicates(node).from == 'message', 'label-field-icon' : findingPredicates(node).from == 'segment','label-component-icon':findingPredicates(node).from==='field','label-sub-component-icon' : findingPredicates(node).from == 'component'}"><i class="fa fa-circle fa-fw"/></span>
                <span>{{getConstraintAsTruncatedString(findingPredicates(node), 15)}}</span>
                <div ng-show="countPredicate(node.path) > 1">
                    <p class="warning">Multiple predicates</p>
                </div>
                </span>
            </div>
        </td>
        <td class="col-md-1">
            <span><i style="font-size:15px;" ng-show="findingConfSt(node)" ng-click="seeConfSt(node,'see')" class="material-icons">visibility</i></span>
        </td>
        <td class="col-md-1">
            <span><i style="font-size:15px;" ng-show="findingDynMap(node)" ng-click="seeDynMap(node,'see')" class="material-icons">visibility</i></span>
        </td>
        <td class="col-md-1">
            <span><i style="font-size:15px;" ng-show="findingCoCon(node)" ng-click="seeCoCon(node,'see')" class="material-icons">visibility</i></span>
        </td>



        <td class=" emptyCol col-md-1 col-fixed-80">

            <a ng-show="node.text !=='' && node.text !==null && node.text !==undefined" ng-click="openRichTextDlg(node, 'text', 'Definition Text', true)" class="point">
                <i class="fa fa-eye"></i>
            </a>

        </td>


        <td style="text-align:center">
            <div ng-repeat="comment in findingComments(node)">
                <span class="badge label-white">
                        <span ng-class="{'label-message-icon' : comment.from == 'compositeProfile', 'label-field-icon' : comment.from == 'segment', 'label-component-icon' : comment.from == 'field', 'label-sub-component-icon' : comment.from == 'component'}"><i class="fa fa-circle fa-fw"/></span>
                <span title="{{comment.description}}@{{comment.lastUpdatedDate|date:dateFormat}}" ng-click="editCommentDlg(node, comment, true, 'compositeProfile')">{{comment.lastUpdatedDate|date:dateFormat}}</span>
                <!--<span title="For {{getSegmentLabel(segmentsMap[node.segment])}}" ng-show="comment.from == 'segment'" ng-click="editCommentDlg(node, comment, true, 'compositeProfile')">{{comment.lastUpdatedDate|date:dateFormat}}</span>
                        <span title="For {{getDatatypeLabel(datatypesMap[node.fieldDT])}}" ng-show="comment.from == 'field'" ng-click="editCommentDlg(node, comment, true, 'compositeProfile')">{{comment.lastUpdatedDate|date:dateFormat}}</span>
                        <span title="For {{getDatatypeLabel(datatypesMap[node.componentDT])}}" ng-show="comment.from == 'component'" ng-click="editCommentDlg(node, comment, true, 'compositeProfile')">{{comment.lastUpdatedDate|date:dateFormat}}</span>
                        <span title="Delete This Comments" ng-show="comment.from == 'message'" ng-click="deleteComment(comment)"><i class="fa fa-times fa-fw edit-icon"></i></span>-->
                </span>
            </div>
            <!--<a ng-click="editCommentDlg(node, null, false, 'message')" class="point">
                <span><i class="fa fa-plus fa-fw"></i></span>
            </a>-->
        </td>


    </tr>

</script>


<script type="text/ng-template" id="AddConstraintsCtrlInCP.html">
    <md-dialog aria-label="CoConstraints" style="width:2000px; max-height:100%">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2> CoConstraints of {{node.ref.name}} </h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <i class="material-icons">clear</i>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content" style="overflow:scroll;">
                    <div class="modal-body">

                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">CoConstraints</div>
                                <div class="panel-body" style="min-height:200px; max-height:500px;overflow-y: scroll;">
                                    <div class="table-container">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                               
                                                <tr class="tbl-header">
                                                    <th bgcolor="#1565c0" style="text-align:center;" ng-show="coConstraintsTable.ifColumnDefinition">
                                                        <span ng-show="coConstraintsTable.ifColumnDefinition.type=='field'" class="label label-field label-icon">F</span>
                                                        <span ng-show="coConstraintsTable.ifColumnDefinition.type=='component'" class="label label-component label-icon">C</span>
                                                        <span ng-show="coConstraintsTable.ifColumnDefinition.type=='subcomponent'" class="label label-sub-component-icon label-icon">C</span>
                                                        <span style="color:black">{{node.ref.name}}-{{coConstraintsTable.ifColumnDefinition.path}}</span>
                                                        <span ng-show="coConstraintsTable.ifColumnDefinition.constraintType=='value'" class="label label-icon">Value</span>
                                                        <span ng-show="coConstraintsTable.ifColumnDefinition.constraintType=='valueset'" class="label label-icon">ValueSet</span>
                                                        
                                                    </th>
                                                    <th bgcolor="#1565c0" ng-show="!coConstraintsTable.ifColumnDefinition" style="text-align:center;">
                                                        <span style="color:black">Need IF Column Definition</span>
                                                    </th>
                                                    <th bgcolor="#efefef" style="text-align:center;" ng-repeat="columnDefinition in coConstraintsTable.thenColumnDefinitionList">
                                                        <span ng-show="columnDefinition.type=='field'" class="label label-field label-icon">F</span>
                                                        <span ng-show="columnDefinition.type=='component'" class="label label-component label-icon">C</span>
                                                        <span ng-show="columnDefinition.type=='subcomponent'" class="label label-sub-component-icon label-icon">C</span>
                                                        <span style="color:black">{{node.ref.name}}-{{columnDefinition.path}}</span>
                                                        <span ng-show="columnDefinition.constraintType=='value'" class="label label-icon">Value</span>
                                                        <span ng-show="columnDefinition.constraintType=='valueset'" class="label label-icon">ValueSet</span>
                                                        
                                                    </th>
                                                    <th bgcolor="#efefef" ng-show="!coConstraintsTable.thenColumnDefinitionList || coConstraintsTable.thenColumnDefinitionList.length == 0" style="text-align:center;">
                                                        <span style="color:black">Need THEN Column Definition</span>
                                                    </th>
                                                    <th bgcolor="#4caf50" style="text-align:center;" ng-repeat="columnDefinition in coConstraintsTable.userColumnDefinitionList">
                                                        <span style="color:black">{{columnDefinition.title}}</span>
                                                        
                                                    </th>
                                                    <th bgcolor="#4caf50" ng-show="!coConstraintsTable.userColumnDefinitionList || coConstraintsTable.userColumnDefinitionList.length == 0" style="text-align:center;color:black;">
                                                        <span style="color:black">Need USER Column Definition</span>
                                                    </th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-show="coConstraintsTable.rowSize > 0" ng-repeat="n in [].constructor(coConstraintsTable.rowSize) track by $index" ng-init="rowIndex = $index">
                                                    <td style="text-align:center;" ng-show="coConstraintsTable.ifColumnDefinition">
                                                        <div layout="row" layout-align="center center">

                                                            <span>{{coConstraintsTable.ifColumnData[rowIndex].valueData.value}}</span>
                                                            <span>{{coConstraintsTable.ifColumnData[rowIndex].valueData.bindingLocation}}</span>

                                                            
                                                        </div>
                                                    </td>

                                                    <td ng-show="!coConstraintsTable.ifColumnDefinition" style="text-align:center;">
                                                    </td>

                                                    <td ng-repeat="columnDefinition in coConstraintsTable.thenColumnDefinitionList" style="text-align:center;">
                                                        <div ng-show="columnDefinition.constraintType == 'value'">
                                                            <div layout="row" layout-align="center center">
                                                                <span>{{coConstraintsTable.thenMapData[columnDefinition.id][rowIndex].valueData.value}}</span>
                                                                <span>{{coConstraintsTable.thenMapData[columnDefinition.id][rowIndex].valueData.bindingLocation}}</span>

                                                                
                                                            </div>
                                                        </div>
                                                        <div ng-show="columnDefinition.constraintType == 'valueset'">
                                                            <div ng-repeat="vs in coConstraintsTable.thenMapData[columnDefinition.id][rowIndex].valueSets">
                                                                <span class="badge label-white">
                                                                                    <span class="label label-sub-component-icon label-icon">VS</span>
                                                                <span>{{$root.tablesMap[vs.tableId].bindingIdentifier}}</span>
                                                                </span>
                                                            </div>
                                                           
                                                        </div>


                                                        <div layout="row" layout-align="center center" ng-show="columnDefinition.constraintType == 'dmr'">
                                                            <span>{{coConstraintsTable.thenMapData[columnDefinition.id][rowIndex].valueData.value}}</span>
                                                            <!--<span>{{coConstraintsTable.thenMapData[columnDefinition.id][rowIndex].datatypeId}}</span>  -->
                                                          
                                                           
                                                        </div>
                                                    </td>

                                                    <td ng-show="!coConstraintsTable.thenColumnDefinitionList || coConstraintsTable.thenColumnDefinitionList.length == 0" style="text-align:center;">
                                                    </td>

                                                    <td ng-repeat="columnDefinition in coConstraintsTable.userColumnDefinitionList" style="text-align:center;">
                                                        <div layout="row" layout-align="center center">
                                                            <span>{{coConstraintsTable.userMapData[columnDefinition.id][rowIndex].text}}</span>
                                                           
                                                        </div>
                                                    </td>

                                                    <td ng-show="!coConstraintsTable.userColumnDefinitionList || coConstraintsTable.userColumnDefinitionList.length == 0">
                                                    </td>

                                                   
                                                </tr>
                                            </tbody>
                                           
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               
            </md-dialog-content>
        </form>
    </md-dialog>
</script>