<style id="antiClickjack">
    body {
        display: none !important;
    }
</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="row">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab  ng-repeat="tt in igDocumentTypes" md-on-select="selectIGDocumentType(tt.type);make_active($index)" md-active="tabs[$index].active" ng-if="tt.type!=='all'||isAdmin()">
            <md-tab-label>
                <i class="fa fa-file-text-o fa-fw"></i> {{::tt.name}}

            </md-tab-label>
            <md-tab-body>
                <div class="container"  style="margin-top: 20px;margin-buttom: 20px" layout="row">
                    <md-toolbar  flex="100" class="ig-menu-bar">
                        <div class="md-toolbar-tools">
                            <h2 flex md-truncate><i class="fa fa-list fa-fw"></i> IG Documents List</h2>
                            <button class="btn btn-raised btn-primary" ng-controller="HL7VersionsDlgCtrl" class="white-color"
                                    ng-click="create('btn')" > <i class="fa fa-plus fa-fw"></i> Create IG Document</button>
                        </div>
                    </md-toolbar>

                </div>
                <div layout="row" class="container">
                <span class="material-icons" style="font-size: 42px;">search</span>
                <md-input-container flex style="margin: 0px !important" layout="row">
                    <input type="search"  flex ng-model="search.metaData.title" />
                </md-input-container>
                </div>

                    <div ng-show="error === null">

                                <div class="" style="min-height: 800px;">

                                    <md-content class="container">
                                            <mdlist flex dnd-list="tmpIgs" class="container" style="padding: 39px; margin-top: 12px;">
                                                <md-list-item ng-repeat="row in tmpIgs |filter:search" layout="row" dnd-draggable="row"
                                                              dnd-moved="tmpIgs.splice($index, 1);orderIgs(tmpIgs)"
                                                              dnd-effect-allowed="move" style="border-bottom: 0.5px solid;padding: 18px; border-bottom: 0.1px solid;
                                                              padding: 0px;
                                                              max-height: 100%;
                                                              border-bottom-color: #d2d2d2;" dnd-disable-if="tt.type!=='USER'">
                                                                    <img ng-src="{{row.metaData.coverPicture}}" style="max-height: 150px; cursor:move" class="md-avatar"/>
                                                    <div flex class="md-list-item-text" layout="column" style="margin-left: 5px; max-width: 100%">
                                                        <span class="md-headline ig-title"><a class="point" ng-click="navToIg(row)">{{row.metaData.title}}</a>
                                                        </span>
                                                            <div class="md-subhead" flex layout="row" layout-align="start start">
                                                                <div flex="40" class="ig-list-info">
                                                                          <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                             Updated {{row.dateUpdated | date:dateFormat}}
                                                                            <span>,HL7 Version: {{row.profile.metaData.hl7Version}}</span>
                                                                            <span ng-if="row.owner">, Author : <img style="max-width:30px !important;border-radius: 50%" src="{{generateHash(row.owner.email)}}"/> {{row.owner.fullname}}</span>
                                                                            <span ng-if="row.metaData.orgName&&row.metaData.orgName!==''">, {{row.metaData.orgName}}</span>
                                                                </div>


                                                                <div flex="60" layout="row" layout-align="end end" style="margin-top:-14px;">
                                                                    <md-button ng-if="igDocumentConfig.selectedType === 'USER'" ng-click="edit(row)"  title="Edit IG document" class="md-primary md-raised md-small" type="button">
                                                                        <i class="fa fa-pencil fa-fw"></i>
                                                                    </md-button>
                                                                    <md-button ng-click="view(row)"  title="Read IG document" class="md-raised md-small" type="button">
                                                                        <i class="fa fa-eye fa-fw"></i>
                                                                    </md-button>

                                                                    <md-button  ng-if="row.comment !== 'PENDING_APPROVAL'" ng-click="clone(row);selectIGDocumentType('USER')" title="Clone IG document" class="md-info md-raised md-small" type="button">
                                                                        <i class="fa fa-plus fa-fw"></i>
                                                                    </md-button>

                                                                    <md-button  ng-if="igDocumentConfig.selectedType === 'USER'" title="Delete Document"  ng-click="confirmDelete(row)" class="md-warn md-raised md-small" type="button">
                                                                        <i class="fa fa-trash-o fa-fw"></i>
                                                                    </md-button>

                                                                    <md-button ng-click="confirmShareDocument(row)"  title="Accept Document" ng-if="row.comment === 'PENDING_APPROVAL'"  class="md-success md-raised md-small" type="button">
                                                                        <i class="fa fa-check fa-fw"></i>
                                                                    </md-button>

                                                                    <md-button ng-if="row.comment === 'PENDING_APPROVAL'" title="Reject Document" ng-click="rejectShareDocument(row)"  class="md-warn md-raised md-small" type="button">
                                                                        <i class="fa fa-times fa-fw"></i>
                                                                    </md-button>

                                                                </div>
												             </div>

                                                        <a style="margin-top:-10px" ng-click="showDetails=!showDetails"><span ng-show="showDetails"> <i class="fa fa-caret-down" aria-hidden="true"></i>Hide Info</span>
                                                            <span ng-show="!showDetails"><i class="fa fa-caret-right" aria-hidden="true"></i>More Info</span> </a>

                                                        <div ng-show="showDetails">
                                                        <div flex class="row" style="margin-bottom: 10px;margin-left: auto;">
                                                            <label style="color: black;" class="label-list" >Conformance Profiles:</label>
                                                            <span class="badge badge-cp-list"  ng-repeat="cp in row.profile.messages.children">{{cp.name}}-{{cp.identifier}}</span>




                                                        </div>
                                                        <div flex class="row" style="margin:0!important" ng-if="row.realUsers.length>0">
                                                            <label style="color: black;" class="label-list" >Participants:</label>                                                            <!--<md-chips flex="90" ng-model="row.realUsers"-->

                                                                <span ng-repeat="user in row.realUsers"> <img style="max-width:30px !important;border-radius: 50%" src="{{generateHash(user.email)}}"/>
                                                                    <span style="font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
    font-style: italic;
    font-weight: bold;">{{user.fullname}}</span>
                                                                </span>

                                                        </div>
                                                        </div>
                                                    </div>
                                                </md-list-item>



                                                <md-list-item class="dndPlaceholder"
                                                              style="min-height: 60px; width: 100%;background-color: #0b3e6f ;color:white">


                                                    <strong> Drop Here </strong>
                                                    <!--</td>-->
                                                    <!--</tr>-->
                                                </md-list-item>
                                            </mdlist>


                                    </md-content>
                                </div>
                            </div>




            </md-tab-body>
        </md-tab>
        </md-tabs>


</div>

<script type="text/ng-template" id="shareRowTemplate.html">
    <div class="triangle"></div>
    <div style="z-index: 99999" class="cp-tooltip">
        <div class="col-md-12" class="cp-tooltip" ng-if="row.shareParticipants.length > 0">
            <h5>Participants</h5>
            <ul class="cp-tooltip">
                <li ng-repeat="participant in row.shareParticipants track by participant"> {{participant.username}}
                    ({{participant.fullname}})
                </li>
            </ul>
            <br/></div>
        <div class="col-md-12" class="cp-tooltip" ng-if="row.shareParticipants.length === 0">
            Document not shared
        </div>
    </div>
</script>
<script type="text/ng-template" id="templateRow.html">
    <div class="triangle"></div>
    <div style="z-index: 99999" class="cp-tooltip">
        <div class="col-md-12" class="cp-tooltip">
            <h5>Conformance Profiles</h5>
            <ul class="cp-tooltip">
                <li ng-repeat="msg in row.profile.messages.children track by msg.id"> {{msg.name}}</li>
            </ul>
            <br/></div>
    </div>
</script>
