
/* CSS Tree menu styles */
.yesyes {
	border-bottom: thick dotted green;
}
.nono {
	cursor: not-allowed;
	border-bottom: thick dotted red;
}
.toc-selected {
	background-color : yellow;
}
.top-level {
	font-weight: bold;
}