
/* CSS Tree menu styles */
.yesyes {
	border-bottom: thick dotted green;
}
.nono {
	cursor: not-allowed;
	border-bottom: thick dotted red;
}
.toc-selected {
	background-color : yellow;
}
.top-level {
	font-weight: bold;
}

ol.trunk
{
	margin-left: -.75em;
	width: 300px;
}
	li 
	{ 
		position: relative; 
		list-style: none;
	}
	li.branch
	{
	}
		li.branch input
		{
 			text-decoration: none;
			display: block;
		}
li input {
	background-color : pink;
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}
li label {
	color: #00bcd4;
    cursor: pointer;
    display: block;
}
	li label span {
		margin-left : 1.5em;
	}
	li input:checked + ol
	{
		background-position: 15px;
		background-size: 1px;
		margin: -1.25em 0 0 -44px; /* 20px */
		padding: 1.563em 0 0 80px;
		height: auto;
	}
		li input:checked + ol > branch {display: none; margin: 0 0 0.125em;}
		li input:checked + ol > branch:last-child { margin: 0 0 0.063em;}