<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="C" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4r [%t] %d %-5p %c - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="F" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/log-web.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>./logs/log-web.%d{yyyy-MM-dd}.log</fileNamePattern>
          <!-- keep 30 days' worth of history -->
          <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-4r [%t] %d %-5p %c - %m%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="C"/>
        <appender-ref ref="F"/>
    </root>
</configuration>
