<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>

<form name="gvtErrorForm" id="gvtErrorForm" novalidate class="form-horizontal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"></a>

        <h3 class="modal-title">
            <span>Export Errors</span>
            <span class="pull-right">
            <button ng-click="close()" class="btn btn-raised btn-primary btn-sm" type="submit">
                <i class="fa fa-times"></i> Close
            </button>
                </span>
        </h3>
    </div>
    <div class="modal-body">
        <div clas="col-md-12" >
        <tabset>
            <tab>
                <tab-heading>
                    <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> Profile Errors
                </tab-heading>
                <div style="margin-top: 20px">

                    <div ng-show="errorDetails.profileErrors.length === 0">
                        No error found.
                    </div>
                    <table ng-show="errorDetails.profileErrors.length > 0" st-table="tmpProfileErrors" st-safe-src="errorDetails.profileErrors"
                           class="table table-striped table-bordered table-condensed table-fix-header">
                        <thead>
                        <tr class="tbl-header" style="">
                            <th st-ratio="60" st-sort="message">Error</th>
                            <th st-sort="line" st-ratio="20">Line #
                            </th>
                            <th st-sort="line" st-ratio="20">Column #
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in tmpProfileErrors">
                            <td ng-bind="row.message" st-ratio="60"></td>
                            <td ng-bind="row.line" st-ratio="20"></td>
                            <td ng-bind="row.column" st-ratio="20"></td>
                        </tr>
                        </tbody>
                        <tfoot ng-show="errorDetails.profileErrors.length >= 20">
                        <tr style="">
                            <td colspan="3">
                                <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </tab>

            <tab>
                <tab-heading>
                    <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> Constraints Errors
                </tab-heading>
                <div style="margin-top: 20px">

                    <div ng-show="errorDetails.constraintsErrors.length === 0">
                        No error found.
                    </div>
                    <table ng-show="errorDetails.constraintsErrors.length > 0" st-table="tmpConstraintErrors" st-safe-src="errorDetails.constraintsErrors"
                           class="table table-striped table-bordered table-condensed table-fix-header">
                        <thead>
                        <tr class="tbl-header" style="">
                            <th st-ratio="60" st-sort="message">Error</th>
                            <th st-sort="line" st-ratio="20">Line #
                            </th>
                            <th st-sort="line" st-ratio="20">Column #
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in tmpConstraintErrors">
                            <td ng-bind="row.message" st-ratio="60"></td>
                            <td ng-bind="row.line" st-ratio="20"></td>
                            <td ng-bind="row.column" st-ratio="20"></td>
                        </tr>
                        </tbody>
                        <tfoot ng-show="errorDetails.constraintsErrors.length >= 20">
                        <tr style="">
                            <td colspan="3">
                                <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </tab>

            <tab>
                <tab-heading>
                    <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> ValueSet Errors
                </tab-heading>
                <div style="margin-top: 20px">

                    <div ng-show="errorDetails.vsErrors.length === 0">
                        No error found.
                    </div>
                    <table ng-show="errorDetails.vsErrors.length > 0" st-table="tmpValueSetErrors" st-safe-src="errorDetails.vsErrors"
                           class="table table-striped table-bordered table-condensed table-fix-header">
                        <thead>
                        <tr class="tbl-header" style="">
                            <th st-ratio="60" st-sort="message">Error</th>
                            <th st-sort="line" st-ratio="20">Line #
                            </th>
                            <th st-sort="line" st-ratio="20">Column #
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in tmpValueSetErrors">
                            <td ng-bind="row.message" st-ratio="60"></td>
                            <td ng-bind="row.line" st-ratio="20"></td>
                            <td ng-bind="row.column" st-ratio="20"></td>
                        </tr>
                        </tbody>
                        <tfoot ng-show="errorDetails.vsErrors.length >= 20">
                        <tr style="">
                            <td colspan="3">
                                <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </tab>
        </tabset>
    </div>
    </div>
    <div class="modal-footer">
        <!--<div class="form-group">-->
        <div clas="col-md-offset-1 col-md-10" style="margin-bottom: 10px">
            <button ng-click="close()" class="btn btn-raised btn-primary" type="submit">
                <i class="fa fa-times"></i> Close
            </button>
        </div>

    </div>
</form>

