<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>


    <div class="modal-footer">
        <!--<div class="form-group">-->
        <div clas="col-md-offset-1 col-md-10" style="margin-bottom: 10px">
            <button ng-click="close()" class="btn btn-raised btn-primary" type="submit">
                <i class="fa fa-times"></i> Close
            </button>
        </div>

    </div>
</form>

