<style id="antiClickjack">
    body {
        display: none !important;
    }
</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<md-dialog aria-label="gvt">
    <form name="gvtLoginForm" id="gvtLoginForm" novalidate ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 class="modal-title">
                    <i class="fa fa-sign-in"></i>&nbsp;<span msg key="gvt.login.title"></span>
                </h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">clear</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">



                <div ng-class="'alert alert-danger'" ng-show="error.show" id="ehrloginalert">
                    <button type="button" class="close" ng-click="error.show=false">×</button>
                    <div msg key-expr="error.text"></div>
                </div>

                <div class="form-group control-group" ng-class="{'has-success has-feedback': gvtLoginForm.username.$valid, 'igl-has-error has-feedback': !gvtLoginForm.username.$valid}">

                    <md-input-container class="withoutMargin">
                        <label>Username</label>
                        <input type="text"  autofocus id="username" name="username" ng-model="user.username" ng-minlength="4" required>
                    </md-input-container>


                </div>
                <div class="form-group control-group" ng-class="{'has-success has-feedback': gvtLoginForm.password.$valid, 'igl-has-error has-feedback': !gvtLoginForm.password.$valid}">
                    <md-input-container class="withoutMargin">
                        <label>Password</label>
                        <input type="password" autocomplete="off" id="password" name="password" ng-model="user.password" ng-minlength="4" required> </md-input-container>


                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button md-autofocus ng-click="login()" type="submit" ng-disabled='!gvtLoginForm.$valid'>
                <i class="fa fa-sign-in"></i> <span msg key="login.button.login"></span>
            </md-button>
        </md-dialog-actions>
        <md-dialog-actions layout="row">
            <a ng-href="{{appInfo.gvtUrl}}#/forgotten" target="_blank" style="text-align:center">
                <span msg key="gvt.login.forgotPwd"></span>
            </a>
            
        </md-dialog-actions>
        <md-dialog-actions layout="row">
            
            <a ng-href="{{appInfo.gvtUrl}}#/registration" target="_blank" style="text-align:center">
                <span msg key="gvt.login.newAccount"></span>
            </a>
        </md-dialog-actions>
    </form>
</md-dialog>