<p-tree [value]="treeData">
    <ng-template let-node  pTemplate="default">

        <li   [pDraggable]="true"
                    [pDroppable]="true"
                    (onDragStart)="onDragStart($event, node)"
                    (onDragEnd)="onDragEnd($event, node)"
                    (onDrop)="onDrop($event, node)"
                    (onDragEnter)="onDragEnter($event, node)"
                    (onDragLeave)="onDragLeave($event, node)">
        <span (click)="print(node)" *ngIf="node.data.type=='section'">{{getPath(node)+"."+node.data.sectionTitle}}</span>
        <span (click)="print(node)">{{node.data.sectionTitle}}</span>
        </li>


    </ng-template>

</p-tree>


