<!-- Information panel>
<div flex ng-include="'views/edit/exportConfig/exportConfigurationInformation.html'"></div-->
<!-- Buttons bar -->

<form ng-cloak name="exportStyleForm" novalidate id="exportStyleForm">
<md-content flex layout="row" layout-margin layout-align="end center">
    <md-content>
        <button title="Save Changes" type="button" class="btn btn-raised btn-sm btn-success"
                ng-disabled="!changed || exportStyleForm.$invalid"
                ng-click="saveExportConfig(); ">
            <span><i class="fa fa-check fa-fw"></i>Apply</span>
        </button>
    </md-content>
    <md-content>
        <button title="Reset Changes" type="button" class="btn btn-raised btn-sm btn-warning" ng-disabled="!changed"
                ng-click="resetExportConfig()">
            <span><i class="fa fa-times fa-fw"></i> Reset</span>
        </button>
    </md-content>
    <md-content>
        <button title="Restore Default" type="button" class="btn btn-raised btn-sm btn-default"
                ng-click="restoreDefaultExportConfig()">
            <span><i class="fa fa-refresh" aria-hidden="true"></i> Restore Default</span>
        </button>
    </md-content>
</md-content>
<!-- Configuration cards -->
<md-content layout="column">
    <md-content layout-xs="column" layout="row">
        <md-card flex ng-include="'views/edit/exportConfig/messageConfiguration.html'"></md-card>
        <md-card flex ng-include="'views/edit/exportConfig/segmentConfiguration.html'"></md-card>
    </md-content>
    <md-content layout-xs="column" layout="row">
        <md-card flex ng-include="'views/edit/exportConfig/datatypeConfiguration.html'"></md-card>
        <md-card flex ng-include="'views/edit/exportConfig/valuesetsConfiguration.html'"></md-card>
    </md-content>
    <div layout-xs="column" layout="row">
        <md-card flex ng-include="'views/edit/exportConfig/compositeProfileConfiguration.html'"></md-card>
        <md-card flex ng-include="'views/edit/exportConfig/profileComponentConfiguration.html'"></md-card>
    </div>
</md-content>
</form>

