<div layout="column">

    <div flex layout="row" layout-margin layout-align="end center">
        <div>
            <button title="Save Changes" type="button" class="btn btn-raised btn-sm btn-success"
                       ng-disabled="!changed"
                       ng-click="saveUserExportFontConfig(userExportFontConfig); ">
                <span><i class="fa fa-check fa-fw"></i>Apply</span>
            </button>
        </div>
        <div>
            <button title="Reset Changes" type="button" class="btn btn-raised btn-sm btn-warning" ng-disabled="!changed"
                       ng-click="resetUserExportFontConfig()">
                <span><i class="fa fa-times fa-fw"></i> Reset</span>
            </button>
        </div>
        <div>
            <button title="Restore Default" type="button" class="btn btn-raised btn-sm btn-default"
                       ng-click="restoreDefaultExportFontConfig()">
                <span><i class="fa fa-refresh" aria-hidden="true"></i> Restore Default</span>
            </button>
        </div>
    </div>

    <div flex layout="row" layout-xs="column" layout-align="center start" style="min-width:100%">
        <div flex="50" class="">
            <md-content>
                <md-card>
                    <md-card-content>
                        <h2>Font Types</h2>
                        <hr/>
                        <div layout="column">
                            <md-radio-group ng-model="userExportFontConfig.exportFont" ng-change="setChanged()">
                                <div  ng-repeat="font in fonts track by font.name">
                                    <md-radio-button  ng-value="font" class="md-primary" >{{font.name}}</md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                    </md-card-content>
                </md-card>
            </md-content>
        </div>

        <div flex="50" class="">
            <md-content>
                <md-card>
                    <md-card-content>
                        <h2>Font Size</h2>
                        <hr/>
                        <md-slider-container>
                            <md-slider flex min="9" max="25" ng-model="userExportFontConfig.fontSize"  ng-change="setChanged()" class="md-primary">
                            </md-slider>
                            <md-input-container>
                                <input flex type="number" ng-model="userExportFontConfig.fontSize"  ng-change="setChanged()" aria-label="red" aria-controls="red-slider">
                            </md-input-container>
                        </md-slider-container>
                    </md-card-content>
                </md-card>
            </md-content>
        </div>
    </div>

</div>
