<h3><i class="fa fa-info-circle" aria-hidden="true"></i> About the export styles</h3>
<md-content class="md-padding" style="max-height:150px">
    <md-tabs md-selected="data.selectedIndex" md-align-tabs="top" md-border-bottom>
        <md-tab>
            <md-tab-label>IG Style</md-tab-label>
            <md-tab-body>
                The implementation guide is
                exported as a collection of independent building blocks that are
                assembled to realize a given message profile. A profile will contain
                it’s Message Structure Definition. Profile Components, Segments, Data
                Types, and Value Sets are rendered in a single separate section
                regardless of the profile in which they are used. Both the narrative
                and messaging aspects are exported.
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>Profile Style</md-tab-label>
            <md-tab-body>
                The implementation guide is
                exported as individual message profiles. A profile will contain it’s
                Message Structure Definition, Profile Components, and Segments. Data
                Types and Value Sets Organized as individual profiles. Contains
                Message Definition and all pertaining Profile Components and Segments.
                Data Type and Value Sets are rendered in a single separate section
                regardless of the profile in which they are used. Both the narrative
                and messaging aspects are exported.
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>Table Style</md-tab-label>
            <md-tab-body>
                Only the messaging aspects are
                exported. The export view is on the individual tables. Filters can be
                applied to export a subset desired tables.
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>Datatype Library</md-tab-label>
            <md-tab-body>
                Data Types and linked Value Sets of
                a Data Type library are exported as tables. Filters can be applied to
                export a subset desired tables.
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
