<div class="alert alert-config">The implementation guide is
	exported as a collection of independent building blocks that are
	assembled to realize a given message profile. A profile will contain
	it’s Message Structure Definition. Profile Components, Segments, Data
	Types, and Value Sets are rendered in a single separate section
	regardless of the profile in which they are used. Both the narrative
	and messaging aspects are exported.</div>


<div class="pull-right addMargin">
	<button title="Save Changes" type="button"
		class="btn btn-raised btn-sm btn-success" ng-disabled="!changed"
		ng-click="override(IGStyleExportConfig,'IG Style')">
		<span><i class="fa fa-check fa-fw"></i> Apply</span>
	</button>
	<button title="Reset Changes" type="button"
		class="btn btn-raised btn-sm btn-warning" ng-disabled="!changed"
		ng-click="reset(IGStyleExportConfig,'IG Style')">
		<span><i class="fa fa-times fa-fw"></i> Reset</span>
	</button>
	<button title="Restore Default" type="button"
		class="btn btn-raised btn-sm btn-default"
		ng-click="restoreDefault(IGStyleExportConfig,'IG Style')">
		<span><i class="fa fa-refresh" aria-hidden="true"></i> Restore
			Default</span>
	</button>

</div>
<div layout="row" layout-align="center start" style="width: 100%">
	<div flex="50" class="conf-box">
		<div class="page-header">
			<span class="header5"><md-checkbox class="md-primary"
					ng-model="IGStyleExportConfig.includeMessageTable"
					ng-change="setChanged()" />Message Table Options</span>
		</div>
		<div layout="row" layout-align="center start" style="width: 100%">
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong>USAGES</strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<label style="color: black"> Segments/Groups to Export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentORGroupsMessageExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>

						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentORGroupsMessageExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						</label>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentORGroupsMessageExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentORGroupsMessageExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						</label>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentORGroupsMessageExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>
						</label>
					</div>
				</div>

			</div>

			<div class="panel panel-default" flex="50" style="margin-left: 10px;">
				<div class="panel-heading beige">
					<strong> Columns </strong>
				</div>
				<div class="panel-body container">
					<div style="width: 100%">


						<div style="padding-left: 15px;"
							ng-repeat="c in IGStyleExportConfig.messageColumn.columns">

							<md-checkbox class="md-primary" ng-model="c.present"
								ng-disabled="c.disabled" ng-change="setChanged()">
							<label style="color: black">{{c.name}} </label>
							<br />
							</md-checkbox>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div flex="50" class="conf-box">
		<div class="page-header">
			<span class="header5"><md-checkbox class="md-primary"
					ng-model="IGStyleExportConfig.includeSegmentTable"
					ng-change="setChanged()" />Segment Table Options</span>
		</div>
		<div layout="row" layout-align="center start" style="width: 100%">
			<div layout="column">
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong> USAGES </strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<label style="color: black"> Segments to Export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentsExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentsExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentsExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentsExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentsExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>

					</div>
					<hr style="border-top: 2px solid #271e1e;" />
					<div class="container">
						<label style="color: black">Fields to Export:</label> </br>

						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.fieldsExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.fieldsExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.fieldsExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.fieldsExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.fieldsExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>

					</div>


				</div>

			</div>
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong>Co-Constraints</strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.duplicateOBXDataTypeWhenFlavorNull"
							ng-change="setChanged()"> <label
							style="color: black">Duplicate OBX datatype value when no flavor has been selected</label></md-checkbox>
						<br />
					</div>
				</div>
			</div>
			</div>

			<div class="panel panel-default" flex="50" style="margin-left: 10px;">
				<div class="panel-heading beige">
					<strong> Columns </strong>
				</div>
				<div class="panel-body container">
					<div style="width: 100%">


						<div style="padding-left: 15px;"
							ng-repeat="c in IGStyleExportConfig.segmentColumn.columns">

							<md-checkbox class="md-primary" ng-model="c.present"
								ng-disabled="c.disabled" ng-change="setChanged()">
							<label style="color: black">{{c.name}} </label>
							<br />
							</md-checkbox>

						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
<div layout="row" layout-align="center start" style="width: 100%">
	<div flex="50" class="conf-box" style="height: 100%;">
		<div class="page-header">
			<span class="header5"><md-checkbox class="md-primary"
					ng-model="IGStyleExportConfig.includeDatatypeTable"
					ng-change="setChanged()" />Data Type Table Options</span>
		</div>
		<div layout="row" layout-align="center start" style="width: 100%;">
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong>USAGES </strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<label style="color: black">Datatypes to export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.datatypesExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.datatypesExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.datatypesExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.datatypesExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.datatypesExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>
					</div>
					<hr style="border-top: 2px solid #271e1e;" />
					<div class="container">
						<label style="color: black">Components to Export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.componentExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.componentExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.componentExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.componentExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.componentExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>
					</div>
				</div>
			</div>
			<div class="panel panel-default" flex="50" style="margin-left: 10px;">
				<div class="panel-heading beige">
					<strong> Columns </strong>
				</div>
				<div class="panel-body container">
					<div style="width: 100%">
						<div style="padding-left: 15px;"
							ng-repeat="c in IGStyleExportConfig.datatypeColumn.columns">
							<md-checkbox class="md-primary" ng-model="c.present"
								ng-change="setChanged()" ng-disabled="c.disabled">
							<label style="color: black">{{c.name}} </label></md-checkbox>
							<br />
						</div>
					</div>
				</div>
			</div>

		</div>
		<hr/>
		<div layout="row">
			<md-checkbox class="md-primary" ng-model="IGStyleExportConfig.includeVaries"
									   ng-change="setChanged()">
			<label style="color: black; display:initial !important;">Include Varies  </label></md-checkbox>
		</div>
	</div>
	<div flex="50" class="conf-box">
		<div class="page-header">
			<span class="header5"><md-checkbox class="md-primary"
					ng-model="IGStyleExportConfig.includeValueSetsTable"
					ng-change="setChanged()" />Value Sets Table Options</span>
		</div>
		<div layout="row" layout-align="center start" style="width: 100%">
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong> USAGES </strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<label style="color: black"> Value Sets to Export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.valueSetsExport.r"
							ng-change="setChanged()" disabled>
						<label style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.valueSetsExport.re"
							ng-change="setChanged()" disabled>
						<label style="color: black">RE </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.valueSetsExport.c"
							ng-change="setChanged()" disabled>
						<label style="color: black">C</label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.valueSetsExport.o"
							ng-change="setChanged()">
						<label style="color: black">O</label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.valueSetsExport.x"
							ng-change="setChanged()">
						<label style="color: black">X </label></md-checkbox>
						<br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.unboundHL7"
							ng-change="setChanged()"> <label
							style="color: black">All HL7 Unbound </label></md-checkbox>
						<br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.unboundCustom"
							ng-change="setChanged()"> <label
							style="color: black">All Custom Unbound </label></md-checkbox>
					</div>
					<hr style="border-top: 2px solid #271e1e;" />
					<div class="container">
						<label style="color: black">Codes to Export:</label><br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.codesExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.codesExport.p"
							ng-change="setChanged()"> <label
							style="color: black">P </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.codesExport.e"
							ng-change="setChanged()"> <label
							style="color: black">E </label></md-checkbox>
					</div>
				</div>
			</div>
			<div class="panel panel-default" flex="50" style="margin-left: 10px;">
				<div class="panel-heading beige">
					<strong> Columns </strong>
				</div>
				<div class="panel-body container">
					<div style="width: 100%">
						<div style="padding-left: 15px;"
							ng-repeat="c in IGStyleExportConfig.valueSetColumn.columns">
							<md-checkbox class="md-primary" ng-model="c.present"
								ng-change="setChanged()" ng-disabled="c.disabled">
							<label style="color: black">{{c.name}} </label></md-checkbox>
							<br />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="left start" style="margin-top: 10px; width: 100%">
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong>Metadata</strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.valueSetsMetadata.stability"
							ng-change="setChanged()"> <label
							style="color: black">Stability</label></md-checkbox>
						<br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.valueSetsMetadata.extensibility"
							ng-change="setChanged()"> <label
							style="color: black">Extensibility</label></md-checkbox>
						<br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.valueSetsMetadata.contentDefinition"
							ng-change="setChanged()"> <label
							style="color: black">Content Definition</label></md-checkbox>
						<br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.valueSetsMetadata.oid"
							ng-change="setChanged()"> <label
							style="color: black">OID</label></md-checkbox>
						<br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.valueSetsMetadata.type"
							ng-change="setChanged()"> <label
							style="color: black">Type</label></md-checkbox>
						<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div layout="row" layout-align="center start" style="width: 100%">
	<div flex="50" class="conf-box">
		<div class="page-header">
			<span class="header5"><md-checkbox class="md-primary"
					ng-model="IGStyleExportConfig.includeCompositeProfileTable"
					ng-change="setChanged()" />Composite Profile Table Options</span>
		</div>
		<div layout="row" layout-align="center start" style="width: 100%">
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong>USAGES</strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<label style="color: black"> Segments/Groups to Export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentORGroupsCompositeProfileExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentORGroupsCompositeProfileExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						</label>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentORGroupsCompositeProfileExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentORGroupsCompositeProfileExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						</label>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.segmentORGroupsCompositeProfileExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>
						</label>
					</div>
				</div>
			</div>
			<div class="panel panel-default" flex="50" style="margin-left: 10px;">
				<div class="panel-heading beige">
					<strong> Columns </strong>
				</div>
				<div class="panel-body container">
					<div style="width: 100%">
						<div style="padding-left: 15px;"
							ng-repeat="c in IGStyleExportConfig.compositeProfileColumn.columns">
							<md-checkbox class="md-primary" ng-model="c.present"
								ng-disabled="c.disabled" ng-change="setChanged()">
							<label style="color: black">{{c.name}} </label>
							<br />
							</md-checkbox>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div flex="50" class="conf-box">
		<div class="page-header">
			<span class="header5"><md-checkbox class="md-primary"
					ng-model="IGStyleExportConfig.includeProfileComponentTable"
					ng-change="setChanged()" />Profile Component Table Options</span>
		</div>
		<div layout="row" layout-align="center start" style="width: 100%">
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong> USAGES </strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<label style="color: black"> Items to Export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.profileComponentItemsExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.profileComponentItemsExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.profileComponentItemsExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.profileComponentItemsExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="IGStyleExportConfig.profileComponentItemsExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>
					</div>
				</div>
			</div>
			<div class="panel panel-default" flex="50" style="margin-left: 10px;">
				<div class="panel-heading beige">
					<strong> Columns </strong>
				</div>
				<div class="panel-body container">
					<div style="width: 100%">
						<div style="padding-left: 15px;"
							ng-repeat="c in IGStyleExportConfig.profileComponentColumn.columns">
							<md-checkbox class="md-primary" ng-model="c.present"
								ng-disabled="c.disabled" ng-change="setChanged()">
							<label style="color: black">{{c.name}} </label>
							<br />
							</md-checkbox>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

