<div class="alert alert-config">Only the messaging aspects are
	exported. The export view is on the individual tables. Filters can be
	applied to export a subset desired tables.</div>

<div class="pull-right addMargin">
	<button title="Save Changes" type="button"
		class="btn btn-raised btn-sm btn-success" ng-disabled="!changed"
		ng-click="override(tableStyleExportConfig,'Table Style')">
		<span><i class="fa fa-check fa-fw"></i> Apply</span>
	</button>
	<button title="Reset Changes" type="button"
		class="btn btn-raised btn-sm btn-warning" ng-disabled="!changed"
		ng-click="reset(tableStyleExportConfig,'Table Style')">
		<span><i class="fa fa-times fa-fw"></i> Reset</span>
	</button>
	<button title="Restore Default" type="button"
		class="btn btn-raised btn-sm btn-default"
		ng-click="restoreDefault(tableStyleExportConfig,'Table Style')">
		<span><i class="fa fa-refresh" aria-hidden="true"></i> Restore
			Default</span>
	</button>

</div>

<div layout="row" layout-align="center start" style="width: 100%">
	<div flex="50" class="conf-box">
		<div class="page-header">
			<span class="header5"><md-checkbox class="md-primary"
					ng-model="tableStyleExportConfig.includeMessageTable"
					ng-change="setChanged()" />Message Table Options</span>
		</div>
		<div layout="row" layout-align="center start" style="width: 100%">

			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong>USAGES</strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<label style="color: black"> Segments/Groups to Export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentORGroupsMessageExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>

						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentORGroupsMessageExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						</label>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentORGroupsMessageExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentORGroupsMessageExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						</label>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentORGroupsMessageExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>
						</label>
					</div>
				</div>

			</div>

			<div class="panel panel-default" flex="50" style="margin-left: 10px;">
				<div class="panel-heading beige">
					<strong> Columns </strong>
				</div>
				<div class="panel-body container">
					<div style="width: 100%">


						<div style="padding-left: 15px;"
							ng-repeat="c in tableStyleExportConfig.messageColumn.columns">

							<md-checkbox class="md-primary" ng-model="c.present"
								ng-disabled="c.disabled" ng-change="setChanged()">
							<label style="color: black">{{c.name}} </label>
							<br />
							</md-checkbox>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div flex="50" class="conf-box">
		<div class="page-header">
			<span class="header5"><md-checkbox class="md-primary"
					ng-model="tableStyleExportConfig.includeSegmentTable"
					ng-change="setChanged()" />Segment Table Options</span>
		</div>
		<div layout="row" layout-align="center start" style="width: 100%">
			<div layout="column">
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong> USAGES </strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<label style="color: black"> Segments to Export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentsExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentsExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentsExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentsExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentsExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>

					</div>
					<hr style="border-top: 2px solid #271e1e;" />
					<div class="container">
						<label style="color: black">Fields to Export:</label> </br>

						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.fieldsExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.fieldsExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.fieldsExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.fieldsExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.fieldsExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>

					</div>


				</div>

			</div>
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong>Co-Constraints</strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.duplicateOBXDataTypeWhenFlavorNull"
							ng-change="setChanged()"> <label
							style="color: black">Duplicate OBX datatype value when no flavor has been selected</label></md-checkbox>
						<br />
					</div>
				</div>
			</div>
			</div>

			<div class="panel panel-default" flex="50" style="margin-left: 10px;">
				<div class="panel-heading beige">
					<strong> Columns </strong>
				</div>
				<div class="panel-body container">
					<div style="width: 100%">


						<div style="padding-left: 15px;"
							ng-repeat="c in tableStyleExportConfig.segmentColumn.columns">

							<md-checkbox class="md-primary" ng-model="c.present"
								ng-disabled="c.disabled" ng-change="setChanged()">
							<label style="color: black">{{c.name}} </label>
							<br />
							</md-checkbox>

						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
<div layout="row" layout-align="center start" style="width: 100%">
	<div flex="50" class="conf-box">
		<div class="page-header">

			<span class="header5"><md-checkbox class="md-primary"
					ng-model="tableStyleExportConfig.includeDatatypeTable"
					ng-change="setChanged()" />Data Type Table Options</span>
		</div>
		<div layout="row" layout-align="center start" style="width: 100%">

			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong>USAGES </strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<label style="color: black">Datatypes to export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.datatypesExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.datatypesExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.datatypesExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.datatypesExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.datatypesExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>

					</div>
					<hr style="border-top: 2px solid #271e1e;" />
					<div class="container">
						<label style="color: black">Components to Export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.componentExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.componentExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.componentExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.componentExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.componentExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>

					</div>


				</div>

			</div>



			<div class="panel panel-default" flex="50" style="margin-left: 10px;">
				<div class="panel-heading beige">
					<strong> Columns </strong>
				</div>
				<div class="panel-body container">
					<div style="width: 100%">


						<div style="padding-left: 15px;"
							ng-repeat="c in tableStyleExportConfig.datatypeColumn.columns">

							<md-checkbox class="md-primary" ng-model="c.present"
								ng-change="setChanged()" ng-disabled="c.disabled">
							<label style="color: black">{{c.name}} </label></md-checkbox>
							<br />

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div flex="50" class="conf-box">
		<div class="page-header">

			<span class="header5"><md-checkbox class="md-primary"
					ng-model="tableStyleExportConfig.includeValueSetsTable"
					ng-change="setChanged()" />Value Sets Table Options</span>
		</div>
		<div layout="row" layout-align="center start" style="width: 100%">
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong> USAGES </strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<label style="color: black"> Value Sets to Export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.valueSetsExport.r"
							ng-change="setChanged()" disabled>
						<label style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.valueSetsExport.re"
							ng-change="setChanged()" disabled>
						<label style="color: black">RE </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.valueSetsExport.c"
							ng-change="setChanged()" disabled>
						<label style="color: black">C</label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.valueSetsExport.o"
							ng-change="setChanged()">
						<label style="color: black">O</label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.valueSetsExport.x"
							ng-change="setChanged()">
						<label style="color: black">X </label></md-checkbox>
						<br />
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.unboundHL7"
							ng-change="setChanged()"> <label
							style="color: black">All HL7 Unbound </label></md-checkbox>
						<br />
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.unboundCustom"
							ng-change="setChanged()"> <label
							style="color: black">All Custom Unbound </label></md-checkbox>
					</div>
					<hr style="border-top: 2px solid #271e1e;" />
					<div class="container">
						<label style="color: black">Codes to Export:</label><br />

						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.codesExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.codesExport.p"
							ng-change="setChanged()"> <label
							style="color: black">P </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.codesExport.e"
							ng-change="setChanged()"> <label
							style="color: black">E </label></md-checkbox>

					</div>


				</div>

			</div>
			<div class="panel panel-default" flex="50" style="margin-left: 10px;">
				<div class="panel-heading beige">
					<strong> Columns </strong>
				</div>
				<div class="panel-body container">
					<div style="width: 100%">
						<div style="padding-left: 15px;"
							ng-repeat="c in tableStyleExportConfig.valueSetColumn.columns">

							<md-checkbox class="md-primary" ng-model="c.present"
								ng-change="setChanged()" ng-disabled="c.disabled">
							<label style="color: black">{{c.name}} </label></md-checkbox>
							<br />

						</div>
					</div>
				</div>

			</div>
		</div>
		<div layout="row" layout-align="left start"
			style="margin-top: 10px; width: 100%">
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong>Metadata</strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.valueSetsMetadata.stability"
							ng-change="setChanged()"> <label
							style="color: black">Stability</label></md-checkbox>
						<br />
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.valueSetsMetadata.extensibility"
							ng-change="setChanged()"> <label
							style="color: black">Extensibility</label></md-checkbox>
						<br />
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.valueSetsMetadata.contentDefinition"
							ng-change="setChanged()"> <label
							style="color: black">Content Definition</label></md-checkbox>
						<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div layout="row" layout-align="center start" style="width: 100%">
	<div flex="50" class="conf-box">
		<div class="page-header">
			<span class="header5"><md-checkbox class="md-primary"
					ng-model="tableStyleExportConfig.includeCompositeProfileTable"
					ng-change="setChanged()" />Composite Profile Table Options</span>
		</div>
		<div layout="row" layout-align="center start" style="width: 100%">
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong>USAGES</strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<label style="color: black"> Segments/Groups to Export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentORGroupsCompositeProfileExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentORGroupsCompositeProfileExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						</label>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentORGroupsCompositeProfileExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentORGroupsCompositeProfileExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						</label>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.segmentORGroupsCompositeProfileExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>
						</label>
					</div>
				</div>
			</div>
			<div class="panel panel-default" flex="50" style="margin-left: 10px;">
				<div class="panel-heading beige">
					<strong> Columns </strong>
				</div>
				<div class="panel-body container">
					<div style="width: 100%">
						<div style="padding-left: 15px;"
							ng-repeat="c in tableStyleExportConfig.compositeProfileColumn.columns">
							<md-checkbox class="md-primary" ng-model="c.present"
								ng-disabled="c.disabled" ng-change="setChanged()">
							<label style="color: black">{{c.name}} </label>
							<br />
							</md-checkbox>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div flex="50" class="conf-box">
		<div class="page-header">
			<span class="header5"><md-checkbox class="md-primary"
					ng-model="tableStyleExportConfig.includeProfileComponentTable"
					ng-change="setChanged()" />Profile Component Table Options</span>
		</div>
		<div layout="row" layout-align="center start" style="width: 100%">
			<div class="panel panel-default" flex="50">
				<div class="panel-heading beige">
					<strong> USAGES </strong>
				</div>
				<div class="panel-body container">
					<div class="container">
						<label style="color: black"> Items to Export:</label> <br />
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.profileComponentItemsExport.r"
							ng-change="setChanged()" disabled> <label
							style="color: black">R </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.profileComponentItemsExport.re"
							ng-change="setChanged()" disabled> <label
							style="color: black">RE </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.profileComponentItemsExport.c"
							ng-change="setChanged()" disabled> <label
							style="color: black">C </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.profileComponentItemsExport.o"
							ng-change="setChanged()"> <label
							style="color: black">O </label></md-checkbox>
						<md-checkbox class="md-primary"
							ng-model="tableStyleExportConfig.profileComponentItemsExport.x"
							ng-change="setChanged()"> <label
							style="color: black">X </label></md-checkbox>
					</div>
				</div>
			</div>
			<div class="panel panel-default" flex="50" style="margin-left: 10px;">
				<div class="panel-heading beige">
					<strong> Columns </strong>
				</div>
				<div class="panel-body container">
					<div style="width: 100%">
						<div style="padding-left: 15px;"
							ng-repeat="c in tableStyleExportConfig.profileComponentColumn.columns">
							<md-checkbox class="md-primary" ng-model="c.present"
								ng-disabled="c.disabled" ng-change="setChanged()">
							<label style="color: black">{{c.name}} </label>
							<br />
							</md-checkbox>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

