<md-card-content>
  <md-toolbar>
    <div class="md-toolbar-tools config-toolbar">
      <md-checkbox class="md-primary" ng-model="config.includeValueSetsTable" ng-change="setChanged()" /> Value Sets Table Options
    </div>
  </md-toolbar>

  <div layout="row" layout-align="center start" style="width: 100%">
      <!-- Usages and metadata cards -->
      <div flex style="min-width:60%">
          <!-- Usages card -->
          <md-content>
              <md-card>
                  <md-card-content>
                        <h4>Usages</h4>
                        <hr/>
                        <p>Value Sets to Export:</p>
                      <div layout="row" style="width: 100%">
                                <div class="config-checkbox">
                                    <md-checkbox class="md-primary"
                                                 ng-model="config.valueSetsExport.r"
                                                 ng-change="setChanged()" disabled><label style="color: black">R</label></md-checkbox>
                                </div>
                                <div class="config-checkbox">
                                    <md-checkbox class="md-primary"
                                                 ng-model="config.valueSetsExport.re"
                                                 ng-change="setChanged()" disabled><label style="color: black">RE</label></md-checkbox>
                                </div>
                                <div class="config-checkbox">
                                    <md-checkbox class="md-primary"
                                                 ng-model="config.valueSetsExport.c"
                                                 ng-change="setChanged()" disabled><label style="color: black">C</label></md-checkbox>
                                </div>
                                <div class="config-checkbox">
                                    <md-checkbox class="md-primary"
                                                 ng-model="config.valueSetsExport.o"
                                                 ng-change="setChanged()"><label style="color: black">O</label></md-checkbox>
                                </div>
                                <div class="config-checkbox">
                                    <md-checkbox class="md-primary"
                                                 ng-model="config.valueSetsExport.x"
                                                 ng-change="setChanged()"><label style="color: black">X</label></md-checkbox>
                                </div>

                      </div>

                            <div class="config-checkbox">
                                <md-checkbox class="md-primary"
                                             ng-model="config.unboundHL7"
                                             ng-change="setChanged()"> <label
                                        style="color: black">All HL7 Unbound </label></md-checkbox>
                            </div>
                            <div class="config-checkbox">
                                <md-checkbox class="md-primary"
                                             ng-model="config.unboundCustom"
                                             ng-change="setChanged()"> <label
                                        style="color: black">All Custom Unbound </label></md-checkbox>
                            </div>

                      <div style="margin-top:10px">
                          <p>Codes to Export:</p>
                      <div layout="row" style="width: 100%">
                        <div class="config-checkbox">
                                <md-checkbox class="md-primary"
                                             ng-model="config.codesExport.r"
                                             ng-change="setChanged()" disabled><label style="color: black">R</label></md-checkbox>
                            </div>
                            <div class="config-checkbox">
                                <md-checkbox class="md-primary"
                                             ng-model="config.codesExport.p"
                                             ng-change="setChanged()"><label style="color: black">P</label></md-checkbox>
                            </div>
                            <div class="config-checkbox">
                                <md-checkbox class="md-primary"
                                             ng-model="config.codesExport.e"
                                             ng-change="setChanged()"><label style="color: black">E</label></md-checkbox>
                            </div>
                        </div>
                      </div>
                      <div style="margin-top:20px">
                       <span>Max Number of Codes to Export</span>
                      <div style="width: 100%">
                        <md-slider-container style="width:100%">
                          <md-slider  min="0" max="500" ng-model="config.maxCodeNumber"  ng-change="setChanged()" class="md-primary">
                          </md-slider>
                          <md-input-container>
                            <input type="number" disabled="true" name=maxCodeNumber" ng-model="config.maxCodeNumber" >
                          </md-input-container>
                        </md-slider-container>
                      </div>
                      </div>

                    </md-card-content>
              </md-card>
          </md-content>

          <!-- Metadata card -->
          <md-content>
              <md-card>
                  <md-card-content>
                        <h4>Metadata</h4>
                        <hr/>
                        <div layout="column">
                            <div class="config-checkbox">
                                <md-checkbox class="md-primary"
                                         ng-model="config.valueSetsMetadata.stability"
                                         ng-change="setChanged()"> <label
                                    style="color: black">Stability</label></md-checkbox>
                            </div>
                            <div class="config-checkbox">
                                <md-checkbox class="md-primary"
                                     ng-model="config.valueSetsMetadata.extensibility"
                                     ng-change="setChanged()"> <label
                                     style="color: black">Extensibility</label></md-checkbox>
                            </div>
                            <div class="config-checkbox">
                                <md-checkbox class="md-primary"
                                    ng-model="config.valueSetsMetadata.contentDefinition"
                                    ng-change="setChanged()"> <label
                                    style="color: black">Content Definition</label></md-checkbox>
                            </div>
                            <div class="config-checkbox">
                                <md-checkbox class="md-primary"
                                     ng-model="config.valueSetsMetadata.oid"
                                     ng-change="setChanged()"> <label
                                     style="color: black">OID</label></md-checkbox>
                            </div>
                            <div class="config-checkbox">
                                <md-checkbox class="md-primary"
                                     ng-model="config.valueSetsMetadata.type"
                                     ng-change="setChanged()"> <label
                                     style="color: black">Type</label></md-checkbox>
                            </div>
                        </div>
                    </md-card-content>
              </md-card>
          </md-content>
      </div>
      <div flex>
          <!-- Columns card-->
          <md-content>
              <md-card>
                  <md-card-content>
                      <h4>Columns</h4>
                      <hr/>
                      <div layout="column" style="width: 100%">
                          <div class="config-checkbox" ng-repeat="column in config.valueSetColumn.columns">
                              <md-checkbox class="md-primary" ng-model="column.present" ng-disabled="column.disabled" ng-change="setChanged()">
                                  <label style="color: black">{{column.name}} </label>
                              </md-checkbox>
                          </div>
                      </div>
                  </md-card-content>
              </md-card>
          </md-content>
          <!-- PHINVADS card-->
          <md-content>
              <md-card>
                  <md-card-content>
                      <h4>PHINVADS email Notification</h4>
                      <hr/>
                      <div layout="column" style="width: 100%">
                          <md-checkbox class="md-primary" ng-model="config.phinvadsUpdateEmailNotification" ng-change="setChanged()">
                              <label style="color: black">Subscribe</label>
                          </md-checkbox>
                      </div>
                  </md-card-content>
              </md-card>
          </md-content>
      </div>
  </div>
</md-card-content>
