<div id="standard-datatypelibrary-dialog" class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Data Types</h3>
  </div>
  <form>
  <div class="form-group">
  <div class="modal-body">
        <div class="container" style="max-width: 100%; overflow-x: scroll; max-height: 200px; overflow-y: scroll;white-space:nowrap;">
          <div class="row">
            <div class="col-sm-6">
              left side
           </div>
             <div class="col-sm-6">
               right side
           </div>
        </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="okDisabled" type="button" ng-click="ok()">Ok</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
 </div>
</div>
