<div id="datatypelibrary-dialog" class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Data Types</h3>
  </div>
  <form>
  <div class="form-group">
  <div class="modal-body">
        <div class="container" style="max-width: 100%; overflow-x: scroll; max-height: 200px; overflow-y: scroll;white-space:nowrap;">
           <div class="row">HL7 Version:{{hl7Version}}</div>
        <div class="row">
            <div class="col-sm-6">
<table st-table="datatypeLibsDisplay" st-safe-src="datatypeLibsStruct" st-sticky-header class="table table-striped table-bordered">
<thead>
  <tr class="row tbl-header">
    <th st-ratio="2">&nbsp;</th>
    <th st-ratio="48">Title</th>
    <th st-ratio="48">Scope</th>
  </tr>
</thead>
<tbody>
  <tr class="row" ng-repeat="dtLib in datatypeLibsDisplay">
    <td st-ratio="2"><input id="dtLib.id" name="dtLibs" type="radio" ng-model="selectedLib" ng-click="libSelected(dtLib)"/></td>
    <td st-ratio="48">{{dtLib.sectionTitle}}</td>
    <td st-ratio="48">{{dtLib.scope}}</td>
  </tr>
</tbody>
</table>
           </div>
             <div class="col-sm-6" ng-show="selectedLib">
<table st-table="datatypesDisplay" st-safe-src="selectedLib.children" st-sticky-header class="table table-striped table-bordered">
<thead>
  <tr class="row tbl-header">
    <th st-ratio="2">&nbsp;</th>
    <th st-ratio="48">Label</th>
    <th st-ratio="48">Ext</th>
  </tr>
</thead>
<tbody>
  <tr class="row" ng-repeat="dt in datatypesDisplay">
    <td st-ratio="2"><input value="1" name="datatypesDisplay.id" type="checkbox" ng-model="bool" ng-click="trackSelections(bool, dt)"/></td>
    <td st-ratio="48">{{dt.label}}</td>
    <td st-ratio="48">{{dt.ext}}</td>
  </tr>
</tbody>
</table>
           </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="okDisabled" type="button" ng-click="ok()">Ok</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</div>
</div>
</div>
</form>
</div>
</div>